<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
		<style type="text/css">
			.row {
				background-color: #F7FFFF;
				height: 55px;
				width: 1515px;
			}
			
			.row div:nth-of-type(1) {
				padding-left: 75px;
				padding-top: 10px;
			}
			
			.row div:nth-of-type(2) {
				padding-top: 10px;
				padding-left: 50px;
			}
			
			.row div:nth-of-type(3) {
				padding-top: 10px;
				padding-left: 50px;
			}
			
			.row div:nth-of-type(4) {
				padding-top: 10px;
				padding-left: 0px;
			}
			
			.row1 {
				background-color: #F7F7F7;
				height: 695px;
			}
			
			.row1 div:nth-of-type(1) {
				padding-top: 10px;
			}
			
			.row1 div div:nth-of-type(1) {
				padding-top: 2px;
				margin-left: 45px;
			}
			
			.row1 div div:nth-of-type(2) {
				margin-left: 55px;
			}
			
			.show1 {
				margin-top: 25px;
				width: 1400px;
				height: 600px;
				background-color: white;
				margin-left: 60px;
			}
			
			.show1 table tr td {
				text-align: center;
			}
			
			#sys {
				width: 900px;
				height: 600px;
				background-color: #F7F7F7;
				position: absolute;
				top: 100px;
				left: 300px;
				border: 2px solid;
				border-radius: 15px;
				-moz-box-shadow: 2px 2px 10px #CCC;
				-webkit-box-shadow: 2px 2px 10px #CCC;
				box-shadow: 2px 2px 10px #CCC;
				display: none;
			}
			
			.men {
				height: 60px;
				padding-top: 12px;
				background-color: #848484;
				border-top-left-radius: 15px;
				border-top-right-radius: 15px;
			}
			
			.men1 {
				padding-top: 20px;
			}
			
			.men1 div:nth-of-type(1) {
				padding-left: 50px;
			}
			
			.men1 div:nth-of-type(2) {
				padding-left: 30px;
			}
			
			.shows {
				border-bottom-left-radius: 15px;
				border-bottom-right-radius: 15px;
			}
			
			#yuan {
				width: 900px;
				height: 600px;
				background-color: #F7F7F7;
				position: absolute;
				top: 100px;
				left: 300px;
				border: 2px solid;
				border-radius: 15px;
				-moz-box-shadow: 2px 2px 10px #CCC;
				-webkit-box-shadow: 2px 2px 10px #CCC;
				box-shadow: 2px 2px 10px #CCC;
				display: none;
			}
			
			.mens {
				margin-top: 25px;
				margin-left: 25px;
				background-color: white;
				width: 850px;
				height: 550px;
			}
			
			.mens div:nth-of-type(1) {
				margin-top: 20px;
			}
			
			.mens div:nth-of-type(2) {
				margin-top: 25px;
			}
			
			.mens div:nth-of-type(3) {
				margin-top: 25px;
			}
			
			.wo1 {}
			
			label {
				color: #4AC6CD;
				font-size: 15px;
				font-weight: 500;
			}
			
			form div {
				margin-top: 19px;
				margin-left: 10px;
			}
			
			#myModal1,
			#myModal4,
			#myModal3 {
				margin-top: 80px;
			}
			
			#model2 {
				width: 600px;
				height: 500px;
			}
			
			#mm1 table tr td {
				color: #000;
				display: inline-block;
				height: 34px;
				line-height: 34px;
				border: 1px solid #E8E8E8;
				margin-left: -4px;
				text-align: center;
				width: 150px;
			}
			
			#mm1 table tr td:nth-of-type(1) {
				background-color: #f7f7f7;
				width: 60px;
			}
			
			#mm1 table tr td:nth-of-type(2) {
				width: 90px;
			}
			
			#mm1 table tr td:nth-of-type(3) {
				width: 268px;
			}
			
			#mm1 table tr:nth-of-type(1) {
				background-color: darkturquoise;
			}
			
			#mm1 {
				height: 330px;
				margin-left: 4px;
			}
		</style>
	</head>

	<body>
		<div id="ctn">
			<div class="row">
				<div class="col-md-6" style="font-size: 25px;color: #1A2846;">通讯名录</div>
				<div class="col-md-4">
					<input type="text" class="form-control" placeholder="匹配工号/姓名" v-model="names">
				</div>
				<div class="col-md-1"><button class="btn btn-warning" @click="find()">搜索</button></div>
				<div class="col-md-1"><button class="btn">关闭</button></div>
			</div>
			<div class="row1">
				<div style="color: #686868;font-size:18px;">
					<div class="col-md-8" @click="show"><img src="../img/1.png" style="width: 20px;height: 15px;" /><span id="yes">门店选择</span></div>
					<div class="col-md-1" @click="update()"><img src="../img/2.png" style="width: 20px;height: 15px;" />保存</div>
					<div class="col-md-1" @click="show"><img src="../img/3.png" style="width: 20px;height: 15px;" /><span id="yes1">查询</span></div>
					<div class="col-md-1" @click="daochu()"><img src="../img/4.png" style="width: 20px;height: 15px;" />导出</div>
				</div>
				<div class="show1">
					<table class="table table-bordered">
						<tr style="background-color:#39CEDE;">
							<td width="70px"></td>
							<td>员工编号</td>
							<td>姓名</td>
							<td>分机/短号</td>
							<td>直机</td>
							<td>手机</td>
							<td>邮箱</td>
						</tr>
						<tr v-for="list in taffsdata" class="koko">
							<td style="background-color: #D6D6CE;"></td>
							<td v-else></td>
							<td><input type="text" style="border:0px;width: 100px;" v-model="list.yid"></td>
							<td><input type="text" style="border:0px;" v-model="list.yname"></td>
							<td><input type="text" style="border:0px;" v-model="list.yphone"></td>
							<td><input type="text" style="border:0px;width: 100px;" v-model="list.yjphone"></td>
							<td><input type="text" style="border:0px;" v-model="list.yphonenumber"></td>
							<td><input type="text" style="border:0px;" v-model="list.email"></td>
						</tr>
					</table>
				</div>
			</div>
			<div id="sys">
				<div class="men">
					<div class="col-md-6" style="font-size: 25px;color: #1A2846;">门店选择</div>
					<div class="col-md-4">
						<input type="text" class="form-control" placeholder="匹配门店编码/门店姓名" v-model="namess">
					</div>
					<div class="col-md-1"><button class="btn btn-danger" @click="findByAll()">搜索</button></div>
					<div class="col-md-1"><button class="btn" id="no">关闭</button></div>
				</div>
				<div class="men1" style="background-color:#F7F7F7;height: 60px;">
					<button class="btn btn-success col-md-2" style="width: 70px;" @click="findById()">
					<span style="font-size: 16px;">确定</span>
					</button>
					<div style="color: #686868;font-size:18px;" class="col-md-10">
						<div class="col-md-6"></div>
						<div class="col-md-3" @click="quan"><img src="../img/1.png" />全部选择</div>
						<div class="col-md-3" @click="qu"><img src="../img/1.png" />全部取消</div>
					</div>
				</div>
				<div class="shows" style="height: 480px;">
					<table class="table table-bordered">
						<tr style="background-color:#39CEDE;">
							<td width="70px"></td>
							<td>选择</td>
							<td>门店代码</td>
							<td>门店名称</td>
							<td>所在城市</td>
						</tr>
						<tr v-for="o in organ">
							<td style="background-color: #D6D6CE;"></td>
							<td><input type="checkbox" :checked="bool" v-model="shu" :value="o.zid"></td>
							<td>{{o.zid}}</td>
							<td>{{o.zname}}</td>
							<td>{{o.mcityid}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div id="yuan">
				<div class="mens">
					<div class="col-md-10" style="font-size: 25px;color: #1A2846;">员工查询</div>
					<div class="col-md-1"><button class="btn btn-success" @click="findId()" id="no1">确定</button></div>
					<div class="col-md-1"><button class="btn" id="no1" @click="jkl1">关闭</button></div>
					<div class="wo1">
						<form class="form-inline">
							<div class="form-group">
								<label for="exampleInputName1">员工编号</label>
								<input type="text" class="form-control" id="exampleInputName1" v-model="taff.yid">
							</div>
							<div class="form-group">
								<label for="exampleInputName2">员工姓名</label>
								<input type="text" class="form-control" id="exampleInputName2" v-model="taff.yname">
							</div>
							<div class="form-group">
								<label for="exampleInputName3">员工性别</label>
								<input type="text" class="form-control" id="exampleInputName3" v-model="taff.ysex">
							</div>
							<div class="form-group" style="margin-left: 39px;">
								<label for="exampleInputName4">岗位</label>
								<select style="width: 200px;height: 30px;" v-model="taff.gid">
									<option selected="selected" disabled="disabled" style="display: none;" value=""></option>
									<option v-for="item in list1" :value="item.gid">{{item.gname}}</option>
								</select>
							</div>
							<div class="form-group">
								<label for="exampleInputName5">所在部门</label>
								<a href="#myModal3" data-toggle="modal">
									<input type="text" class="form-control" id="exampleInputName5" style="width: 200px;height: 30px" v-model="post3.bname">
								</a>
							</div>
							<div class="form-group">
								<label for="exampleInputName6">身体状况</label>
								<input type="text" class="form-control" id="exampleInputName6" v-model="taff.yhealth">
							</div>
							<div class="form-group" style="margin-left: 39px;">
								<label for="exampleInputName7">籍贯</label>
								<select style="width: 200px;height: 30px;" v-model="taff.jnativplaceid">
									<option selected="selected" disabled="disabled" style="display: none;" value=""></option>
									<option v-for="item in list2" :value="item.jnativplaceid">{{item.jname}}</option>
								</select>
							</div>
							<div class="form-group" style="margin-left: 39px;">
								<label for="exampleInputName8">民族</label>
								<select style="width: 200px;height: 30px;" v-model="taff.nationid">
									<option selected="selected" disabled="disabled" style="display: none;" value=""></option>
									<option v-for="item in list3" :value="item.nationid">{{item.name}}</option>
								</select>
							</div>
							<div class="form-group" style="margin-left: 39px;">
								<label for="exampleInputName9">婚姻</label>
								<select style="width: 200px;height: 30px;" v-model="taff.marriageid">
									<option selected="selected" disabled="disabled" style="display: none;" value=""></option>
									<option v-for="item in list4" :value="item.marriageid">{{item.name}}</option>
								</select>
							</div>
							<div class="form-group" style="margin-left: 39px;">
								<label for="exampleInputName10">学历</label>
								<select style="width: 200px;height: 30px;" v-model="taff.educationid">
									<option selected="selected" disabled="disabled" style="display: none;" value=""></option>
									<option v-for="item in list5" :value="item.educationid">{{item.name}}</option>
								</select>
							</div>
							<div class="form-group" style="margin-left: 39px;">
								<label for="exampleInputName11">学校</label>
								<select style="width: 200px;height: 30px;" v-model="taff.schoolid">
									<option selected="selected" disabled="disabled" style="display: none;" value=""></option>
									<option v-for="item in list6" :value="item.schoolid">{{item.name}}</option>
								</select>
							</div>
							<div class="form-group" style="margin-left: 39px;">
								<label for="exampleInputName12">专业</label>
								<select style="width: 200px;height: 30px;">
									<option selected="selected" disabled="disabled" style="display: none;" value=""></option>
									<option>计算机科学与技术</option>
									<option>网络工程</option>
									<option>生命起源</option>
								</select>
							</div>
							<div class="form-group" style="margin-left: 10px;">
								<label for="exampleInputName13">专业资格</label>
								<select style="width: 200px;height: 30px;" v-model="taff.specialtynid">
									<option selected="selected" disabled="disabled" style="display: none;" value=""></option>
									<option v-for="item in list7" :value="item.specialtynid">{{item.name}}</option>
								</select>
							</div>
							<div class="form-group" style="margin-left: 38px;">
								<label for="exampleInputName14">生日</label>
								<input type="date" class="form-control" id="exampleInputName14" style="width: 200px;">
							</div>
							<div class="form-group" style="margin-left: 38px;">
								<label for="exampleInputName15">学位</label>
								<select style="width: 200px;height: 30px;" v-model="taff.collegeid">
									<option selected="selected" disabled="disabled" style="display: none;" value=""></option>
									<option v-for="item in list8" :value="item.collegeid">{{item.name}}</option>
								</select>
							</div>
							<div class="form-group" style="margin-left: 38px;">
								<label for="exampleInputName16">编制</label>
								<select style="width: 200px;height: 30px;">
									<option selected="selected" disabled="disabled" style="display: none;" value=""></option>
									<option>管理人员</option>
									<option>销售人员</option>
									<option>维修人员</option>
								</select>
							</div>
							<div class="form-group" style="margin-left: 10px;">
								<label for="exampleInputName17">入职日期从</label>
								<input type="date" class="form-control" id="exampleInputName17" style="width: 215px;">
							</div>
							<div class="form-group" style="margin-left: 10px;">
								<label for="exampleInputName18">至</label>
								<input type="date" class="form-control" id="exampleInputName18" style="width: 215px;">
							</div>
							<div class="form-group">
								<label for="exampleInputName19">身份证号</label>
								<input type="text" class="form-control" id="exampleInputName19">
							</div>
							<div class="form-group" style="margin-left: 10px;">
								<label for="exampleInputName20">试用到期从</label>
								<input type="date" class="form-control" id="exampleInputName20" style="width: 215px;">
							</div>
							<div class="form-group" style="margin-left: 10px;">
								<label for="exampleInputName21">至</label>
								<input type="date" class="form-control" id="exampleInputName21" style="width: 215px;">
							</div>
							<div class="form-group" style="margin-left: 38px;">
								<label for="exampleInputName22">属性</label>
								<select style="width: 200px;height: 30px;">
									<option selected="selected" disabled="disabled" style="display: none;" value=""></option>
									<option>记考勤不计薪</option>
									<option>不计考勤计薪</option>
									<option>不计薪记考勤</option>
								</select>
							</div>
							<div class="form-group" style="margin-left: 10px;">
								<label for="exampleInputName23">合同开始从</label>
								<input type="date" class="form-control" id="exampleInputName23" style="width: 215px;">
							</div>
							<div class="form-group" style="margin-left: 10px;">
								<label for="exampleInputName24">至</label>
								<input type="date" class="form-control" id="exampleInputName24" style="width: 215px;">
							</div>
							<div class="form-group" style="margin-left: 38px;">
								<label for="exampleInputName25">身高</label>
								<input type="text" class="form-control" id="exampleInputName25">
							</div>
						</form>
					</div>
				</div>
			</div>
			<!--<div class="modal" id="myModal3" data-backdrop>
				<div class="modal-dialog">
					<div class="modal-content" id="model2">
						<span class="close" data-dismiss="modal">&times;</span>
						<div class="modal-header">
							<div class="col-md-10">
								<h4>部门选择</h4></div>
							<div class="col-md-2">
								<button class="btn btn-default" type="submit" @click="lizhibb1()" data-dismiss="modal">选择</button>
							</div>
						</div>
						<div class="modal-body">
							<form class="form-horizontal">
								<div style="background-color:#f7f7f7;height: 40px;line-height: 40px;padding-left: 20px;">
									<select class="aa8" style="height: 25px;width: 300px;" @change="lizhibb(selected)" v-model="selected">
										<option selected="selected" disabled="disabled" style="display: none;" value=""></option>
										<option v-for="item in post1" :value="item.bid">{{item.bname}}</option>
									</select>
								</div>
								<div id="mm1">
									<table>
										<tr>
											<td style="background-color:darkturquoise;">选择</td>
											<td>部门编码</td>
											<td>部门名称</td>
											<td>部门分类</td>
										</tr>
										<tr v-for="item in post">
											<td><input type="checkbox" @click="dian(item.bid)"></td>
											<td>{{item.bid}}</td>
											<td>{{item.bname}}</td>
											<td>{{item.b1}}</td>
										</tr>
									</table>
								</div>
							</form>
						</div>
						<div class="modal-footer" style="padding: 0px;">
							<div style="background-color: #f7f7f7;text-align: right;width: 600;height: 50px;line-height: 50px;padding-right: 505px;">
								合计:3条记录
							</div>
						</div>
					</div>
				</div>
			</div>-->
		</div>
		<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/vue.js"></script>
		<script type="text/javascript">
			function my(id) {
				return document.getElementById(id);
			}
			my("no").onclick = function() {
				my("sys").style.display = "none";
			}
			my("yes").onclick = function() {
				my("sys").style.display = "block";
			}
			my("no1").onclick = function() {
				my("yuan").style.display = "none";
			}
			my("yes1").onclick = function() {
				my("yuan").style.display = "block";
			}
			new Vue({
				el: "#ctn",
				data() {
					return {
						bool: false,
						taffsdata: [{
							bu: {

							}
						}],
						taff: {},
						list1: {},
						list2: {},
						list3: {},
						list4: {},
						list5: {},
						list6: {},
						list7: {},
						list8: {},
						organ: {},
						post: {},
						post1: {},
						post2: {},
						post3: {},
						id: 0,
						shu: [],
						names: "",
						namess:"",
						selected:""
					}
				},
				methods: {
					jkl1(){
						$("#yuan").css("display","none");
					},
					dian(cid) {
						this.id = cid;
					},
					findById() {
						var that = this;
						var json = JSON.stringify(that.shu);
						$.ajax({
							url: "http://127.0.0.1:8080/staffData/findById",
							data: json,
							type: "post",
							contentType: "application/json;charset=utf-8",
							success: function(result) {
								that.taffsdata = result;
								$("#sys").css("display", "none");
							}
						});
						
					},
					update() {
						var that = this;
						var json = JSON.stringify(that.taffsdata);
						$.ajax({
							url: "http://127.0.0.1:8080/staffData/update",
							data: json,
							type: "post",
							contentType: "application/json;charset=utf-8",
							success: function(result) {
								if(result) {
									alert("修改成功!");
									that.find();
								} else {
									alert("修改失败!");
								}
							}
						});
					},
					findByAll() {
						var that = this;
						$.ajax({
							url: "http://127.0.0.1:8080/lizhiyuanyingbiao/findsd",
							type: "post",
							data: {
								name: that.namess
							},
							dataType: "json",
							success: function(result) {
								that.organ = result;
							}
						});
					},
					find() {
						var that = this;
						$.ajax({
							url: "http://127.0.0.1:8080/staffData/find",
							type: "post",
							dataType: "json",
							data: {
								name: that.names
							},
							xhrFields: {
								withCredentials: true
							},
							success: function(result) {
								that.taffsdata = result;
							}
						});
					},
					findId() {
						var that = this;
						$.ajax({
							url: "http://127.0.0.1:8080/staffData/findId",
							data: that.taff,
							type: "post",
							success: function(result) {
								that.taffsdata = result;
								$("#yuan").css("display", "none");
							}
						});
					},
					quan() {
						this.bool = true;
					},
					qu() {
						this.bool = false;
					},
					show() {
						my("no").onclick = function() {
							my("sys").style.display = "none";
						}
						my("yes").onclick = function() {
							my("sys").style.display = "block";
						}
						my("no1").onclick = function() {
							my("yuan").style.display = "none";
						}
						my("yes1").onclick = function() {
							my("yuan").style.display = "block";
						}
					},
					daochu() {
						window.location.href="http://127.0.0.1:8080/staffData/daochu";
					},
//					lizhiB() {
//						var that = this;
//						$.ajax({
//							url: "http://127.0.0.1:8080/lizhiyuanyingbiao/lizhib",
//							type: "post",
//							dataType: "json",
//							xhrFields: {
//								withCredentials: true
//							},
//							success: function(result) {
//								that.post = result;
//							}
//						});
//					},
//					lizhiB1() {
//						var that = this;
//						$.ajax({
//							url: "http://127.0.0.1:8080/lizhiyuanyingbiao/lizhibu",
//							type: "post",
//							dataType: "json",
//							xhrFields: {
//								withCredentials: true
//							},
//							success: function(result) {
//								that.post1 = result;
//							}
//						});
//					},
					lizhibb(id) {
						var that = this;
						that.id = id;
						$.ajax({
							url: "http://127.0.0.1:8080/lizhiyuanyingbiao/lizhibuxuan/" + id,
							type: "post",
							xhrFields: {
								withCredentials: true
							},
							success: function(result) {
								that.post = result;
							}
						});
					},
					lizhibb1() {
						var that = this;
						$.ajax({
							url: "http://127.0.0.1:8080/lizhiyuanyingbiao/lizhib1/" + that.id,
							type: "post",
							xhrFields: {
								withCredentials: true
							},
							success: function(result) {
								that.post3 = result;
							}
						});
					},
					query1() {
						var that = this;
						$.ajax({
							url: "http://127.0.0.1:8080/yuangongziliaobiao/gfind",
							type: "post",
							xhrFields: {
								withCredentials: true
							},
							success: function(result) {
								that.list1 = result;
							}
						});
					},
					query2() {
						var that = this;
						$.ajax({
							url: "http://127.0.0.1:8080/yuangongziliaobiao/jfind",
							type: "post",
							xhrFields: {
								withCredentials: true
							},
							success: function(result) {
								that.list2 = result;
							}
						});
					},
					query3() {
						var that = this;
						$.ajax({
							url: "http://127.0.0.1:8080/yuangongziliaobiao/mfind",
							type: "post",
							xhrFields: {
								withCredentials: true
							},
							success: function(result) {
								that.list3 = result;
							}
						});
					},
					query4() {
						var that = this;
						$.ajax({
							url: "http://127.0.0.1:8080/yuangongziliaobiao/hfind",
							type: "post",
							xhrFields: {
								withCredentials: true
							},
							success: function(result) {
								that.list4 = result;
							}
						});
					},
					query5() {
						var that = this;
						$.ajax({
							url: "http://127.0.0.1:8080/yuangongziliaobiao/xfind",
							type: "post",
							xhrFields: {
								withCredentials: true
							},
							success: function(result) {
								that.list5 = result;
							}
						});
					},
					query6() {
						var that = this;
						$.ajax({
							url: "http://127.0.0.1:8080/yuangongziliaobiao/bfind",
							type: "post",
							xhrFields: {
								withCredentials: true
							},
							success: function(result) {
								that.list6 = result;
							}
						});
					},
					query7() {
						var that = this;
						$.ajax({
							url: "http://127.0.0.1:8080/yuangongziliaobiao/zfind",
							type: "post",
							xhrFields: {
								withCredentials: true
							},
							success: function(result) {
								that.list7 = result;
							}
						});
					},
					query8() {
						var that = this;
						$.ajax({
							url: "http://127.0.0.1:8080/yuangongziliaobiao/xwfind",
							type: "post",
							xhrFields: {
								withCredentials: true
							},
							success: function(result) {
								that.list8 = result;
							}
						});
					}
				},
				created() {
					this.find();
					this.findByAll();
//					this.lizhiB();
//					this.lizhiB1();
					this.query1();
					this.query2();
					this.query3();
					this.query4();
					this.query5();
					this.query6();
					this.query7();
					this.query8();
				}
			});
		</script>
	</body>

</html>