<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
	<head>
		<meta charset="UTF-8">
		<title>管理员登陆</title>
		<style type="text/css">
			body,html{
				margin: 0px;
				padding: 0px;
			}
			
			div{
				border: 0px solid red;
			}
			
			#center{
				width: 100%;
				height: 800px;
				text-align: center;
				
			}
			
			
			
			.form-group{
				text-align: center;
				width: 100%;
				height: 100%;
			}
			
			.text{
				width: 45px;
			}
			
			#a{
				border: 0px solid red;
				height: 60%;
				margin-left: 35%;
				width: 29%;
				padding: 60px;
				background: url(img/后台登录/u0.png)no-repeat; 
			}
		</style>
	</head>
	<body>
		<div id="center">
				<br /><br />
				<h1>管理员登陆</h1>
				<br />
			<div class="form-group">
				<div id="a">
				    <form class="form-inline">
				    	<label class="text" for="exampleInputEmail2">用户名</label>
				   		<input type="text" class="form-control" v-model="user.userLogin" id="adminname" placeholder="用户名">
				    </form>
				    <br />
				    <form class="form-inline">
				    	<label class="text" for="exampleInputEmail2">密码</label>
				   		<input type="password" class="form-control" v-model="user.userPwd" id="adminpassword" placeholder="密码">
				    </form>
				    <br />
				    <br />
				    <div>
						<button class="btn btn-info" @click="login">登陆</button>
				    </div>
			    </div>
			  </div>
			</div>
		
<script type="text/javascript" src="js/jquery-1.12.4.js" ></script>
<script type="text/javascript" src="js/bootstrap.min.js" ></script>
<script type="text/javascript" src="js/vue.js" ></script>
<script>
	var baseUrl = "http://127.0.0.1:8080/";
	var user = sessionStorage.getItem("user");
	new Vue({
		el:"#center",
		data(){
			return{
				user:{},
			}
		},
		methods:{
			login(){
				let that = this;
				$.ajax({
					url:baseUrl+"dzwUser/find",
					data:that.user,
					type:"post",
					dataType:"json",
					success:function(result){
						if(result!=null){
							sessionStorage.setItem("user",JSON.stringify(result));
						}else{
							alert("用户名或者密码不正确，请重新登录。");
						}
						console.log(result);
					},error:function(){
						alert("用户名或者密码不正确，请重新登录。");
					}
				});
			}
		}
	})
	
</script>
	</body>
</html>
