<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<style type="text/css">
			.ddiv{
				border: 1px solid #CCCCCC;
				line-height: 35px;
				color: #888888;
			}
			.ddiv span{
				margin-left: 50px;
			}
			.ddiv span:first-child{
				color: #337AB7;
				border-top: 3px solid #337AB7;
				padding-top: 5px;
			}
		</style>
	</head>
	<body>
		<div id="ctn">
			<div style="padding-right: 50px;">
				<span style="color: #84DA21; font-size: 25px;">站外援助单</span>
				<button class="btn btn-info" style="float: right;">取消</button>
			</div>
			<div>单号:<span>000000RE2100055621</span></div>
			<div>
				<form class="form-inline">
					车牌号：<input class="form-control"/>车辆型号：<input class="form-control"/>车辆品牌：<input class="form-control"/>发动机品牌：<input class="form-control"/><br />
					车架号：<input class="form-control"/>发动机号：<input class="form-control"/>服务顾问：<input class="form-control"/>车主名：<input class="form-control"/><br />
					驾驶员：<input class="form-control"/>手&nbsp;机 &nbsp;号：<input class="form-control"/>派工时间<input class="form-control"/>业务类型<input class="form-control"/><br/>
					施工班次<input class="form-control"/>当前里程<input class="form-control"/>预计完工<input class="form-control"/>结算方式：<input class="form-control"/><br />
					派工班组<input class="form-control"/>出发时间<input class="form-control"/>出发地址<input class="form-control"/>驾驶车辆<input class="form-control"/><br />
					行驶里程<input class="form-control"/>施工时间<input class="form-control"/>援助地址<input class="form-control"/>完工时间<input class="form-control"/><br />
					预计金额<input class="form-control"/>备注<input class="form-control"/><br />
					救援描述<textarea rows="3" cols="130" class="form-control"></textarea>
				</form>
			</div>
			<div>
				<div class="ddiv"><span @click="tables(1)">维修项目</span><span @click="tables(2)">领料情况</span><span @click="tables(3)">结算信息</span></div>
				<table v-if="this.tab==1" class="table table-striped">
					<tr>
						<td>选择</td>
						<td>项目编码</td>
						<td>项目名称</td>
						<td>数量</td>
						<td>价类</td>
						<td>单价</td>
						<td>金额</td>
						<td>技师结算价</td>
						<td>故障描述</td>
						<td>故障原因</td>
						<td>维修机组</td>
						<td>作业人员</td>
						<td>服务顾问</td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td>s0226</td>
						<td>wu</td>
						<td>22</td>
						<td>ss</td>
						<td>260</td>
						<td>62632</td>
						<td>100</td>
						<td>1</td>
						<td>wu</td>
						<td>1-001</td>
						<td>黄磊2</td>
						<td>黄涛2</td>
					</tr>
				</table>
				
				<table v-if="this.tab==2" class="table table-striped">
					<tr>
						<td>选择</td>
						<td>项目编码</td>
						<td>项目名称</td>
						<td>数量</td>
						<td>价类</td>
						<td>单价</td>
						<td>金额</td>
						<td>技师结算价</td>
						<td>故障描述</td>
						<td>故障原因</td>
						<td>维修机组</td>
						<td>作业人员</td>
						<td>服务顾问</td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td>s0226</td>
						<td>wu</td>
						<td>22</td>
						<td>ss</td>
						<td>260</td>
						<td>62632</td>
						<td>100</td>
						<td>1</td>
						<td>wu</td>
						<td>1-001</td>
						<td>黄磊3</td>
						<td>黄涛3</td>
					</tr>
				</table>
				
				
				<table v-if="this.tab==3" class="table table-striped">
					<tr>
						<td>选择</td>
						<td>项目编码</td>
						<td>项目名称</td>
						<td>数量</td>
						<td>价类</td>
						<td>单价</td>
						<td>金额</td>
						<td>技师结算价</td>
						<td>故障描述</td>
						<td>故障原因</td>
						<td>维修机组</td>
						<td>作业人员</td>
						<td>服务顾问</td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td>s0226</td>
						<td>wu</td>
						<td>22</td>
						<td>ss</td>
						<td>260</td>
						<td>62632</td>	
						<td>100</td>
						<td>1</td>
						<td>wu</td>
						<td>1-001</td>
						<td>黄磊</td>
						<td>黄涛</td>
					</tr>
				</table>
			</div>
		</div>
		<script type="text/javascript" src="js/jquery-1.12.4.js" ></script>
		<script type="text/javascript" src="js/vue.js" ></script>
		<script type="text/javascript" src="js/bootstrap.min.js" ></script>
		<script>
			new Vue({
				el:"#ctn",
				data(){
					return{
						tab:1
					}
				},
				methods:{
					tables(i){
						this.tab=i;
					}
				}
			});
		</script>
	</body>
</html>
