<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<style>
			body{
				margin: 0px;
				padding: 0px;
				background-color: #F7F7F7;
			}
			.iframe{
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				border: 0px;
			}
			.div-shoyin{
				position: absolute;
				top:20px;
				left: 350px;
				border: 1px solid #337AB7;
				width: 575px;
				height: 520px;
				background-color:#FFFFFF ;
			}
			.input1 input{
				width: 100px;
			}
			.table1 td{
				padding-right: 10px;
			}
			.div3{
				background-color: #FFFFFF;
				padding: 15px;
			}
			.divdayin{
				width: 400px;
				height: 220px;
				border: 1px solid;
				position: absolute;
				top: 150px;
				left: 80px;
				background-color: #FFFFFF;
				padding: 25px;
			}
			.divdayin-02{
				width: 400px;
				height: 280px;
				border: 1px solid;
				position: absolute;
				top: 150px;
				left: 80px;
				background-color: #FFFFFF;
				padding: 25px;
			}
			.btnn button{
				margin-right: 30px;
			}
			.btnn{
				margin-left: 50px;
			}
		</style>
	</head>
	<body>
		<div id="ctn">
			<div style="background-color: #FFFFFF; margin: 0px;">
				<h2 style="margin: 0px;color:#337AB7;line-height: 48px; margin-left: 20px;">结算中心</h2>
			</div>
			<div style="margin-left: 20px;">
				<form class="form-inline">
					 <div class="form-group">
					    <label>开单日期：</label>
					    <input type="date" v-model="bill.date1" class="form-control">~
					    <input type="date" v-model="bill.date2" class="form-control">
					 </div>
					 <div class="form-group">
					    <label>销售单号：</label>
					    <input type="text" class="form-control" v-model="bill.no">
					  </div>
					  <div class="form-group">
					    <label>结算状态：</label>
					    <select class="form-control">
					    	<option>已结算</option>
					    	<option>未结算</option>
					    </select>
					  </div>
					  <div class="form-group">
					    <label>车牌号：</label>
					    <input type="text" v-model="bill.chepaiNo" class="form-control">
					  </div>
					   <br /><br />
					  <div class="form-group">
					    <label>客户名称：</label>
					    <input type="text" v-model="bill.name" class="form-control">
					  </div>
					  <div class="form-group">
					    <label>结算人：</label>
					    <input type="text" v-model="bill.jiesuanRen" class="form-control">
					  </div>
					  <div class="form-group">
					    <label>业务类型：</label>
					    <select class="form-control">
					    	
					    </select>
					  </div>
					  <div class="form-group">
					    <label>单据类型：</label>
					    <select class="form-control">
					    	
					    </select>
					  </div>
					  <div class="form-group">
					    <label>备注：</label>
					    <input type="text" v-model="bill.remark" class="form-control">
					  </div>
				</form>
			</div>
			<div style="margin-left: 20px;">
				<span @click="daxxx"><button class="btn btn-primary">门店选择</button></span>
				<span @click="out"><button class="btn btn-success">收银</button></span>
				<button class="btn btn-danger" @click="reset">重置</button>
				<button class="btn btn-info" @click="find">查询</button>
			</div>
			<div style="margin-left: 20px;">
				<table class="table table-bordered">
					<tr>
						<td>选择</td>
						<td>销售单号</td>
						<td>单据类型</td>
						<td>结算方式</td>
						<td>单据状态</td>
						<td>结算状态</td>
						<td>结算时间</td>
						<td>结算人</td>
						<td>结算金额</td>
						<td>业务类型</td>
						<td>客户名称</td>
						<td>车牌号</td>
						<td>车型</td>
						<td>车架号</td>
						<td>联系电话</td>
						<td>保险公司</td>
						<td>赔款公司</td>
						<td>对方车牌</td>
						<td>服务顾问</td>
						<td>完工时间</td>
						<td>备注</td>
					</tr>
					<tr v-for="item in list" @click="sel(item)">
						<td><input @click="givemoney(item)" v-if="item.documentsState==2" type="checkbox"></td>
						<td>{{item.no}}</td>
						<td>{{item.dtype}}</td>
						<td>{{item.btype}}</td>
						<td>{{item.dstate}}</td>
						<td>{{item.bstate}}</td>
						<td>{{item.jiesuanTime}}</td>
						<td>{{item.jiesuanRen}}</td>
						<td>{{item.amount}}</td>
						<td>{{item.yewulx}}s</td>
						<td>{{item.keihuName}}</td>
						<td></td>
						<td>{{item.chexin}}</td>
						<td>{{item.chejiaoNo}}</td>
						<td>{{item.phone}}</td>
						<td>{{item.bxCompany}}</td>
						<td>{{item.pkCompany}}</td>
						<td>{{item.duifanchepai}}</td>
						<td>{{item.counsellor}}</td>
						<td>{{item.completionTime}}</td>
						<td>{{item.remark}}</td>
					</tr>
				</table>
			</div>
			
			<!--收银模态框-->
			<div class="div-shoyin" v-if="this.x">
				<div style="background-color: #337AB7;color: #FFFFFF;">前台收银<span style="float: right;font-size: 15px;" @click="out">&times;&nbsp;</span></div>
				<div>
					<div class="div3">
						<table class="table1">
							<tr>
								<td>客总费</td>
								<td>税率（%）</td>
								<td>加税金</td>
								<td>抹尾数</td>
								<td>积分抵扣（元）</td>
							</tr>
							<tr class="input1">
								<form class="form-inline">
									<td><input disabled class="form-control" v-model="data.amount"></td>
									<td><input class="form-control"></td>
									<td><input disabled class="form-control"></td>
									<td><input disabled class="form-control"></td>
									<td><input class="form-control"></td>
								</form>
							</tr>
						</table>
						<br />
						<div style="margin-left: 150px;">
							<span>应收金额:</span>
							<span style="color: red;font-style: oblique;">6000000</span>

						</div>
						<div>
							<form class="form-inline" style="margin-left: 150px;">
								结算状态：
								<select class="form-control">
									<option>正常结算</option>
								</select>
							</form>
						</div>
						<br />
						<div style="margin-left: 100px;">
							<button class="btn btn-primary" style="width: 80px;" @click="weixin">微信</button>
							<button class="btn btn-info" style="width: 80px;margin-left: 120px;" @click="zhifu">支付宝</button>
						</div>
						<br />
						<div style="margin-left: 150px;">
							<img v-if="this.img1" id="img1" src="img/42958655ea45a696edf23fc3606a873.png" height="260px" />
							<img v-if="this.img2" id="img2" src="img/90cf1be414bae73600c0d591c8c3c8e.jpg" height="260px" style="margin-left: 15px;"/>
						</div>
						<div>
							<button class="btn-success" @click="guanbi(true)">打印</button>
						</div>
						<div v-if="this.xx" class="divdayin">
							<div style="color: #5CB85C;padding-left: 5px; font-size: 25px;border-left:4px solid #84DA21 ;">打印报表<span @click="guanbi(false)" style="float: right;color: #000000;">&times;</span></div>
							<div>
								<form class="form-inline">
									<br />
									<div>
										<select class="form-control" style="width: 150px;margin-left: 90px;">
											<option>小票</option>
											<option>大票</option>
											<option>收据</option>
										</select>
									</div>
									<br /><br />
									<div class="btnn">
										<a class="btn btn-success" onclick="tiao()" style="margin-right: 30px;">打印</a>
										<button class="btn btn-success">预览</button>
										<button class="btn btn-success">设计</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--门店选择-->
			<div>
				<div v-if="this.xxx" class="divdayin-02">
							<div style="color: #5CB85C;padding-left: 5px; font-size: 25px;border-left:4px solid #84DA21 ;">门店选择<span @click="guanxxx(false)" style="float: right;color: #000000;">&times;</span></div>
							<div>
								<table class="table table-striped">
									<tr>
										<td>选择</td>
										<td>编号</td>
										<td>门店名称</td>
										<td>所在城市</td>
									</tr>
									<tr>
										<td><input type="checkbox"></td>
										<td>s001</td>
										<td>sanuifd</td>
										<td>天津</td>
									</tr>
									<tr>
										<td><input type="checkbox"></td>
										<td>s001</td>
										<td>sanuifd</td>
										<td>天津</td>
									</tr>
									<tr>
										<td><input type="checkbox"></td>
										<td>s001</td>
										<td>sanuifd</td>
										<td>天津</td>
									</tr>
									<tr>
										<td><input type="checkbox"></td>
										<td>s001</td>
										<td>sanuifd</td>
										<td>天津</td>
									</tr>
								</table>
							</div>
						</div>
			</div>
			
			<iframe v-if="f" src="weixuidan.html" class="iframe">
			</iframe>
			
		</div>
		<script type="text/javascript" src="js/jquery-1.12.4.js" ></script>
		<script type="text/javascript" src="js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="js/vue.js" ></script>
		<script>
			new Vue({
				el:"#ctn",
				data(){
					return{
						img1:true,
						img2:false,
						x:false,
						xx:false,
						xxx:false,
						list:[],
						bill:{
							
						},
						data:{
							shuilu:1.13,
							jiashuijin:0,
							moweisu:0
						},
						f:false,
						ff:{
							
						}
					}
				},
				methods:{
					zhifu(){
						this.img2=true;
						this.img1=false;
					},
					weixin(){
						this.img2=false;
						this.img1=true;
					},
					out(){
						if(this.x){
							this.x=false;
						}else{
							this.x=true;
						}
						
					},
					guanbi(i){
						this.xx=i;
					},
					dayin(){
						//location.href="维修结算单.html";
						//window.print();
					},
					daxxx(){
						this.xxx=true;
					},
					guanxxx(){
						this.xxx=false;
					},
					reset(){
						this.bill={};
					},
					find(){
						let that=this;
						var json=JSON.stringify(this.bill);
						$.ajax({
							url:"http://127.0.0.1:8080/repairBill/find",
							type:"post",
							data:that.bill,
							success:function(result){
								console.log(result);
								that.list=result;
							}
						});
					},
					givemoney(item){
						this.data=item;
						this.data.jiashuijin=this.data.amount*this.data.shuilu/100;
						this.data.moweisu=this.data.amount.substring(this.data.amount.length -1);
						console.log(this.data);
					},
					sel(item){
						if(this.f){
							this.f=false;
						}else{
							this.f=true;
						}
					}
				},
				created(){
					this.find();
				},
				watch:{
					
				}
			});
			function tiao(){
				location.href="维修结算单.html";
				return true;
			}
		</script>
	</body>
</html>
