<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
	</head>
	<body>
		<div id="div">
			<div class="" style="margin: 20px 5px;">
				<span class="btn btn-success" @click="find(1)">导航模块</span>
				<span class="btn btn-danger" @click="find(2)">左侧模块</span>
				<input  class="form-control" style="width: 200px;display: inline-block;margin-left:40px;" v-model="name">
				<span class="btn btn-default" style="display: inline-block;" @click="query2">搜索</span>
			</div>
			<table class="table table-hover">
				<tr>
					<td>编号</td>
					<td>板块名称名称</td>
					<td>菜单类型(1为头部菜单,2为左侧菜单)</td>
					<td>操作</td>
				</tr>
				<tr v-for="item in list">
					<td>{{item.pvgid}}</td>
					<td>{{item.pvgName}}</td>
					<td>{{item.pvgType}}</td>
					<td>
						<span class="btn btn-success" @click="update(item)">编辑</span>
					</td>
				</tr>
			</table>
			<div class="modal" id="authModal2">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h3 class="text-danger">角色授权</h3>
						</div>
						<div class="modal-body">
							<div id="myTree2">
								<div class="form-group">
									<div id="a">
										<form class="form-inline">
											<label class="text col-lg-4" for="exampleInputEmail2">模块编号</label>
											<input  class="form-control" v-model="menus.pvgid">
										</form>
									    <form class="form-inline">
									    	<label class="text col-lg-4" for="exampleInputEmail2">模块名称</label>
									   		<input  class="form-control" v-model="menus.pvgName">
									    </form>
									    <form class="form-inline">
									    	<label class="text col-lg-4" for="exampleInputEmail2">模块类型(1父级,2子级)</label>
											头部菜单<input type="radio" name="type" id="" value="1" v-model="menus.pvgType" style="margin-left:5px;"/>
											左侧菜单<input type="radio" name="type" id="" value="2" v-model="menus.pvgType" style="margin-left:5px;"/>
									   		<!-- <input  class="form-control" v-model="menus.pvgType"> -->
									    </form>
								    </div>
								  </div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" @click="update2">修改</button>
							<button class="btn btn-danger" data-dismiss="modal">关闭</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script>
		var vm=new Vue({
			el:"#div",
			data(){
				return {
					list:[],
					menus:{},
					name:''
				}
			},
			methods:{
				find(pvgType){
					var that = this;
					$.ajax({
						url:"http://127.0.0.1:8080/dzwPrivilege/query",
						dataType:"json",
						data:{pvgType:pvgType},
						success:function(result){
							console.log(result);
							that.list=result;
						}
					})
				},
				update(item){
					this.menus=item;
					$("#authModal2").modal("show");
				},
				update2(){
					let that =this;
					that.menus.children=[];
					$.ajax({
						url:"http://127.0.0.1:8080/dzwPrivilege/update",
						data:that.menus,
						type:"post",
						dataType:"json",
						success:function(result){
							if(result==true){
								alert("修改成功！");
								$("#authModal2").modal("hide");
								that.find(1);
							}
						}
					})
				},
				query2(){
					let that =this;
					alert(that.name)
					$.ajax({
						url:"http://127.0.0.1:8080/dzwPrivilege/query2",
						data:{
							name:that.name
						},
						dataType:"json",
						success:function(result){
							that.list=result;
						}
					})
				}
			},
			created(){
				this.find(1);
			}
		})
	</script>
</html>
