<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" href="js/jstree/themes/default/style.min.css"/>
	</head>
	<body>
		<div id="ctn">
			<span class="btn btn-success"  @click="add()">添加</span>
			<table class="table table-hover">
				<tr>
					<td>编号</td>
					<td>角色名称</td>
					<td>角色描述</td>
					<td>操作</td>
				</tr>
				<tr v-for="item in list">
					<td>{{item.roleId}}</td>
					<td>{{item.roleName}}</td>
					<td>{{item.roleDesc}}</td>
					<td>
						<span class="btn btn-danger" @click="remove(item)">删除</span>
						<span class="btn btn-success" @click="auth(item)">授权</span>
						<span class="btn btn-primary"  @click="update(item)">编辑</span>
					</td>
				</tr>
			</table>
			<div class="modal" id="authModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h3 class="text-danger">角色授权</h3>
						</div>
						<div class="modal-body">
							<div id="myTree"></div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" @click="menu">授权</button>
							<button class="btn btn-danger" data-dismiss="modal">关闭</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal" id="authModal3">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h3 class="text-danger">角色授权</h3>
						</div>
						<div class="modal-body">
							<div id="myTree2">
								<div class="form-group">
									<div id="a">
										<form class="form-inline">
											<label class="text col-lg-2" for="exampleInputEmail2">角色编号</label>
											<input  class="form-control" v-model="role.roleId">
										</form>
									    <form class="form-inline">
									    	<label class="text col-lg-2" for="exampleInputEmail2">角色名称</label>
									   		<input  class="form-control" v-model="role.roleName">
									    </form>
									    <form class="form-inline">
									    	<label class="text col-lg-2" for="exampleInputEmail2">角色描述</label>
									   		<input  class="form-control" v-model="role.roleDesc">
									    </form>
										<form class="form-inline">
											<label class="text col-lg-2" for="exampleInputEmail2">角色状态</label>
											<input  class="form-control" v-model="role.status">
										</form>
								    </div>
								  </div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" @click="address()">添加</button>
							<button class="btn btn-danger" data-dismiss="modal">关闭</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal" id="authModal2">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h3 class="text-danger">角色授权</h3>
						</div>
						<div class="modal-body">
							<div id="myTree2">
								<div class="form-group">
									<div id="a">
										<form class="form-inline">
											<label class="text col-lg-2" for="exampleInputEmail2">角色编号</label>
											<input  class="form-control" v-model="dzwrole.roleId">
										</form>
									    <form class="form-inline">
									    	<label class="text col-lg-2" for="exampleInputEmail2">角色名称</label>
									   		<input  class="form-control" v-model="dzwrole.roleName">
									    </form>
									    <form class="form-inline">
									    	<label class="text col-lg-2" for="exampleInputEmail2">角色描述</label>
									   		<input  class="form-control" v-model="dzwrole.roleDesc">
									    </form>
										<form class="form-inline">
											<label class="text col-lg-2" for="exampleInputEmail2">角色状态</label>
											<input  class="form-control" v-model="dzwrole.status">
										</form>
								    </div>
								  </div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" @click="update2()">修改</button>
							<button class="btn btn-danger" data-dismiss="modal">关闭</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jstree/jstree.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue-perms.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/api/menu.js" type="text/javascript" charset="utf-8"></script>
		<script>
			var menuList = [];
			function findMenu(){
				var that = this;
				$.ajax({
					url:"http://127.0.0.1:8080/dzwPrivilege/find",
					dataType:"json",
					async:false,
					success:function(result){
						menuList=result.map(item=>{
							return {
								id:item.pvgid+"",
								parent:item.pid==0?"#":item.pid,
								text:item.pvgName,
								state:{
									selected:false
								}
							}
						});
					}
				})
			}
			//初始化当前系统中所有权限数据，数据变量为menuList
			findMenu();
			var vm = new Vue({
				el:"#ctn",
				data(){
					return {
						list:[],
						menuList:[],
						list:[],
						roleId:"",
						dzwrole:{},
						role:{}
					}
				},
				methods:{
					find(){
						var that = this;
						$.ajax({
							url:"http://127.0.0.1:8080/dzwRole/find",
							dataType:"json",
							crossDomain: true,
							success:function(result){
								that.list=result;
							}
						})
					},
					auth(item){
						
					/* 	var that = this;
						//获取选中元素
						var selected = $("#myTree").jstree(true).get_selected();
						//获取半选状态
						var undetermined = $("#myTree").jstree(true).get_undetermined();
						//将选中的和半选的元素进行和并到一个数组
						selected.push(...undetermined); */

						
						//取消全部被选中的节点
					 	$('#myTree').jstree(true).deselect_all();
						let that=this;
						//根据角色获取到对应的权限列表
						menuApi.findPerms(item.roleId,function(result){
							that.roleId=item.roleId;
							//只要集合中的编号作为选中的唯一表示
							//let selecedSet = result.filter(item=>item.pvgType==2).map(item=>item.pvgid);
							// let selecedSet = result.map(item=>{ if(item.pvgType !=1 && item.pvgType != 2) return item.pvgid});
							let selecedSet = result.filter(item=>item.pvgType!=1||item.pvgType != 2).map(item=>item.pvgid);
							//调用jstree的选中方法，可以传入集合
							$('#myTree').jstree(true).select_node(selecedSet);
						}); 
						//打开模态框
						$("#authModal").modal("show");
					},
					menu(){
						var selected = $("#myTree").jstree(true).get_selected();
						//获取半选状态
						var undetermined = $("#myTree").jstree(true).get_undetermined();
						//将选中的和半选的元素进行和并到一个数组
						selected.push(...undetermined);
						this.List=selected;
						console.log(this.List);
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/dzwRole/add/"+that.roleId,
							type:"post",
							data:JSON.stringify(that.List),
							contentType:"application/json;charset=utf-8",
							xhrFields: {
								withCredentials: true
							},
							crossDomain: true,
							success:function(result){
								if(result="0000"){
									alert("授权成功！");
									$("#authModal").modal("hide");
								}
							},
							error:function(){
							}
						});
					},
					add(){
						$("#authModal3").modal("show");
					},
					address(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/dzwRole/address",
							type:"post",
							data:JSON.stringify(that.role),
							contentType:"application/json;charset=utf-8",
							success:function(result){
								if(result=="0000"){
									$("#authModal3").modal("hide");
									that.find();
								}
							}
						})
					},
					remove(item){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/dzwRole/remove",
							type:"post",
							data:{roleId:item.roleId},
							success:function(result){
								if(result=="0000"){
									alert("删除成功！")
									that.find();
								}
							}
						})
					},
					update(item){
						$("#authModal2").modal("show");
						this.dzwrole=item;
					},
					update2(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/dzwRole/update",
							data:that.dzwrole,
							type:"post",
							dataType:"json",
							success:function(result){
								if(result==true){
									alert("修改成功！")
									$("#authModal2").modal("hide");
									that.find();
								}
							}
						})
					}
				},
				created() {
					this.find();
				}
			})
			
			//加载jstree，不能放到vue中使用，与vue冲突
			function loadTree(){
				$('#myTree').jstree({
					core:{
						data:menuList,
					},
					"plugins" : ["checkbox" ]
				});
			}
			loadTree();
		</script>
	</body>
</html>
