body{
	background-color: #f7f7f7;
}
.row{
	width: 1550px;
	background-color: #f7ffff;
}
.row2{
	margin-top: 5px;
}
.row3{
	margin-left: 500px;
	position: relative;
	left: 500px;
	width: 530px;
}
.dyg{
	background-color:aqua;
}
.row4{
	position: relative;
	top:20px;
}
td{
	height: 50px;
}
.table-bordered tr td{
	line-height: 61px !important;
	margin: 0px 20px !important;
	width: 100px;
	text-align: center;
}
.kyxx{
	width: 100%;
	height: 30px;
	margin-top: -22px;
	text-align: center;
	line-height: 30px;
	color: aqua;
	background-color: white;
}
.wz{
	border-top: 4px solid aqua;
	width: 100px;
	text-align: center;
	position: relative;
	top: -30px;
}
.dygtd{
	background: #ADADAD;
}
