*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color:#E7E7E7;
}
.row{
	width: 1535px;
	background-color: #f7ffff;
}
.row2{
	margin-top: 5px;
	height: 30px;
}
#exampleInputEmail1{
	width: 210px;
}
.jiec{
	 font-weight: bold;
	 font-size: 20px;
}
.quxiao{
	width: 54px;
	height: 54px;
	background: #8C8C8C;
}
.row3{
	border-top:2px solid #66AFE9;
	background-color: #FFFFFF;
	width: 1500px;
	height: 220px;
	margin-left: 20px;
}
.ls{
	color: #66AFE9;
}
.gzh{
	color:#000000;
	border-bottom:2px solid aqua;
}
.czk{
	color: red;
	margin-top: 100px;
}
.row4{
	width: 1300px;
	height: 40px;
	margin-left: 20px;
}
ul li{
	 margin-top: -10px;
	 list-style: none;
	 float: left;
	 width: 120px;
	 height: 30px;
	 text-align: center;
	 line-height: 30px;
 }
 
.row5{
	background-color: #FFFFFF;
	width: 1500px;
	height: 400px;
	margin-left: 20px;
	margin-top: -16px;
	}
.form-control{
	border: none;
	box-shadow: none;
}
.form-control:focus{
	border: none;
	box-shadow: none;
}
.row3{
	padding-bottom: 18px;
	box-sizing: content-box;
}
p._xian{
	border-bottom:1px solid #000000; 
}
#exampleInputEmail1{
	width: 295px;
}
input.form-control{
	width: 295px;
	padding-right: 0px;
	margin-right: 0px;
}
.row4 div ul li:first-of-type{
	border-top:4px solid aqua;
}
.shju{
	margin-left: 10px;
	position: relative;
	bottom: -10px;
}
.dyg{
	background-color: aqua;
}
.tobu{
	background-color: #39cede;
}
.dygtd{
	background: #ADADAD;
}
.table-bordered tr td {
    line-height: 61px !important;
    margin: 0px 20px !important;
    width: 100px;
    text-align: center;
}

.row6{
	display: none;
	background-color: #FFFFFF;
	width: 1500px;
	height: 400px;
	margin-left: 20px;
	margin-top: -16px;
	position: absolute;
	top: 362px;
}
.row7{
	display: none;
	background-color: #FFFFFF;
	width: 1500px;
	height: 400px;
	margin-left: 20px;
	margin-top: -16px;
	position: absolute;
	top: 362px;
}
.row8{
	display: none;
	background-color: #FFFFFF;
	width: 1500px;
	height: 400px;
	margin-left: 20px;
	margin-top: -16px;
	position: absolute;
	top: 362px;
}
.black_overlay{
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: #f7f7f7;
            z-index:1001;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=88);
        }
        .white_content {
            display: none;
            position: absolute;
            top: -1%;
            left: %;
            width: 1520px;
            height:750px;
            padding: 20px;
            border: 10px solid orange;
            background-color: #f7f7f7;
            z-index:1002;
            overflow: auto;
}
.djgb{
	position: absolute;
	left: 1350px;
	top: 20px;
}

.row3s{
	margin-left: 500px;
	position: relative;
	left: 355px;
	width: 530px;
}
.kyxx{
	width: 100%;
	height: 30px;
	margin-top: -22px;
	text-align: center;
	line-height: 30px;
	color: aqua;
	background-color: white;
}
.wz{
	border-top: 4px solid aqua;
	width: 100px;
	text-align: center;
	position: relative;
	top: -30px;
}
.wz2{
	width: 100px;
	text-align: center;
	position: relative;
	top: -30px;
}
.dygtd{
	background: #ADADAD;
}



body{
	background-color: #f7f7f7;
}
.row{
	width: 1535px;
	background-color: #f7ffff;
}
.jieca{
	width: 60px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: red;
    border:2px solid red;
	border-radius:10px;
}

.col-md-9 span{
	margin-left: 10px;
}
.abc{
	margin-left: 680px;
}



.sbx{
	border-top: 2px solid aqua;
	width: 1450px;
	margin-left: 20px4
}
.a{
	color: red;
}
.caid ul li{
	 margin-top: -10px;
	 list-style: none;
	 float: left;
	 width: 100px;
	 height: 30px;
	 text-align: center;
	 line-height: 30px;
 }
 .caid ul li:first-of-type{
	 	border-top:4px solid aqua;
 }
 .caid{
	 margin-left: 0px;
	 margin-top: -5px;
	 color: #999999;
 }
 .caid2{
	  margin-left: -38px;
	  border: 1px solid #eff7ff;
	  background-color: #eff7ff;
	  height: 40px;
	  position: relative;
	  left: 40px;
	  width: 1406px;
	  line-height: 40px;
	  margin-right: 0px !important;
 }
 .caid2 ul li{
	 color: #000000;
	 list-style: none;
	 float: left;
	 margin-top: 5px;
	  width: 100px;
	 height: 30px;
 }
 .table-bordered tr td {
     line-height: 61px !important;
     margin: 0px 20px !important;
     width: 100px;
     text-align: center;
 }
 .dyg{
 	background-color: #39cede;
 }
 .dygtd{
 	background: #ADADAD;
 }
 .caid3{
	 margin-left: -19px;
 }
 .caid3 ul li{
	color: #000000;
	list-style: none;
	float: left;
	 width: 100px;
	height: 30px;
 }
  .caid4 ul li{
 	color: #000000;
 	list-style: none;
 	float: left;
 	 width: 100px;
 	height: 30px;
 }
 .pintr2 td input{
	border: 0px;
}
.pintr2 td input:focus{
	border: 0px;
} 
#light3{
	position:absolute;
	z-index: 99999;
}

.black_overlay2{
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 500px;
            height: 100%;
            background-color: #f7f7f7;
            z-index:1001;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=88);
        }
        .white_content2{
            display: none;
            position: absolute;
            top: 100px;
            left: 500px;
            width: 500px;
            height:550px;
            padding: 20px;
            border: 10px solid orange;
            background-color: #f7f7f7;
            z-index:1002;
            overflow: auto;
			overflow-y:hidden;
}
.djgb2{
	position: absolute;
	left: 350px;
	top: 20px;
}
.xzyy{
	width: 480px;
}
.beij{
	border: 1px solid darkturquoise;
	height: 400px;
	width: 430px;
	background-color: #FFFFFF;
	
}
#ccc{
	width: 30px;
}