<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<style type="text/css">
			html,body{
				margin: 0px;
				padding: 0px;
			}
			.gb{
				margin-top: 10px;
			}
			#div{
				background-color: #F7FFFF;
			}
			.ul1{
				padding: 0px;
				margin-left: 30px;
				border-left: 1px dotted #444444;
			}

			#j1{
				width:10px;
				height:10px;
				display: inline-block;
				border-bottom:1px dotted #000;
			}
			.z1{
				height: 50px;
				line-height:50px;
				padding-left: 20px;
				background-color: #F7F7F7;
			}
			.c1{
				width:20px;
				height:15px;
				margin-top:-2px;
				margin-right: 4px;
			}
			#table1 tr td{
				padding-left: 20px;
				width: 120px;
				height: 35px;
				border: 1px solid #E3E3E3;
				line-height: 30px;
			}
			#tr1 td{
				color: white;
				background-color: #39CEDE;
			}
			.dv{
				margin-left: 40px;
				margin-top: 20px;
			}
			#address{
				margin-left: 27px;
				width: 305px;
			}
			.lb{
				margin-left: 8px;
				margin-right: 14px;
			}
			#sfz{
				width: 305px;
			}
			#hkaddress{
				width: 475px;
			}
			#bank{
				width: 305px;
			}
			#bankaccount{
				width: 475px;
			}
			#code,#start,#grade{
				width: 100px;
				
			}
			.cls{
				margin-top: 20px;
			}
			#cl{
				margin-left: 40px;
			}
			#work{
				width: 407px;
			}
			#type{
				width: 884px;
			}
			.modal-body{
				background-color: #F7F7F7;
			}
			.form-group label{
				color: #39CEDE;
			}
			#save{
				width: 80px;
				margin-left: 800px;
			}
			#save1{
				width: 80px;
				margin-left: 350px;
			}
			.nav {
				margin-left: 20px;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<div id="div" class="row">
				<span class="col-md-9">
					<h2>班组技工</h2>
				</span>
				<span class="col-md-3 gb">
					<form class="form-inline">
						<input type="text" class="form-control" placeholder="匹配工号/姓名/手机" v-model="names"/>
						<button class="btn btn-warning" @click="findByAll">搜索</button>
						<button class="btn btn-default">关闭</button>
					</form>
				</span>
			</div>
			<div class="row" id="dv1">
				<div class="z1">
					<div class="col-md-1"><a  id="a1" href="#myModal1" @click="toInsertStaff"><img src="../img/1.png" class="c1">增加员工</a></div>
					<div class="col-md-1"><a href="#myModal2" @click="toInsertMenu"><img src="../img/1.png" class="c1">增加班组</a></div>
					<div class="col-md-1"><a href="#myModal3" @click="toUpdateMenu"><img src="../img/1.png" class="c1">修改班组</a></div>
					<div class="col-md-1" @click="removeMenu"><img src="../img/1.png" class="c1">删除班组</div>
					<div class="col-md-1"><a href="#myModal4" @click="toupdateTeamtechnician"><img src="../img/2.png" class="c1">修改</a></div>
					<div class="col-md-1" @click="removeById"><img src="../img/3.png" class="c1">删除</div>
					<div class="col-md-1" @click="clearPwd"><img src="../img/5.png" class="c1">置空密码</div>
					<div class="col-md-1" @click="downloadExcel"><img src="../img/6.png" class="c1">导出</div>
				</div>
				<div style="width: 1535px; height: 570px;">
					<div class="col-xs-2">
						<tree :menu="menu" @create-tab="createTab"></tree>
					</div>
					<div class="col-xs-10" style="width: 1277px;height: 570px;overflow-x: scroll;">
						<table id="table1" style="width: 2400px;max-width: 2500px;">
							<tr id="tr1">
								<td>班组编号</td>
								<td>班组名称</td>
								<td>技工编号</td>
								<td>技工姓名</td>
								<td>性别</td>
								<td>手机</td>
								<td>地址</td>
								<td>出生日期</td>
								<td>组长</td>
								<td>登录名</td>
								<td>身份证号</td>
								<td>户口地址</td>
								<td>开户银行</td>
								<td>银行账号</td>
								<td>星级</td>
								<td>维修工种</td>
								<td>维修品牌</td>
							</tr>
							<tr v-for="item in teamtechnician" @click="findByIds(item.id)">
								<td class="pintr2">{{item.teamid}}</td>
								<td class="pintr2">{{item.teamname.menuname}}</td>
								<td class="pintr2">{{item.technicianid}}</td>
								<td class="pintr2">{{item.technicianidname}}</td>
								<td class="pintr2">{{item.sex}}</td>
								<td class="pintr2">{{item.phone}}</td>
								<td class="pintr2">{{item.address}}</td>
								<td class="pintr2">{{item.birthday}}</td>
								<td class="pintr2">{{item.headman}}</td>
								<td class="pintr2">{{item.loginname}}</td>
								<td class="pintr2">{{item.idnumber}}</td>
								<td class="pintr2">{{item.residenceaddress}}</td>
								<td class="pintr2">{{item.bank.bankname}}</td>
								<td class="pintr2">{{item.bankaccount}}</td>
								<td class="pintr2">{{item.mechanicstar.star}}</td>
								<td class="pintr2">{{item.type}}</td>
								<td class="pintr2">{{item.maintenancetype}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="modal" data-backdrop="static" id="myModal1">
				<div class="modal-dialog" style="width: 1100px;">
					<div class="modal-content">
						<div class="modal-header">
							<span class="close" data-dismiss="modal">&times;</span>
							<h4 style="display: inline-block;">技工资料</h4>
							<button class="btn btn-success" id="save" @click="insertTeamtechnician">保存</button>
						</div>
						<div class="modal-body">
							<form class="form-inline">
								<div class="form-group">
									<div class="dv">
										<label>技工编号</label>
										<input class="form-control" v-model="teamtechnicians.technicianid"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>技工姓名</label>
										<input class="form-control" v-model="teamtechnicians.technicianidname"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>性别</label>
										<select class="form-control" v-model="teamtechnicians.sex">
											<option value="男">男</option>
											<option value="女">女</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label class="checkbox-inline">
											<input type="checkbox" :checked="checked" v-model="check_click"/>组长
										</label>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>所在班组</label>
										<input class="form-control" v-model="teamtechnicians.teamid" disabled="disabled"/>
										<select class="form-control" v-model="teamtechnicians.teamid">
											<option v-for="item in sonMenu" :value="item.teamid">{{item.menuname}}</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>手机</label>
										<input class="form-control" v-model="teamtechnicians.phone"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>登录账号</label>
										<input class="form-control" v-model="teamtechnicians.loginname"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>地址</label>
										<input class="form-control" id="address" v-model="teamtechnicians.address"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>出生日期</label>
										<input class="form-control" type="date" v-model="teamtechnicians.birthday"/>
									</div>
								</div>
								
								<div class="form-group">
									<div class="dv">
										<label>身份证号</label>
										<input class="form-control" id="sfz" v-model="teamtechnicians.idnumber"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>户口地址</label>
										<input class="form-control" id="hkaddress" v-model="teamtechnicians.residenceaddress"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>开户银行</label>
										<select class="form-control" id="bank" v-model="teamtechnicians.bankid">
											<option v-for="item in bank" :value="item.bankid">{{item.bankname}}</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>银行账号</label>
										<input class="form-control" id="bankaccount" v-model="teamtechnicians.bankaccount"/>
									</div>
								</div>
								<div class="form-group">
									<div class="cls" id="cl">
										<label>等级编码</label>
										<select class="form-control" id="code" v-model="teamtechnicians.code" @click="findByCode(teamtechnicians.code)">
											<option v-for="item in mechanicstar" :value="item.code">{{item.code}}</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="cls">
										<label>星级</label>
										<input class="form-control" id="start" v-model="mechanicstars.star" disabled="disabled"/>
									</div>
								</div>
								<div class="form-group">
									<div class="cls">
										<label>等级</label>
										<input class="form-control" id="grade" v-model="mechanicstars.grade" disabled="disabled"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>维修工种</label>
										<input class="form-control" id="work" v-model="teamtechnicians.type"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>维修品牌</label>
										<input class="form-control" id="type" v-model="teamtechnicians.maintenancetype"/>
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button data-dismiss="modal" class="btn btn-default btn-danger">取消</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal" data-backdrop="static" id="myModal2">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<span class="close" data-dismiss="modal">&times;</span>
							<h4 style="display: inline-block;">维修班组</h4>
							<button class="btn btn-success" id="save1" @click="insertMenu">保存</button>
						</div>
						<div class="modal-body">
							<form class="form-horizontal">
								<div class="form-group">
									<label class="col-xs-2">班组编码</label>
									<div class="col-xs-10">
										<input class="form-control" v-model="menus.teamid"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-2">班组名称</label>
									<div class="col-xs-10">
										<input class="form-control" v-model="menus.menuname"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-2">班组权重</label>
									<div class="col-xs-10">
										<input class="form-control" v-model="menus.reserved3"/>
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button data-dismiss="modal" class="btn btn-default btn-danger">取消</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal" data-backdrop="static" id="myModal4">
				<div class="modal-dialog" style="width: 1100px;">
					<div class="modal-content">
						<div class="modal-header">
							<span class="close" data-dismiss="modal">&times;</span>
							<h4 style="display: inline-block;">技工资料</h4>
							<button class="btn btn-success" id="save" @click="updateTeamtechnician">保存</button>
						</div>
						<div class="modal-body">
							<form class="form-inline">
								<div class="form-group">
									<div class="dv">
										<label>技工编号</label>
										<input class="form-control" v-model="updateTeamtechnicians.technicianid"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>技工姓名</label>
										<input class="form-control" v-model="updateTeamtechnicians.technicianidname"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>性别</label>
										<select class="form-control" v-model="updateTeamtechnicians.sex">
											<option value="男">男</option>
											<option value="女">女</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label class="checkbox-inline">
											<input type="checkbox" :checked="checked" @click="check"/>组长
										</label>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>所在班组</label>
										<input class="form-control" v-model="updateTeamtechnicians.teamid" disabled="disabled"/>
										<select class="form-control" v-model="updateTeamtechnicians.teamid">
											<option v-for="item in sonMenu" :value="item.teamid">{{item.menuname}}</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>手机</label>
										<input class="form-control" v-model="updateTeamtechnicians.phone"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>登录账号</label>
										<input class="form-control" v-model="updateTeamtechnicians.loginname"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>地址</label>
										<input class="form-control" id="address" v-model="updateTeamtechnicians.address"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>出生日期</label>
										<input class="form-control" type="date" v-model="updateTeamtechnicians.birthday"/>
									</div>
								</div>
								
								<div class="form-group">
									<div class="dv">
										<label>身份证号</label>
										<input class="form-control" id="sfz" v-model="updateTeamtechnicians.idnumber"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>户口地址</label>
										<input class="form-control" id="hkaddress" v-model="updateTeamtechnicians.residenceaddress"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>开户银行</label>
										<select class="form-control" id="bank" v-model="updateTeamtechnicians.bankid">
											<option v-for="item in bank" :value="item.bankid">{{item.bankname}}</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>银行账号</label>
										<input class="form-control" id="bankaccount" v-model="updateTeamtechnicians.bankaccount"/>
									</div>
								</div>
								<div class="form-group">
									<div class="cls" id="cl">
										<label>等级编码</label>
										<select class="form-control" id="code" v-model="updateTeamtechnicians.code" @click="findByCode(updateTeamtechnicians.code)">
											<option v-for="item in mechanicstar" :value="item.code">{{item.code}}</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="cls">
										<label>星级</label>
										<input class="form-control" id="start" v-model="mechanicstars.star" disabled="disabled"/>
									</div>
								</div>
								<div class="form-group">
									<div class="cls">
										<label>等级</label>
										<input class="form-control" id="grade" v-model="mechanicstars.grade" disabled="disabled"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>维修工种</label>
										<input class="form-control" id="work" v-model="updateTeamtechnicians.type"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>维修品牌</label>
										<input class="form-control" id="type" v-model="updateTeamtechnicians.maintenancetype"/>
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button data-dismiss="modal" class="btn btn-default btn-danger">取消</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal" data-backdrop="static" id="myModal3">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<span class="close" data-dismiss="modal">&times;</span>
							<h4 style="display: inline-block;">维修班组</h4>
							<button class="btn btn-success" id="save1" @click="updateMenu">保存</button>
						</div>
						<div class="modal-body">
							<form class="form-horizontal">
								<div class="form-group">
									<label class="col-xs-2">班组编码</label>
									<div class="col-xs-10">
										<input class="form-control" v-model="updateMenus.teamid"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-2">班组名称</label>
									<div class="col-xs-10">
										<input class="form-control" v-model="updateMenus.menuname"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-2">班组权重</label>
									<div class="col-xs-10">
										<input class="form-control" v-model="updateMenus.reserved3"/>
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button data-dismiss="modal" class="btn btn-default btn-danger">取消</button>
						</div>
					</div>
				</div>
			</div>
			<div>
				<span>合计：1条记录</span>
			</div>
		</div>
		
		<script type="text/javascript" src="../js/jquery-1.12.4.js" ></script>
		<script type="text/javascript" src="../js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="../js/vue.js" ></script>
		<script type="text/javascript">
			Vue.component("tree", {
				props: ["menu"],
				template: `
					<ul class="nav nav-pills nav-stacked">
						<li v-for="item in menu">
							<a href="#" @click="createTab(item)">{{item.menuname}}</a>
							<tree @create-tab="createTab" :menu="item.childrens" v-if="item.reserved2==false"></tree>
						</li>
					</ul>
				`,
				methods: {
					createTab(item) {
						this.$emit("create-tab", item)
					}
				}
			})
//			var menu=[{
//				id:1,
//				name:"北京",
//				ename:"sys",
//				childrens:[{
//					id:2,
//					name:"北京航空航天大学",
//					ename:"role",
//					childrens:[{
//						id:3,
//						name:"创业实训一班",
//						ename:"user"
//					}]
//				}]
//			}];
			new Vue({
				el:".container-fluid",
				data(){
					return{
						currentRemoveId:null,
						teamtechnician:{},
						menu:{},
						xx:0,
						sonMenu:{},
						mechanicstar:{},
						mechanicstars:{},
						teamtechnicians:{
							headman:"是"
						},
						checked:true,
						bank:{},
						check_click:{},
						menus:{
							teamid:{},
							parentid:0
						},
						maxid:0,
						updateMenus:{},
						currentId:0,
						updateTeamtechnicians:{},
						check_clicks:{},
						names:""
					}
				},
				methods:{
					createTab(item){
						if(item.childrens && item.childrens.length > 0) {
							this.menus.parentid=item.id;
							this.xx=0;
							if(item.reserved2) {
								item.reserved2 = false;
							} else {
								item.reserved2 = true;
							}
							return;
						}else{
							this.parentid=0;
							this.xx=item.teamid;
							let that=this;
							$.ajax({
								url:"http://127.0.0.1:8080/teamtechnician/findByTeamId/"+item.teamid,
								async:true,
								type:"post",
								success:function(result){
									that.teamtechnician=result;
								}
							});
						}
					},
					findByParentId(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/menu/findByParentId",
							type:"post",
							success:function(result){
								that.menu=result;
							}
						});
					},
					toInsertStaff(){
						if(this.xx==0){
							alert("您未选中学校");
						}else{
							$("#myModal1").modal("show");
						}
					},
					findNoByParentId(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/menu/findNoByParentId",
							type:"post",
							success:function(result){
								that.sonMenu=result;
							}
						});
					},
					find(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/mechanicstar/find",
							type:"post",
							success:function(result){
								that.mechanicstar=result;
							}
						});
					},
					findByCode(code){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/mechanicstar/findById/"+code,
							type:"post",
							success:function(result){
								that.mechanicstars=result;
							}
						});
					},
					
					findBank(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/bank/findBank",
							type:"post",
							success:function(result){
								that.bank=result;
							}
						});
					},
					insertTeamtechnician(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/teamtechnician/insertTeamtechnician",
							data:that.teamtechnicians,
							type:"post",
							success:function(result){
								$("#myModal1").modal("hide");
								for(var item of that.teamtechnician){
									that.createTab(item);
								}
							}
						});
					},
					toInsertMenu(){
						if(this.menus.parentid==0){
							alert("您未选择联队");
						}else{
							$("#myModal2").modal("show");
						}
					},
					findTeamIdDesc(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/menu/findTeamIdDesc",
							type:"post",
							success:function(result){
								let id=result.teamid;
								that.maxid=parseInt(id)+1;
								that.menus.teamid=parseInt(id)+1;
							}
						});
					},
					insertMenu(){
						let that=this;
						if(this.menus.teamid<this.maxid){
							alert("班组已存在，请勿重复");
						}else{
							$.ajax({
								url:"http://127.0.0.1:8080/menu/insertMenu",
								data:that.menus,
								type:"post",
								success:function(result){
									$("#myModal2").modal("hide");
									for(var item of that.teamtechnician){
										that.createTab(item);
									}
								}
							});
						}
					},
					toUpdateMenu(){
						if(this.xx==0){
							alert("您未选中学校");
						}else{
							$("#myModal3").modal("show");
							let that=this;
							$.ajax({
								url:"http://127.0.0.1:8080/menu/findByTeamId/"+that.xx,
								type:"post",
								success:function(result){
									that.updateMenus=result;
									that.currentId=result.teamid;
								}
							});
						}
					},
					updateMenu(){
						let that=this;
						if(this.updateMenus.teamid>this.maxid || this.currentId==this.updateMenus.teamid){
							var json=JSON.stringify(that.updateMenus);
							$.ajax({
								url:"http://127.0.0.1:8080/menu/updateMenu",
								data:json,
								type:"post",
								contentType:"application/json;charset=utf-8",
								success:function(result){
									$("#myModal3").modal("hide");
									for(var item of that.teamtechnician){
										that.createTab(item);
									}
								}
							});
						}else{
							alert("班组已存在，请勿重复");
						}
					},
					removeMenu(){
						let that=this;
						if(this.xx==0){
							alert("您未选中学校");
						}else{
							$.ajax({
								url:"http://127.0.0.1:8080/menu/removeMenu/"+that.xx,
								type:"post",
								success:function(result){
									alert("删除成功");
									for(var item of that.teamtechnician){
										that.createTab(item);
									}
								}
							});
						}
					},
					findByIds(id){
						this.currentRemoveId=id;
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/teamtechnician/findByIds/"+id,
							type:"post",
							success:function(result){
								that.updateTeamtechnicians=result;
								that.findByCode(result.code);
								if(result.headman=="是"){
									that.checked=true
								}else{
									that.checked=false
								}
							}
						});
					},
					removeById(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/teamtechnician/removeById/"+that.currentRemoveId,
							type:"post",
							success:function(result){
								alert("删除成功");
								for(var item of that.teamtechnician){
									that.createTab(item);
								}
							}
						});
					},
					check(){
						if(this.checked==false){
							this.checked=true;
							this.updateTeamtechnicians.headman="是";
						}else{
							this.checked=false;
							this.updateTeamtechnicians.headman="否";
						}
					},
					toupdateTeamtechnician(){
						if(this.currentRemoveId==null){
							alert("请选择技工");
						}else{
							$("#myModal4").modal("show");
						}
					},
					updateTeamtechnician(){
						let that=this;
						var json=JSON.stringify(that.updateTeamtechnicians);
						$.ajax({
							url:"http://127.0.0.1:8080/teamtechnician/updateTeamtechnician",
							data:json,
							type:"post",
							contentType:"application/json;charset=utf-8",
							success:function(result){
								$("#myModal4").modal("hide");
								for(var item of that.teamtechnician){
									that.createTab(item);
								}
							}
						});
					},
					findByAll(){
						if(this.names==""){
							alert("请输入值");
						}else{
							let that=this;
							$.ajax({
								url:"http://127.0.0.1:8080/teamtechnician/findByAll",
								data:{
									name:that.names
								},
								type:"post",
								success:function(result){
									that.teamtechnician=result;
								}
							});
						}
					},
					clearPwd(){
						let that=this;
						if(this.currentRemoveId==null){
							alert("请选择技工");
						}else{
							$.ajax({
								url:"http://127.0.0.1:8080/teamtechnician/findByIds/"+that.currentRemoveId,
								type:"post",
								success:function(result){
									if(result.reserved1==null){
										alert("该技工密码已为空");
									}else{
										$.ajax({
											url:"http://127.0.0.1:8080/teamtechnician/clearPwd/"+that.currentRemoveId,
											type:"post",
											success:function(result){
												alert("置空成功");	
											}
										});
									}
								}
							});
							
						}
					},
					downloadExcel(){
                    	if(this.xx==0){
                    		alert("您未选择班组");
                    	}else{
                    		window.location.href="http://127.0.0.1:8080/teamtechnician/downloadExcel?teamid="+this.xx;
                    	}
                	},
                	findAll(){
                		let that=this;
                		$.ajax({
							url:"http://127.0.0.1:8080/teamtechnician/findAll",
							type:"post",
							success:function(result){
								that.teamtechnician=result;
							}
						});
                	}
				},
				created(){
					this.findNoByParentId();
					this.findByParentId();
					this.find();
					this.findBank();
					this.findTeamIdDesc();
					this.findAll();
				},
				watch:{
					check_click(){
						if(this.checked==true){
							this.checked=false;
							this.teamtechnicians.headman="否";
						}else{
							this.checked=true;
							this.teamtechnicians.headman="是";
						}
					}
				}
			});
			
			$(document).on('click','.pintr2',function(){
				$(".pintr2").css("background","#ffffff")
				$(this).css("background","sandybrown")
			})
		</script>
	</body>
</html>
