<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<style type="text/css">
			html,body{
				margin: 0px;
				padding: 0px;
			}
			.gb{
				margin-top: 10px;
			}
			#div{
				background-color: #F7FFFF;
			}
			.ul1{
				padding: 0px;
				margin-left: 30px;
				border-left: 1px dotted #444444;
			}

			#j1{
				width:10px;
				height:10px;
				display: inline-block;
				border-bottom:1px dotted #000;
			}
			.z1{
				height: 50px;
				line-height:50px;
				padding-left: 20px;
				background-color: #F7F7F7;
			}
			.c1{
				width:20px;
				height:15px;
				margin-top:-2px;
				margin-right: 4px;
			}
			#table1 tr td{
				padding-left: 20px;
				width: 120px;
				height: 35px;
				border: 1px solid #E3E3E3;
				line-height: 30px;
			}
			#tr1 td{
				color: white;
				background-color: #39CEDE;
			}
			.dv{
				margin-left: 40px;
				margin-top: 20px;
			}
			#address{
				margin-left: 27px;
				width: 305px;
			}
			.lb{
				margin-left: 8px;
				margin-right: 14px;
			}
			#sfz{
				width: 305px;
			}
			#hkaddress{
				width: 475px;
			}
			#bank{
				width: 305px;
			}
			#bankaccount{
				width: 475px;
			}
			#code,#start,#grade{
				width: 100px;
				
			}
			.cls{
				margin-top: 20px;
			}
			#cl{
				margin-left: 40px;
			}
			#work{
				width: 407px;
			}
			#type{
				width: 884px;
			}
			.modal-body{
				background-color: #F7F7F7;
			}
			.form-group label{
				color: #39CEDE;
			}
			#save{
				width: 80px;
				margin-left: 800px;
			}
			#save1{
				width: 80px;
				margin-left: 350px;
			}
			.nav {
				margin-left: 20px;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<div id="div" class="row">
				<span class="col-md-9">
					<h2>班组技工</h2>
				</span>
				<span class="col-md-3 gb">
					<form class="form-inline">
						<input type="text" class="form-control" placeholder="匹配工号/姓名/手机" />
						<button class="btn btn-warning">搜索</button>
						<button class="btn btn-default">关闭</button>
					</form>
				</span>
			</div>
			<div class="row" id="dv1">
				<div class="z1">
					<div class="col-md-1"><a href="#myModal1" data-toggle="modal"><img src="../img/1.png" class="c1">增加员工</a></div>
					<div class="col-md-1"><a href="#myModal2" data-toggle="modal"><img src="../img/1.png" class="c1">增加班组</a></div>
					<div class="col-md-1"><a href="#myModal2" data-toggle="modal"><img src="../img/1.png" class="c1">修改班组</a></div>
					<div class="col-md-1"><img src="../img/1.png" class="c1">删除班组</div>
					<div class="col-md-1"><a href="#myModal1" data-toggle="modal"><img src="../img/2.png" class="c1">修改</a></div>
					<div class="col-md-1"><img src="../img/3.png" class="c1">删除</div>
					<div class="col-md-1"><a href="#" ><img src="../img/4.png" class="c1">查询</a></div>
					<div class="col-md-1"><img src="../img/5.png" class="c1">置空密码</div>
					<div class="col-md-1"><img src="../img/6.png" class="c1">导出</div>
				</div>
				<div style="width: 1535px; height: 570px;">
					<div class="col-xs-2">
						<tree :menu="menu" @create-tab="createTab"></tree>
					</div>
					<div class="col-xs-10" style="width: 1277px;height: 570px;overflow-x: scroll;">
						<table id="table1" style="width: 2400px;max-width: 2500px;">
							<tr id="tr1">
								<td>班组编号</td>
								<td>班组名称</td>
								<td>技工编号</td>
								<td>技工姓名</td>
								<td>性别</td>
								<td>手机</td>
								<td>地址</td>
								<td>出生日期</td>
								<td>组长</td>
								<td>登录名</td>
								<td>身份证号</td>
								<td>户口地址</td>
								<td>开户银行</td>
								<td>银行账号</td>
								<td>星级</td>
								<td>维修工种</td>
								<td>维修品牌</td>
							</tr>
							<tr v-for="item in teamtechnician">
								<td>{{item.teamid}}</td>
								<td></td>
								<td>{{item.technicianid}}</td>
								<td>{{item.technicianidname}}</td>
								<td>{{item.sex}}</td>
								<td>{{item.phone}}</td>
								<td>{{item.address}}</td>
								<td>{{item.birthday}}</td>
								<td>{{item.headman}}</td>
								<td>{{item.loginname}}</td>
								<td>{{item.idnumber}}</td>
								<td>{{item.residenceaddress}}</td>
								<td>{{item.bankid}}</td>
								<td>{{item.bankaccount}}</td>
								<td>{{item.code}}</td>
								<td>{{item.type}}</td>
								<td>{{item.maintenancetype}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="modal" data-backdrop="static" id="myModal1">
				<div class="modal-dialog" style="width: 1100px;">
					<div class="modal-content">
						<div class="modal-header">
							<span class="close" data-dismiss="modal">&times;</span>
							<h4 style="display: inline-block;">技工资料</h4>
							<button class="btn btn-success" id="save">保存</button>
						</div>
						<div class="modal-body">
							<form class="form-inline">
								<div class="form-group">
									<div class="dv">
										<label>技工编号</label>
										<input class="form-control"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>技工姓名</label>
										<input class="form-control"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>性别</label>
										<select class="form-control">
											<option>男</option>
											<option>女</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label class="checkbox-inline">
											<input type="checkbox" />组长
										</label>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>所在班组</label>
										<input class="form-control"/>
										<select class="form-control">
											<option value="">机修1组</option>
											<option value="">机修2组</option>
											<option value="">机电1组</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>手机</label>
										<input class="form-control"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>登录账号</label>
										<input class="form-control"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>地址</label>
										<input class="form-control" id="address"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>出生日期</label>
										<input class="form-control" type="date"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label class="lb">微信号</label>
										<input class="form-control"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>身份证号</label>
										<input class="form-control" id="sfz"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>户口地址</label>
										<input class="form-control" id="hkaddress"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>开户银行</label>
										<select class="form-control" id="bank">
											<option></option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>银行账号</label>
										<input class="form-control" id="bankaccount"/>
									</div>
								</div>
								<div class="form-group">
									<div class="cls" id="cl">
										<label>等级编码</label>
										<select class="form-control" id="code">
											<option value=""></option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="cls">
										<label>星级</label>
										<input class="form-control" id="start"/>
									</div>
								</div>
								<div class="form-group">
									<div class="cls">
										<label>等级</label>
										<input class="form-control" id="grade"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>维修工种</label>
										<input class="form-control" id="work"/>
									</div>
								</div>
								<div class="form-group">
									<div class="dv">
										<label>维修品牌</label>
										<input class="form-control" id="type"/>
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button data-dismiss="modal" class="btn btn-default btn-danger">取消</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal" data-backdrop="static" id="myModal2">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<span class="close" data-dismiss="modal">&times;</span>
							<h4 style="display: inline-block;">维修班组</h4>
							<button class="btn btn-success" id="save1">保存</button>
						</div>
						<div class="modal-body">
							<form class="form-horizontal">
								<div class="form-group">
									<label class="col-xs-2">班组编码</label>
									<div class="col-xs-10">
										<input class="form-control"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-2">班组名称</label>
									<div class="col-xs-10">
										<input class="form-control"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-2">班组权重</label>
									<div class="col-xs-10">
										<input class="form-control"/>
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button data-dismiss="modal" class="btn btn-default btn-danger">取消</button>
						</div>
					</div>
				</div>
			</div>
			<div>
				<span>合计：1条记录</span>
			</div>
		</div>
		
		<script type="text/javascript" src="../js/jquery-1.12.4.js" ></script>
		<script type="text/javascript" src="../js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="../js/vue.js" ></script>
		<script type="text/javascript">
			Vue.component("tree", {
				props: ["menu"],
				template: `
					<ul class="nav nav-pills nav-stacked">
						<li v-for="item in menu">
							<a href="#" @click="createTab(item)">{{item.name}}</a>
							<tree @create-tab="createTab" :menu="item.childrens" v-if="item.bool==false"></tree>
						</li>
					</ul>
				`,
				methods: {
					createTab(item) {
						this.$emit("create-tab", item)
					}
				}
			})
//			var menu=[{
//				id:1,
//				name:"北京",
//				ename:"sys",
//				childrens:[{
//					id:2,
//					name:"北京航空航天大学",
//					ename:"role",
//					childrens:[{
//						id:3,
//						name:"创业实训一班",
//						ename:"user"
//					}]
//				}]
//			}];
			new Vue({
				el:".container-fluid",
				data(){
					return{
						xs:true,
						teamtechnician:{},
						menu:[{id:0,name:"河北省",ename:"hebei",bool:true,childrens:[{id:2,name:"北京",ename:"北京",bool:true}]}]
					}
				},
				methods:{
					xianshi(){
						if(this.xs){
							this.xs=false;
						}else{
							this.xs=true;
						}
					},
					findAll(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/teamtechnician/findAll",
							type:"post",
							success:function(result){
								that.teamtechnician=result;
							}
						});
					},
					createTab(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/menu/findAll",
							type:"post",
							success:function(result){
								
							}
						});
						return;
					}
				},
				created(){
					this.findAll();
					this.createTab();
				}
			});
		</script>
	</body>
</html>
