<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<style type="text/css">
			html,body{
				margin: 0px;
				padding: 0px;
			}
			.gb{
				margin-top: 10px;
			}
			#div{
				background-color: #F7FFFF;
			}
			.frm{
				height: 120px;
				padding-left: 20px;
				padding-top: 20px;
				background-color: #F7F7F7;
			}
			.lbl{
				font-size: 17px;
				color: deepskyblue;
			}
			#ipt1{
				width: 120px;
			}
			#ipt2{
				width: 120px;
			}
			#ipt3{
				width: 120px;
			}
			#ipt4{
				width: 120px;
			}
			#div1{
				margin-left: 500px;
			}
			#tab{
				width: 100%;
				height: 520px;
			}
			#table1 tr td{
				padding-left: 20px;
				width: 120px;
				height: 35px;
				border: 1px solid #E3E3E3;
				line-height: 30px;
			}
			#tr1 td{
				color: white;
				background-color: #39CEDE;
			}
		</style>
	</head>
	<body>
		<div id="ctn" class="container-fluid">
			<div id="div" class="row">
				<span class="col-md-11">
					<h2>技工提成比例</h2>
				</span>
				<span class="col-md-1 gb">
					<button class="btn btn-default">关闭</button>
				</span>
			</div>
			<div class="row">
				<form class="form-inline frm">
					<div class="form-group">
						<label class="lbl">分类编码</label>
						<input class="form-control" id="ipt1" v-model="mechaniccommission.typeid"/>
					</div>
					<div class="form-group">
						<label class="lbl">分类名称</label>
						<input class="form-control" id="ipt2" v-model="mechaniccommission.typename"/>
					</div><br /><br />
					<div class="form-group">
						<label class="lbl">站内白天</label>
						<input class="form-control" id="ipt1" v-model="mechaniccommission.dayinthestation"/>
					</div>
					<div class="form-group">
						<label class="lbl">站内晚上</label>
						<input class="form-control" id="ipt2" v-model="mechaniccommission.nightinthestation"/>
					</div>
					<div class="form-group">
						<label class="lbl">站外白天</label>
						<input class="form-control" id="ipt3" v-model="mechaniccommission.dayoutthestation"/>
					</div>
					<div class="form-group">
						<label class="lbl">站外晚上</label>
						<input class="form-control" id="ipt4" v-model="mechaniccommission.nightoutthestation"/>
					</div>
					<div class="form-group" id="div1">
						<a class="btn btn-success" @click="insert">增加</a>
						<a class="btn btn-danger" @click="remove">删除</a>
						<a class="btn btn-info" @click="update">保存</a>
					</div>
				</form>
				
			</div>
			<div id="tab">
				<table id="table1">
					<tr id="tr1">
						<td>分类编码</td>
						<td>分类名称</td>
						<td>站内白天</td>
						<td>站内晚上</td>
						<td>站外白天</td>
						<td>站外晚上</td>
					</tr>
					<tr v-for="item in list" @click="findById(item.typeid)">
						<td class="pintr2">{{item.typeid}}</td>
						<td class="pintr2">{{item.typename}}</td>
						<td class="pintr2">{{item.dayinthestation}}</td>
						<td class="pintr2">{{item.nightinthestation}}</td>
						<td class="pintr2">{{item.dayoutthestation}}</td>
						<td class="pintr2">{{item.nightoutthestation}}</td>
					</tr>
				</table>
			</div>
			<div>
				<span>合计：{{list.length}}条记录</span>
			</div>
		</div>
		<script type="text/javascript" src="../js/jquery-1.12.4.js" ></script>
		<script type="text/javascript" src="../js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="../js/vue.js" ></script>
		<script type="text/javascript">
			new Vue({
				el:"#ctn",
				data(){
					return{
						list:{},
						typeid:"",
						mechaniccommission:{}
					}
				},
				methods:{
					find(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/mechaniccommission/find",
							type:"post",
							success:function(result){
								that.list=result;
							}
						});
					},
					findById(id){
						this.typeid=id;
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/mechaniccommission/findById/"+that.typeid,
							type:"post",
							success:function(result){
								console.log(result);
								that.mechaniccommission=result;
							}
						});
					},
					remove(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/mechaniccommission/delete/"+that.typeid,
							type:"post",
							success:function(result){
								alert("删除成功");
								that.find();
							}
						});
					},
					insert(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/mechaniccommission/insert",
							data:that.mechaniccommission,
							type:"post",
							success:function(result){
								alert("新增成功");
								that.find();
							}
						});
					},
					update(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/mechaniccommission/update",
							data:that.mechaniccommission,
							type:"post",
							success:function(result){
								alert("修改成功");
								that.find();
								
							}
						});
					}
				},
				created(){
					this.find();
				}
			});
			$(document).on('click','.pintr2',function(){
				$(".pintr2").css("background","#ffffff")
				$(this).css("background","sandybrown")
			})
		</script>
	</body>
</html>
