<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.DeparmentSurfaceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.DeparmentSurface">
        <id column="bid" property="bid" />
        <result column="bname" property="bname" />
        <result column="blei" property="blei" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        bid, bname, blei
    </sql>
    <select id="bu" resultMap="BaseResultMap">
        SELECT * FROM `deparmentsurface` WHERE `blei`!=0
    </select>
    <select id="bu1" resultMap="BaseResultMap">
        SELECT * FROM `deparmentsurface` WHERE `blei`=0
    </select>
    <select id="bu2" resultMap="BaseResultMap">
        select * from deparmentsurface where blei=${id}
    </select>
</mapper>
