<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.GetMaterialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.GetMaterial">
        <id column="id" property="id" />
        <result column="lb" property="lb" />
        <result column="lingliaodate" property="lingliaodate" />
        <result column="lingliaor" property="lingliaor" />
        <result column="wuliao" property="wuliao" />
        <result column="wuliaoname" property="wuliaoname" />
        <result column="dwei" property="dwei" />
        <result column="jialei" property="jialei" />
        <result column="shuliao" property="shuliao" />
        <result column="danjian" property="danjian" />
        <result column="jine" property="jine" />
        <result column="fuwugw" property="fuwugw" />
        <result column="duiy" property="duiy" />
        <result column="cid" property="cid" />
        <result column="reserved1" property="reserved1" />
        <result column="reserved2" property="reserved2" />
        <result column="reserved3" property="reserved3" />
        <result column="reserved4" property="reserved4" />
        <result column="reserved5" property="reserved5" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, lb, lingliaodate, lingliaor, wuliao, wuliaoname, dwei, jialei, shuliao, danjian, jine, fuwugw, duiy, cid, reserved1, reserved2, reserved3, reserved4, reserved5
    </sql>

</mapper>
