<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.LinkmanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.Linkman">
        <id column="l_id" property="lId" />
        <result column="l_post" property="lPost" />
        <result column="l_name" property="lName" />
        <result column="l_phone" property="lPhone" />
        <result column="l_mobile" property="lMobile" />
        <result column="l_emile" property="lEmile" />
        <result column="p_id" property="pId" />
        <result column="reserved1" property="reserved1" />
        <result column="reserved2" property="reserved2" />
        <result column="reserved3" property="reserved3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        l_id, l_post, l_name, l_phone, l_mobile, l_emile, p_id, reserved1, reserved2, reserved3
    </sql>

</mapper>
