<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.MaintenanceItemsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.MaintenanceItems">
        <id column="wxdh" property="wxdh" />
        <result column="jcsj" property="jcsj" />
        <result column="wgsj" property="wgsj" />
        <result column="jsdate" property="jsdate" />
        <result column="xmbh" property="xmbh" />
        <result column="xmname" property="xmname" />
        <result column="jialei" property="jialei" />
        <result column="jiesgs" property="jiesgs" />
        <result column="gshije" property="gshije" />
        <result column="zuoyery" property="zuoyery" />
        <result column="gzms" property="gzms" />
        <result column="gzqr" property="gzqr" />
        <result column="gdh" property="gdh" />
        <result column="gwei" property="gwei" />
        <result column="reserved1" property="reserved1" />
        <result column="reserved2" property="reserved2" />
        <result column="reserved3" property="reserved3" />
        <result column="reserved4" property="reserved4" />
        <result column="reserved5" property="reserved5" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        wxdh, jcsj, wgsj, jsdate, xmbh, xmname, jialei, jiesgs, gshije, zuoyery, gzms, gzqr, gdh, gwei, reserved1, reserved2, reserved3, reserved4, reserved5
    </sql>

</mapper>
