<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.MechanicstarMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.Mechanicstar">
        <id column="code" property="code" />
        <result column="star" property="star" />
        <result column="grade" property="grade" />
        <result column="Commissionweight" property="Commissionweight" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        code, star, grade, Commissionweight
    </sql>

</mapper>
