<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.OrganizationSurfaceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.OrganizationSurface">
        <id column="zid" property="zid" />
        <result column="zname" property="zname" />
        <result column="msname" property="msname" />
        <result column="mshou" property="mshou" />
        <result column="mdianid" property="mdianid" />
        <result column="mzuishu" property="mzuishu" />
        <result column="mtiao" property="mtiao" />
        <result column="mcityid" property="mcityid" />
        <result column="mkai" property="mkai" />
        <result column="maddress" property="maddress" />
        <result column="mshui" property="mshui" />
        <result column="mphone" property="mphone" />
        <result column="mlname" property="mlname" />
        <result column="mhang" property="mhang" />
        <result column="mzhang" property="mzhang" />
        <result column="mgouid" property="mgouid" />
        <result column="mru" property="mru" />
        <result column="mting" property="mting" />
        <result column="zids" property="zids" />
        <result column="zyid" property="zyid" />
        <result column="reserved1" property="reserved1" />
        <result column="reserved2" property="reserved2" />
        <result column="reserved3" property="reserved3" />
        <result column="reserved4" property="reserved4" />
        <result column="reserved5" property="reserved5" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        zid, zname, msname, mshou, mdianid, mzuishu, mtiao, mcityid, mkai, maddress, mshui, mphone, mlname, mhang, mzhang, mgouid, mru, mting, zids, zyid, reserved1, reserved2, reserved3, reserved4, reserved5
    </sql>

    <resultMap type="com.accp.domain.OrganizationSurface" id="BaseResultMapss" extends="BaseResultMap">
        <collection property="children" column="zid" ofType="com.accp.domain.OrganizationSurface" select="find">

        </collection>
    </resultMap>
    <select id="find" resultMap="BaseResultMapss" >
		select * from organization_surface where zids=#{zid}
  </select>

</mapper>
