<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.RatingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.Rating">
        <id column="ra_id" property="raId" />
        <result column="ra_coder" property="raCoder" />
        <result column="ra_name" property="raName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ra_id, ra_coder, ra_name
    </sql>

</mapper>
