<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.StaffDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.StaffData">
        <id column="yid" property="yid" />
        <result column="yname" property="yname" />
        <result column="ysex" property="ysex" />
        <result column="yposition" property="yposition" />
        <result column="yhealth" property="yhealth" />
        <result column="yloginemp" property="yloginemp" />
        <result column="yheigth" property="yheigth" />
        <result column="ynativplaceid" property="ynativplaceid" />
        <result column="ynationid" property="ynationid" />
        <result column="ymarriageid" property="ymarriageid" />
        <result column="yeducationid" property="yeducationid" />
        <result column="yschoolid" property="yschoolid" />
        <result column="yspecialtyid" property="yspecialtyid" />
        <result column="yspecialtynid" property="yspecialtynid" />
        <result column="yattribute" property="yattribute" />
        <result column="ycollegeid" property="ycollegeid" />
        <result column="yorganizationid" property="yorganizationid" />
        <result column="ynumber" property="ynumber" />
        <result column="yaddressh" property="yaddressh" />
        <result column="yaddressx" property="yaddressx" />
        <result column="yphonenumber" property="yphonenumber" />
        <result column="yphone" property="yphone" />
        <result column="email" property="email" />
        <result column="ybankid" property="ybankid" />
        <result column="ybankphone" property="ybankphone" />
        <result column="yjname" property="yjname" />
        <result column="yjphone" property="yjphone" />
        <result column="ystarttime" property="ystarttime" />
        <result column="yendtime" property="yendtime" />
        <result column="ydatetime" property="ydatetime" />
        <result column="ystarttimeh" property="ystarttimeh" />
        <result column="yendtimeh" property="yendtimeh" />
        <result column="ytname" property="ytname" />
        <result column="yratez" property="yratez" />
        <result column="yrateg" property="yrateg" />
        <result column="yrates" property="yrates" />
        <result column="yratej" property="yratej" />
        <result column="ygong" property="ygong" />
        <result column="yjiao" property="yjiao" />
        <result column="yhome" property="yhome" />
        <result column="yjiang" property="yjiang" />
        <result column="yping" property="yping" />
        <result column="gid" property="gid" />
        <result column="bid" property="bid" />
        <result column="reserved1" property="reserved1" />
        <result column="reserved2" property="reserved2" />
        <result column="reserved3" property="reserved3" />
        <result column="reserved4" property="reserved4" />
        <result column="reserved5" property="reserved5" />
        <result column="reserved6" property="reserved6" />
        <result column="reserved7" property="reserved7" />
        <result column="reserved8" property="reserved8" />
        <result column="reserved9" property="reserved9" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        yid, yname, ysex, yposition, yhealth, yloginemp, yheigth, ynativplaceid, ynationid, ymarriageid, yeducationid, yschoolid, yspecialtyid, yspecialtynid, yattribute, ycollegeid, yorganizationid, ynumber, yaddressh, yaddressx, yphonenumber, yphone, email, ybankid, ybankphone, yjname, yjphone, ystarttime, yendtime, ydatetime, ystarttimeh, yendtimeh, ytname, yratez, yrateg, yrates, yratej, ygong, yjiao, yhome, yjiang, yping, gid, bid, reserved1, reserved2, reserved3, reserved4, reserved5, reserved6, reserved7, reserved8, reserved9
    </sql>


    <select id="find">
        SELECT * FROM `staff_data` WHERE
        <foreach collection="list" item="l" separator="or">
            `reserved3` = #{l}
        </foreach>
    </select>
    <update id="lizhih">
        UPDATE `staff_data` SET `reserved6`=1,reserved7="",reserved8="" WHERE `yid`=${id}
    </update>

    <update id="lizhixz">
        UPDATE `staff_data` SET `reserved6`=2,`reserved7`=#{reserved7},`reserved8`=#{reserved8} WHERE `yid`=#{yid}
    </update>


</mapper>
