<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.SuppilermenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.Suppilermenu">
        <id column="s_id" property="sId" />
        <result column="s_name" property="sName" />
        <result column="s_parent" property="sParent" />
        <result column="s_tag" property="sTag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        s_id, s_name, s_parent, s_tag
    </sql>

    <!-- 无限递归 -->
    <resultMap type="com.accp.domain.Suppilermenu" id="BaseResultMapExtends" extends="BaseResultMap">
        <collection property="suppilermenus" column="s_id" ofType="com.accp.domain.Suppilermenu" select="findMenuByRoleId"></collection>
    </resultMap>
    <select id="findMenuByRoleId" resultMap="BaseResultMapExtends">
        select * from suppilermenu where s_parent=#{sParent} <!-- and menu_type in ('F','M') -->
    </select>

</mapper>
