<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.VehicleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.Vehicle">
        <id column="vehicleid" property="vehicleid" />
        <result column="vehiclename" property="vehiclename" />
        <result column="referenceprice" property="referenceprice" />
        <result column="caryear" property="caryear" />
        <result column="gasd" property="gasd" />
        <result column="iod" property="iod" />
        <result column="oilnum" property="oilnum" />
        <result column="fourtype" property="fourtype" />
        <result column="carcoding" property="carcoding" />
        <result column="reserved1" property="reserved1" />
        <result column="reserved2" property="reserved2" />
        <result column="reserved3" property="reserved3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        vehicleid, vehiclename, referenceprice, caryear, gasd, iod, oilnum, fourtype, carcoding, reserved1, reserved2, reserved3
    </sql>

</mapper>
