<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		
	<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<style type="text/css">
			*{
				padding: 0px;
				margin: 0px;
			}
			#tou{
				background-color: #F7FFFF;
				height: 52px;
				width: 100%;
				display: flex;
			}
			#tou>div{

			}
			#tou>div:nth-child(1){
				padding-top: 8px;
				font-size: 26px;
				padding-left: 15px;

			}
			#tou input{
				margin-top: 6px;
				float: left;
				width: 400px;
				height: 40px;
			}
			#tou button{
				border: 0px;
				margin-top: 6px;
				margin-left: 20px;
				height: 40px;
				width: 70px;
				float: left;
			}
			#sou{
				background-color: orange;
			}
			#che{
				font-size: 16px;
				background-color: #EFF7FF;
				display: none;
			}
			#body div{
				height: 40px;
				
			}
			#body div p{
				margin-top: 6px;
				float: left;
				margin-left: 15px;
			}
			#body div a{
				margin-top: 6px;
				margin-left: 70px;
				float: left;
				color: darkgrey;
			}
			.shou{
				margin-top: 6px;
				float: right;
				color: #46B8DA;
				border: 0px;
				background-color: #EFF7FF;
			}
			#kehu{
				background-color: #EFF7FF;
				font-size: 16px;
				display: none;
			}
			#xuan label{
				float: left;
			}
			#xuan input{
				float: left;
			}
			#xuan button{
				padding-left: 20px;
				float: left;
				margin-top: 8px;
				border: 0px;
				background-color: #F7F7F7;
			}
			
			#xuan{
				background-color: #F7F7F7;
				height: 40px;
				width: 100%;
				
			}
			#daochu{
				margin-left: 150px;
			}
			tr.focus{
				background-color: orange;
			}
			thead{
				background-color: #39CEDE;
			}
			table{
				border: 1px red solid;
				width: 100%;
				height: 300px;
				
			}
			#111{
				height: 40px;
				widows: 100%;
			}
			.xx{
				border: 0px;
				float: left;
				width: 80px;
				height: 40px;
				background-color: white;
				text-align: center;
			}
			#mb{
				background-color: #F7FFDE;
				margin: 20px;
				border: 1px #39CEDE solid;
			}
			.gs{
				margin-left: 80px;
				line-height: 50px;
			}
			#mb>span{
				color: #39CEDE;
				margin-right: 30px;
			}
			.oh{
				border-left: 5px orange solid;
			}
		</style>
	</head>
	<body>
		<div id="lx">
		<div id="tou">
			<div style="flex-grow: 1;">车资料</div>
			<div style=""><input type="text" placeholder="匹配驾驶员姓名/简码/手机/车牌号"/>
			<button id="sou">搜索</button>
			<button>关闭</button></div>
		</div>
		<div id="body">
			<div style="display: flex;">
				<div style="flex-grow: 1;background-color: #F7F7F7;"></div>
				<div style="background-color: #F7F7F7;">
					<label style="margin-top: 8px;">车牌号</label><input type="text" style="margin-top: 8px;"/>
					<label style="margin-top: 8px;">车架号</label><input type="text" style="margin-top: 8px;"/>
				</div>
			</div>
			<div id="xuan" >
				<button @click="s">增加</button>
				<button>修改</button>
				<button>删除</button>
				<button>查询</button>
				<button id="daochu" data-toggle="modal" data-target="#baoyang">保养</button>
				<button>导出</button>
				<button @click="ziduan">字段设置</button>
			</div>
			<div style="width:100%; height:250px; overflow:scroll;">
			<table class="table table-bordered" style="width:2800px; height:200px; text-align:center" id="chegg">
				<thead>
					<tr>
						<td>车牌号码</td>
						<td>车辆品牌</td>
						<td>车辆型号</td>
						<td>驾驶员</td>
						<td>驾驶员电话</td>
						<td>出生日期</td>
						<td>车辆归属</td>
						<td>驾证到期</td>
						<td>车架号</td>
						<td>发动机号</td>
						<td>发动机品牌号</td>
						<td>车辆年款</td>
						<td>里程</td>
						<td>载重</td>
						<td>车系</td>
						<td>购买日期</td>
						<td>上牌日期</td>
						<td>车检到期</td>
						<td>交强险保险公司</td>
						<td>交强险到期</td>
						<td>商业险保险公司</td>
						<td>商业险到期</td>
						<td>在我投保车</td>
						<td>二维日期</td>
						<td>燃油类别</td>
						<td>下次保养里程</td>
						<td>下次保养日期</td>
						<td>会员码</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>车牌号码</td>
						<td>车辆品牌</td>
						<td>车辆型号</td>
						<td>驾驶员</td>
						<td>驾驶员电话</td>
						<td>出生日期</td>
						<td>车辆归属</td>
						<td>驾证到期</td>
						<td>车架号</td>
						<td>发动机号</td>
						<td>发动机品牌号</td>
						<td>车辆年款</td>
						<td>里程</td>
						<td>载重</td>
						<td>车系</td>
						<td>购买日期</td>
						<td>上牌日期</td>
						<td>车检到期</td>
						<td>交强险保险公司</td>
						<td>交强险到期</td>
						<td>商业险保险公司</td>
						<td>商业险到期</td>
						<td>在我投保车</td>
						<td>二维日期</td>
						<td>燃油类别</td>
						<td>下次保养里程</td>
						<td>下次保养日期</td>
						<td>会员码</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		<div id="foot" >
			<div id="cheziliao">
				<button class="xx" style="border: 2px black solid;">车辆信息</button>
				<button class="xx">历史维修</button>
			</div>
			<div style="width:100%; height:250px; overflow:scroll;" class="div">
			<table class="table table-bordered" style="width:2800px; height:200px; text-align:center" id="chexian">
				<thead>
					<tr>
						<td>客户编号</td>
						<td>客户名称</td>
						<td>详细地址</td>
						<td>联系人</td>
						<td>手机</td>
						<td>客户生日</td>
						<td>客户类别</td>
						<td>会员卡号</td>
						<td>入会日期</td>
						<td>会员到期</td>
						<td>备注</td>
						<td>建档日期</td>
						<td>服务顾问</td>
						<td>业务员电话</td>
						<td>账期(天)</td>
						<td>挂账额度</td>
						<td>累计积分</td>
						<td>定金余额</td>
						<td>客户省</td>
						<td>客户市</td>
						<td>客户区</td>
						<td>纳税人识别号</td>
						<td>注册电话</td>
						<td>开户银行</td>
						<td>银行账号</td>
						<td>注册地址</td>
						<td>其他一</td>
						<td>其他二</td>
						<td>其他三</td>
						<td>其他四</td>
						<td>单据类型</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>客户编号</td>
						<td>客户名称</td>
						<td>详细地址</td>
						<td>联系人</td>
						<td>手机</td>
						<td>客户生日</td>
						<td>客户类别</td>
						<td>会员卡号</td>
						<td>入会日期</td>
						<td>会员到期</td>
						<td>备注</td>
						<td>建档日期</td>
						<td>服务顾问</td>
						<td>业务员电话</td>
						<td>账期(天)</td>
						<td>挂账额度</td>
						<td>累计积分</td>
						<td>定金余额</td>
						<td>客户省</td>
						<td>客户市</td>
						<td>客户区</td>
						<td>纳税人识别号</td>
						<td>注册电话</td>
						<td>开户银行</td>
						<td>银行账号</td>
						<td>注册地址</td>
						<td>其他一</td>
						<td>其他二</td>
						<td>其他三</td>
						<td>其他四</td>
						<td>单据类型</td>
					</tr>
				</tbody>
			</table>
			</div>
			<div class="div" style="height: 250px; display: none;">
			<table class="table table-bordered" style="height: 250px;">
				<thead>
					<tr>
						<td>单据类型</td>
						<td>销售单号</td>
						<td>车牌号</td>
						<td>进厂时间</td>
						<td>完工时间</td>
						<td>结算时间</td>
						<td>消费金额</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>单据类型</td>
						<td>销售单号</td>
						<td>车牌号</td>
						<td>进厂时间</td>
						<td>完工时间</td>
						<td>结算时间</td>
						<td>消费金额</td>
					</tr>
				</tbody>
			</table>
			</div>
			</div>
			<div class="modal" id="mymodal" data-backdrop="static">
				<div style="width: 900px;" class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<span class="close" data-dismiss="modal">&times;</span>
							<h5 class="col-xs-10">车辆资料编辑</h5>
							<button class="btn btn-default col-xs-1" style="background-color:#82D921 ;">保存</button>
						</div>
						<div class="modal-body" style="background-color: #F7F7F7;">
							<table class="table table-hover">
								<tr>
									<td>*<label style="margin-left: 10px;">车牌号码</label><input style="width: 120px;margin-left: 7px;" /><img @click="mod" src="../img/20210125084610.png" height="23" width="16px" style="margin-top:-2.5px;">*<label style="margin-left: 10px;">车辆品牌</label><input style="width: 120px; margin-left: 10px;"><img @click="mod1" src="../img/20210125084610.png" height="23" width="16px" style="margin-top:-2.5px; margin-right: 4px;">*<label style="margin-left: 10px;">车辆型号</label><input style="width: 120px;margin-left: 7px;margin-right: 10px;">*<label style="margin-left: 10px;">驾驶员</label><input style="width: 120px;margin-left: 7px;margin-right: 10px;"></td>
								</tr>

								<tr>
									<td>*<label style="margin-left: 10px;">驾驶员电话</label><input style="width: 105px;margin-left: 7px;margin-right: 10px;" /><label style="margin-left: 11px;">出生日期</label><input style="width: 120px; margin-left: 10px;margin-right: 10px;"><label style="margin-left: 11px;">驾驶员地址</label><input style="width: 310px;margin-left: 7px;margin-right: 10px;"></td>
								</tr>
								<tr>
									<td><label style="margin-left: 11px;">车架号</label><input style="width: 170px;margin-left: 7px;margin-right: 10px;" /><label style="margin-left: 11px;">发动机号</label><input style="width: 120px; margin-left: 10px;margin-right: 10px;"><label style="margin-left: 11px;">车辆年款</label><input style="width: 80px;margin-left: 7px;margin-right: 10px;"><label style="margin-left: 11px;">里程</label><input style="width: 155px;margin-left: 7px;margin-right: 10px;">
								</tr>
								<tr>
									<td>*<label style="margin-left: 10px;">发动机品牌</label>
										<select style="width: 280px;margin-left: 20px;">
											<option>1-d2</option>
											<option>阿达-d3</option>
										</select><label style="margin-left: 11px;">载重</label><input style="width: 180px; margin-left: 10px;margin-right: 10px;"><label style="margin-left: 11px;">购买日期</label><input style="width: 120px;margin-left: 7px;margin-right: 10px;"></td>
								</tr>
								<tr>
									<td><label style="margin-left: 11px;">上牌日期</label><input style="width: 120px;margin-left: 7px;margin-right: 10px;"><label style="margin-left: 11px;">车检到期</label><input style="width: 130px; margin-left: 10px;margin-right: 10px;"><label style="margin-left: 11px;">二维日期</label><input style="width: 130px;margin-left: 7px;margin-right: 10px;"><label style="margin-left: 11px;">车系</label><input style="width: 137px;margin-left: 7px;margin-right: 10px;"></td>
								</tr>
								<tr>
									<td>
										<span style="color: red;">保险</span>
										<label style="margin-left: 11px;">交强险保险公司</label>
										<select style="margin-left: 10px;width: 105px;">
											<option>阳光保险</option>
											<option>中华联合保险公司</option>
										</select><label style="margin-left: 11px;">交强险到期</label><input style="width: 130px; margin-left: 10px;margin-right: 10px;"><input type="checkbox"><label style="margin-left: 3px;margin-right: ;">在我投保投车</label>*<label style="margin-left: 10px;">车辆归属</label>
										<select style="margin-left: 10px;width: 150px;height: 25px;">
											<option>个人车</option>
											<option>公司车</option>
											<option>租赁车</option>
										</select>
										<img @click="mod2" src="../img/20210125084610.png" height="25" width="16px" style="margin-top:-4px;margin-left: -3px;" />
									</td>
								</tr>
								<tr>
									<td>
										<label style="margin-left: 43px;">商业险保险公司</label>
										<select style="margin-left: 10px;width: 105px;">
											<option>阳光保险</option>
											<option>中华联合保险公司</option>
										</select><label style="margin-left: 11px;">商业险到期</label><input style="width: 130px; margin-left: 10px;margin-right: 10px;"><label>驾证到期</label><input style="width: 90px;margin-left:7px;margin-right: 10px;"><label>燃油类别</label>
										<select style="margin-left: 10px;width: 103px;height: 25px;">
											<option>个人车</option>
											<option>公司车</option>
											<option>租赁车</option>
										</select>
										<img @click="mod3" src="../img/20210125084610.png" height="25" width="16px" style="margin-top:-4px;margin-left: -3px;" />
									</td>
								</tr>
								<tr>
									<td>
										<label style="margin-left: 11px;">下次保养里程</label><input style="margin-left: 10px; width: 110px;"><label style="margin-left: 11px;">下次保养日期</label><input style="width: 130px; margin-left: 10px;margin-right: 10px;"><label>客户名称</label><input disabled="disabled" style="width: 295px;margin-left:7px;"><img src="../img/20210125084610.png" height="23" width="16px" style="margin-top:-2.5px;" @click="luo">
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="modal" id="mymodal12" data-backdrop="static">
				<div style="width: 800px;" class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header" style="">
							<span class="close" data-dismiss="modal">&times;</span>
							<h5 class="col-xs-10">车资料编辑</h5>

						</div>
						<div class="modal-body" style="background-color: #F7F7F7;height: 380px;">
							<div style="background: #F7FFDE;width: 760PX;line-height: 37px;">
								<button class="btn btn-default col-xs-1" style="background-color:#82D921 ;">确定</button>
								<img src="../img/20210126141619.png" style="margin-left: 520px;">全部选择
								<img src="../img/20210126141636.png">全部取消
							</div>
							<div style="width: 760px;height: 300px;overflow-y:scroll;">
								<table class="table table-bordered" style="width: 760px;">
									<tr>
										<td style="width:100px;">显示</td>
										<td style="width:170px;">字段</td>
										<td style="width:190px;">字段名称</td>
										<td style="width:90px;">序号</td>
										<td>显示宽度</td>
									</tr>
									<tr>
										<td><input type="checkbox" v-model="ss"></td>
										<td>CustCode</td>
										<td>客户编码</td>
										<td>1</td>
										<td>150</td>
									</tr>
									<tr>
										<td><input type="checkbox" v-model="ss"></td>
										<td>CustCode</td>
										<td>客户编码</td>
										<td>1</td>
										<td>150</td>
									</tr>
									<tr>
										<td><input type="checkbox" v-model="ss"></td>
										<td>CustCode</td>
										<td>客户编码</td>
										<td>1</td>
										<td>150</td>
									</tr>
									<tr>
										<td><input type="checkbox" v-model="ss"></td>
										<td>CustCode</td>
										<td>客户编码</td>
										<td>1</td>
										<td>150</td>
									</tr>
									<tr>
										<td><input type="checkbox" v-model="ss"></td>
										<td>CustCode</td>
										<td>客户编码</td>
										<td>1</td>
										<td>150</td>
									</tr>
									<tr>
										<td><input type="checkbox" v-model="ss"></td>
										<td>CustCode</td>
										<td>客户编码</td>
										<td>1</td>
										<td>150</td>
									</tr>
									<tr>
										<td><input type="checkbox" v-model="ss"></td>
										<td>CustCode</td>
										<td>客户编码</td>
										<td>1</td>
										<td>150</td>
									</tr>
									<tr>
										<td><input type="checkbox" v-model="ss"></td>
										<td>CustCode</td>
										<td>客户编码</td>
										<td>1</td>
										<td>150</td>
									</tr>
									<tr>
										<td><input type="checkbox" v-model="ss"></td>
										<td>CustCode</td>
										<td>客户编码</td>
										<td>1</td>
										<td>150</td>
									</tr>
									<tr>
										<td><input type="checkbox" v-model="ss"></td>
										<td>CustCode</td>
										<td>客户编码</td>
										<td>1</td>
										<td>150</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal" id="mymodal1" data-backdrop="static">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<span class="close" data-dismiss="modal">&times;</span>
							<h5 class="col-xs-10">车牌字</h5>
						</div>
						<div class="modal-body">
							<div style="width: 380px;margin-left: 100px;height: 300px;  ">
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px ;">京</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px ;">沪</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px ;">津</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px ;">渝</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px ;">鲁</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px ;">冀</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px ; margin-top:9px;">晋</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px ; margin-top:9px;">蒙</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">辽</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">吉</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">黑</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">苏</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">浙</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">皖</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">闽</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">赣</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">豫</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">鄂</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">湘</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">粤</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">桂</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">琼</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px ; margin-top:9px;">川</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">贵</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">云</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">藏</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">陕</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">甘</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">青</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">宁</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">新</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal" id="mymodal2" data-backdrop="static">
				<div class="modal-dialog" style="width: 850px;height: 800px;">
					<div class="modal-content">
						<div class="modal-header">
							<span class="close" data-dismiss="modal">&times;</span>
							<h5 class="col-xs-7">品牌车型</h5>
							<button class="btn btn-default" style="background-color:#82D921; width: 70px;margin-left: 80px;">保存</button>
							<button class="btn btn-default " style="background-color:#F7F7F7 ;">关闭</button>
						</div>
						<div class="modal-body" style="height: 500px;background-color: #F7F7F7;">
							<div>
								<input placeholder="匹配 品牌编码/品牌名称/首字母" style="height: 30px;width: 200px;" />
								<button class="btn btn-default" style="background-color: #FAAC23;margin-top: -2px; width: 90px;line-height: 20px;">搜索</button>
								<input placeholder="匹配 车型编码/车型名称" style="height: 30px;width: 200px;margin-left: 70px;" />
								<button class="btn btn-default" style="background-color: #FAAC23;margin-top: -2px; width: 90px;line-height: 20px;">搜索</button>
							</div>
							<div style="width: 300px;height:400px;float: left;background-color:white; ">
								<table class="table table-bordered">
									<tr>
										<td style="width: 50px;">编码</td>
										<td>品牌名称</td>
										<td style="width: 60px;">首字母</td>
									</tr>
									<tr>
										<td>113</td>
										<td>中国重汽</td>
										<td>A</td>
									</tr>
								</table>
							</div>
							<div style="width: 500px;height:400px;float: left;background-color:white;margin-left: 15px;overflow: scroll;">
								<table class="table table-bordered" style="width:800px; max-width: 820px;">
									<tr>
										<td>车型ID</td>
										<td style="width: 150px;">车型名称</td>
										<td>参考价格</td>
										<td>车辆年款</td>
										<td>排气量</td>
										<td>进口国产</td>
										<td>燃油标号</td>
										<td>四驱类型</td>
									</tr>
									<tr>
										<td>50001</td>
										<td>重汽汕德卡</td>
										<td></td>
										<td></td>
										<td></td>
										<td>进口s</td>
										<td></td>
										<td></td>
									</tr>
								</table>
							</div>
							<span style="line-height: 50px;">记录条数:</span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal" id="mymodal3" data-backdrop="static">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<span class="close" data-dismiss="modal">&times;</span>
							<h4>选择内容设置</h4></div>
						<div class="modal-body" style="margin-top: -14px;margin-left: -16px;height: 400px;">
							<div style="width: 600px;background-color: #D6D6CE;line-height: 30px;">
								<img style="margin-left: 500px;" src="../img/QQ图片20210121164522.png" width="14">修改
								<img src="../img/20210125191943.png" width="14">保存
							</div>
							<div style="width:400px;height: 300px;">
								<table class="table table-bordered">
									<tr style="background-color: #39CEDE;">
										<td>序号</td>
										<td>车辆归属</td>
									</tr>
									<tr>
										<td>1</td>
										<td>个人车</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="modal-footer" style="background-color:#F7F7F7;">
							<button class="btn btn-default" style="background-color:#82DA23;width: 90px;line-height: 24px;">选择</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal" id="mymodal4" data-backdrop="static">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<span class="close" data-dismiss="modal">&times;</span>
							<h4>选择内容设置</h4></div>
						<div class="modal-body" style="margin-top: -14px;margin-left: -16px;height: 400px;">
							<div style="width: 600px;background-color: #D6D6CE;line-height: 30px;">
								<img style="margin-left: 500px;" src="../img/QQ图片20210121164522.png" width="14">修改
								<img src="../img/20210125191943.png" width="14">保存
							</div>
							<div style="width:400px;height: 300px;">
								<table class="table table-bordered">
									<tr style="background-color: #39CEDE;">
										<td>序号</td>
										<td>燃油类别</td>
									</tr>
									<tr>
										<td>1</td>
										<td>柴油</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="modal-footer" style="background-color:#F7F7F7;">
							<button class="btn btn-default" style="background-color:#82DA23;width: 90px;line-height: 24px;">选择</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="baoyang" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header" style="background-color:#F7FFFF;">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">车辆保养登记</h4>
			      </div>
			      <div class="modal-body">
			        <div style="background-color:#F7F7F7;">
			        	<p style="float: left;">车牌号：藏</p>
			        	<button style="float: left; margin-left: 250px; border: 0px; background-color: white;" data-toggle="modal" data-target="#insertBY">增加</button>
			        	<button style="float: left; border: 0px; margin-left: 20px; background-color: white;">修改</button>
			        	<button style="float: left; border: 0px; margin-left: 20px; background-color: white;">删除</button>
			        	<button style="float: left; border: 0px; margin-left: 20px; background-color: white;">导出</button>
			        </div>
			        <table class="table table-bordered">
			        	<thead>
			        		<tr>
			       				<td>车牌号</td>
			       				<td>保养名称</td>
			       				<td>计划日期</td>
			       				<td>计划里程</td>
			       				<td>实际日期</td>
			       				<td>实际里程</td>
			        		</tr>
			        	</thead>
			        	<tbody>
			        		<tr>
			        			<td>车牌号</td>
			       				<td>保养名称</td>
			       				<td>计划日期</td>
			       				<td>计划里程</td>
			       				<td>实际日期</td>
			       				<td>实际里程</td>
			        		</tr>
			        	</tbody>
			        </table>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="modal fade" id="insertBY" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h5 class="modal-title" id="myModalLabel">车辆保养登记</h5>
			      </div>
			      <div class="modal-body" style="background-color:#F7F7F7; height: 70%;">
			        <table class="table table-hover" style="border: 0px;">
			        	<tr>
			        		<td><label>保养名称：</label><input type="text"/></td>
			        	</tr>
			        	<tr>
			        		<td><label>计划里程：</label><input type="text"/><label>计划日期：</label><input type="date"/></td>
			        	</tr>
			        	<tr>
			        		<td><label>备注：</label><input type="text"/></td>
			        	</tr>
			        </table>
			      </div>
			      <div class="modal-footer">
			        <button class="btn btn-success">保存</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.js" ></script>
		<script type="text/javascript" src="../js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="../js/vue-2.6.js" ></script>
		<script>
				new Vue({
				el: "#lx",
				data: {
					ss: []
				},
				methods: {
					khbj() {
						$("#kh").show();
					},
					czl() {
						$("#che").show();
					},
					c() {
						$("#clxx").show();
						$("#lsxf").hide();
						$("#lshf").hide();
					},
					c1() {
						$("#clxx").hide();
						$("#lsxf").show();
						$("#lshf").hide();
					},
					c2() {
						$("#clxx").hide();
						$("#lsxf").hide();
						$("#lshf").show();
					},
					mod() {
						$("#mymodal1").modal("show");
					},
					mod1() {
						$("#mymodal2").modal("show");
					},
					mod2() {
						$("#mymodal3").modal("show");
					},
					mod3() {
						$("#mymodal4").modal("show");
					},
					s() {
						$("#mymodal").modal("show");
					},
					luo() {
						$("#mymodal5").modal("show");
					},
					showmo() {
						$("#mymodal7").modal("show");
					},
					showmo1() {
						$("#mymodal8").modal("show");
					},
					showmo2() {
						$("#mymodal9").modal("show");
					},
					showmo3() {
						$("#mymodal6").modal("show");
					},
					showmo4() {
						$("#mymodal10").modal("show");
					},
					ba() {
						window.location.href = "file.html";
					},
					ba1() {
						$("#mymodal11").modal("show");
					},
					xz() {
						ss = 1;
					},
					qx() {
						ss = [];
					},
					ziduan(){
						$("#mymodal12").modal("show");
					}
				},
				created() {}
			});
				var buttonArr = document.getElementsByClassName("xx");
				var divArr = document.getElementsByClassName("div");
				for(var i = 0; i < buttonArr.length;i++) {
        			buttonArr[i].onclick = function() {
            		//this 
           	 		// alert(this.innerHTML)
          			//for循环遍历button数组长度
            		for(var j = 0; j < buttonArr.length; j++) {
                		//重置所有的button样式
                		buttonArr[j].style.border="0px";
                		//给当前的(点击的那个)那个button添加样式
//              		this.style.border="5px solid #39CEDE";
                		//隐藏所有的div
                		divArr[j].style.display = "none";
                		//判断当前点击是按钮数组中的哪一个？
                		if(this == buttonArr[j]) {
                    	// alert(j);
                     	//显示点击按钮对应的div
                    	divArr[j].style.display = "block";
                		}
            		}
            	
        		}
			}
			
	</script>
</html>
