<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	<link rel="stylesheet" href="../css/bootstrap.min.css" />
	</head>
		<style type="text/css">
			html,body{
				width: 100%;
				height: 100%;
			}
			#ctn{
				width: 99%;
				height: 100%;
				
			}
			
			a{
				color: #000000;
			}
				
			#find{
				width: 100%;
				margin-right: 20px;
				
			}
			input[type="text"]{
				height: 25px;
				width: 150px;
			}
			#table{
			}
			tr{
				font-size: 12px;
			}
			#theme{
				height: 88%;
				background: #f7f7f7;
			}
			
			.til{
				display: inline-block;
				padding-left: 10px;
				height: 25px;
				border-left: 4px solid sandybrown;
			}
			
			.must{
				display: inline-block;
				width: 5px;
				color: red;
			}
			
			.va{
				display: inline-block;
				color: #39cede;
				width: 70px;
			}
			
			.price input[type="text"]{
				width: 80px;
			}
			
			
			li{
				list-style: none;
			}
			
			.ctable td{
				width: 50px;
			}
			
			.app{
				color: red;
			}
			
			#mfieldmodal td{
				width: 100px;
			}
			
			#mfieldmodal .item{
				width: 50px;
			}
			
			.item{
				width: 50px;
				background: #666;
			}
			
			
			/* .icoopen , .icoopen2 , .icoclose , .icoclose2 , .iconleaf , .iconleaf2 ,.lmenu ul li span ,.search-side button{background: url("") no-repeat 0 0;width: 9px;height: 9px;top: 9px;}
			.lmenu li{list-style: none;}
			.lmenu em {display: block;position: absolute;cursor: pointer;}
			.icoopen{left: 28px;background-position: 0 -39px;}
			.icoopen2{left: 42px;background-position: -46px -88px;}
			.icoclose{left: 28px;background-position: -45px -39px;}
			.icoclose2{left: 42px;background-position: 0 -88px;}
			 
			.iconleaf , .iconleaf2{width: 3px;height: 5px;background-position: -87px -41px;}
			 
			.iconleaf {left: 47px;top: 11px;}
			.iconleaf2 {left: 72px;top: 10px;}
			 
			.search-side{
				width: 250px;
				border-radius: 5px;
				position: relative;
				background-color: #FFFFFF;
				border: 1px solid #ddd;
				height: 36px;
				line-height: 36px;
			}
			.search-side button{
				background-position: 0 0;
				border: 0 none;
				cursor: pointer;
				display: block;
				height: 16px;
				width: 16px;
				position: relative;
				left: 11px;
			}
			.search-box input{
				position: absolute;
				top: 11px;
				background-color: transparent;
				border: medium none;
				color: #AFB0B0;
				height: 16px;
				margin-left: 37px;
				outline: medium none;
				width: 200px;
			} */
			 
			 
			.lmenu{
				height: auto;
				overflow: hidden;
				font-family: "宋体",Tahoma, Helvetica, "Microsoft Yahei", "微软雅黑", Arial, STHeiti;
				margin-bottom: 10px;
				border: 1px solid #ddd;
				border-radius: 5px;
			}
			 
			.lmenu ul li{
				
			}
			.lmenu ul li ul{
				max-height: 350px;
				overflow: auto;
			}
			.lmenu ul li ul li ul{
				height: auto;
			}
			.lmenu ul li span{
				display: block;
				width: 100%;
				height: 28px;
				line-height: 28px;
				/* text-indent: 3em; */
				/*font-weight: bolder;*/
				font-size: 14px;
				color: #0E3E5E;
				border-bottom: 1px solid #D7D7D7;
				background-position: -46px 0;
			}
			.lmenu ul li ul li , .lmenu ul li ul li span{
				/*background-color: #F7F8F8;*/
				background-color: #FFFFFF;
				color: #333;
				/* text-indent: 5em; */
				font-size: 13px;
				height: auto;
				line-height: 28px;
			 
			}
			.lmenu ul li ul li span{
				background:none;
			 
			}
			.lmenu ul li ul li ul li{
				border:none;
				text-indent: 2em;
				font-size: 12px;
				font-weight: normal;
				height: 24px;
				line-height: 24px;
			}
			
			.lmenu span{
				border-radius: 3px;
			}
			
			.pintr2:nth-of-type(2){
				background: sandybrown;
			}
			
			
		</style>
	<body>
		<div id="ctn">
			
			<div class="row">
				<div class="col-sm-2">
					<h3>&nbsp;&nbsp;&nbsp;商品资料</h3>
				</div>
				<div class="col-sm-5"></div>
				<div class="col-sm-4">
					<br />
					<input type="text" name="" placeholder="匹配编码/名称/名称/简码/型号/大类" id="" value="" v-model="merdimtext" style="width: 350px;height: 30px;"/>
					<button class="btn btn-warning btn-sm butt1" @click="merdim">搜索</button>
				</div>
				<div class="col-sm-1">
					<br>
					<button class="btn btn-sm" >关闭</button>
				</div>
			</div>
			<div id="theme">
				<div id="find">
					<hr />
				</div>
				
				<div class="row">
					<div class="col-sm-3">
						&nbsp;&nbsp;&nbsp;&nbsp;
						
						<span v-perms="'commodity:goods:add'"><img src="../img/1.png" width="6%"><a href="javascript:void(0)" @click="addgoodsmo">增加</a></span>
						<span v-perms="'commodity:goods:update'"><img src="../img/2.png" width="6%"><a href="javascript:void(0)" @click="updategoodsmo">修改</a></span>
						<span v-perms="'commodity:goods:remove'"><img src="../img/3.png" width="6%"><a href="javascript:void(0)" class="butt2" @click="removemer">删除</a></span> 
						&nbsp;
						<!-- <span v-perms="''"><img src="../img/4.png" width="6%"><a href="javascript:void(0)" @click="findgoodsmo">查询</a></span> -->
						<span v-perms="'commodity:goods:export'"><img src="../zenglianjun/img/捕获11.PNG" width="6%"><a href="javascript:void(0)" @click="downloadExcel">导出</a></span> 
					</div>
					<div class="col-sm-9">
						
						<!-- <span><img src="img/111.PNG" width="2%"><a href="javascript:void(0)">照片</a> -->
						<!-- <span><img src="img/112.PNG" width="2%"><a href="javascript:void(0)">条码</a> -->
						<!-- <span><img src="../img/8.png" width="2%"><a href="javascript:void(0)">分类设置</a> -->
						<!-- <span><img src="../img/9.png" width="2%"><a href="javascript:void(0)" @click="addfield">字段设置</a> -->
						
					</div>
				</div>
				
				&nbsp;&nbsp;&nbsp;&nbsp;
				<span v-if="false">
					<input type="text" name="" id="" value="" placeholder="匹配	编码/名称" style="height: 30px;"/>
					<span v-perms="'commodity:goods:seek'"><button class="btn btn-warning btn-sm">搜索</button></span>
				</span>
				<br><br />
				<div style="width: 300px;height: 85%;margin-left: 0px; background: #ffffff;">
					<br />
					
					
					<div class="lmenu lm1">
						<ul v-for="item4 in menumerlist">
							
							<li aid="1" v-for="item in item4.menuMerchandises">
								<span>
									<em class="icoclose"></em>
										{{item.menuName}}
								</span>
								<ul style="display: none;">
									<li aid="8" v-for="item2 in item.menuMerchandises" >
										<span @click="findmerclick(item2)" class="span1">
											<em class="icoclose2"></em>
												{{item2.menuName}}
										</span>
										<ul style="display: none;">
											<li aid="10" v-for="item3 in item2.menuMerchandises" @click="findmerclick(item3)">
												<em class="iconleaf2"></em>
												<a class="a1" href="javascript:void(0)">
													<span style="height: 100%;" class="span1">
														{{item3.menuName}}
													</span>
												</a>
											</li>
										</ul>
									</li>
									
								</ul>
							</li>
							
						</ul>
					</div>
					
					
					
				</div>
				
				<div style="margin-left: 350px;margin-top: -590px; border: 0px solid #000000;background: #ffffff;height: 90%;overflow: auto; width: 76.6%;" >
					<table id="ctable" class="table table-bordered" style="white-space: nowrap" >
						<tr style="background: #39cede;">
							<td style="border: 1px solid #666; color: #FFFFFF;padding-left: 25px;"></td>
							<td style="border: 1px solid #666; color: #FFFFFF;">登记门店</td>
							<!-- <td style="border: 1px solid #666; color: #FFFFFF;">照片名</td> -->
							<td style="border: 1px solid #666; color: #FFFFFF;">商品编码</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">商品名称</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">商品品牌</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">适用车型</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">数量单位</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">商品大类</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">商品中类</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">商品小类</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">收入分类</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">原厂副厂</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">商品等级</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">商品产地</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">厂商名称</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">原厂编码</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">条形码</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">包装规格</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">体积A</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">毛重</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">净重</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">加价率</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">互换码</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">售价按</td>
						</tr>
						<tr class="pintr2" v-for="item in merlist" @click="merck(item)">
							<td class="item"></td>
							<td>{{item.meCheck}}</td>
							<!-- <td>{{item.reserved1}}</td> -->
							<td>{{item.meId}}</td>
							<td>{{item.meName}}</td>
							<td>{{item.meBrand}}</td>
							<td>{{item.meAdaptable}}</td>
							<td>{{item.meUnit}}</td>
							<td><span v-if="item.menuMerchandise">{{item.menuMerchandise.menuName}}</span></td>
							<td></td>
							<td></td>
							<td>{{item.meIncome}}</td>
							<td>{{item.meMill}}</td>
							<td>{{item.meGrade}}</td>
							<td>{{item.mePlace}}</td>
							<td><span v-if="item.suppiler">{{item.suppiler.pname}}</span></td>
							<td>{{item.meCoding}}</td>
							<td>{{item.meCode}}</td>
							<td>{{item.meBack}}</td>
							<td>{{item.meBulk}}</td>
							<td>{{item.meGross}}</td>
							<td>{{item.meSuttle}}</td>
							<td>{{item.reserved2}}</td>
							<td>{{item.meSwitch}}</td>
							<td>{{item.reserved3}}</td>
							
						</tr>
					</table>
				</div>
				
			</div>
			
			
			
			
			<!-- 模态框 -->
			
			<div id="modal">
				
				<!-- 新增商品 -->
				<div class="modal fade" id="addgoodsmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">
							<div class="row">
								<div class="col-sm-9">
									<span class="til">商品资料编辑</span>
								</div>
								<div class="col-sm-1">
									<button type="button" class="btn btn-success" @click="addmer">保存</button>
								</div>
							</div>
							
							
						</h4>
				      </div>
				      <div class="modal-body">
				        	<div style="background:#f7f7f7 ;">
								<br />
								<p>
									<span class="must">*</span>
									<span class="va">商品编码</span>
									<input type="text" name="" id="" value="" v-model="merchandise.meId" />
									<span class="must">*</span>
									<span class="va">商品名称</span>
									<input type="text" name="" id="" value="" v-model="merchandise.meName" />
								</p>
								<p>
									<span class="must"></span>
									<span class="va">商品品牌</span>
									<select style="width: 150px;height: 25px;" v-model="merchandise.meBrand">
										<option value="别克">别克</option>
										<option value="宝马">宝马</option>
										<option value="宝骏">宝骏</option>
										<option value="东风">东风</option>
									</select>
									<span class="must"></span>
									<span class="va">数量单位</span>
									<select style="width: 150px;height: 25px;" v-model="merchandise.meUnit">
										<option value="件">件</option>
										<option value="个">个</option>
										<option value="只">只</option>
										<option value="条">条</option>
										<option value="把">把</option>
									</select>
								</p>
								<p>
									<span class="must"></span>
									<span class="va">适用车型</span>
									<input type="text" name="" id="" value="" v-model="merchandise.meAdaptable" />
									<span class="must"></span>
									<span class="va">商品大类</span>
									<input type="text" name="" id="" value="" disabled="disabled" v-model="broad.menuName" />
									<a href="javascript:void(0)" style="margin-left: -10px;" @click="broadmo">
										<img class="broadid" src="../zenglianjun/img/三角形.PNG" width="35px" />
									</a>
								</p>
								
								<p>
									<span class="must"></span>
									<span class="va">收入分类</span>
									<select style="width: 150px;height: 25px;" v-model="merchandise.meIncome">
										<option value="工时费">工时费</option>
										<option value="燃油费">燃油费</option>
										<option value="代办费">代办费</option>
										<option value="其他">其他</option>
									</select>
									<span class="must"></span>
									<span class="va">原厂副厂</span>
									<select style="width: 150px;height: 25px;" v-model="merchandise.meMill">
										<option value="一号厂">一号厂</option>
										<option value="二号厂">二号厂</option>
										<option value="三号厂">三号厂</option>
									</select>
								</p>
								
								<p>
									<span class="must"></span>
									<span class="va">商品等级</span>
									<select style="width: 150px;height: 25px;" v-model="merchandise.meGrade">
										<option value="优">优</option>
										<option value="良">良</option>
										<option value="差">差</option>
									</select>
									<span class="must"></span>
									<span class="va">商品产地</span>
									<select style="width: 150px;height: 25px;" v-model="merchandise.mePlace">
										<option value="湖南">湖南</option>
										<option value="北京">北京</option>
										<option value="广东">广东</option>
									</select>
								</p>
								<p>
									<span class="must"></span>
									<span class="va">厂商名称</span>
									<select  style="width: 388px; height: 25px;" v-model="merchandise.pId">
										<option v-for="item in supplist" :value="item.pId">{{item.pName}}</option>
									</select>
								</p>
								<p>
									<span class="must"></span>
									<span class="va">原厂编码</span>
									<input type="text" name="" id="" value="" v-model="merchandise.meCoding"/>
									<span class="must"></span>
									<span class="va">条形码</span>
									<input type="text" name="" id="" value="" v-model="merchandise.meCode"/>
								</p>
								<p>
									<span class="must"></span>
									<span class="va">包装规格</span>
									<input type="text" name="" id="" value="" v-model="merchandise.meBack"/>
									<span class="must"></span>
									<span class="va">体积A</span>
									<input type="text" name="" id="" value="" v-model="merchandise.meBulk"/>
								</p>
								<p>
									<span class="must"></span>
									<span class="va">毛重</span>
									<input type="text" name="" id="" value="" v-model="merchandise.meGross"/>
									<span class="must"></span>
									<span class="va">净重</span>
									<input type="text" name="" id="" value="" v-model="merchandise.meSuttle"/>
								</p>
								<p>
									<span class="must"></span>
									<span class="va">进货价</span>
									<input type="text" name="" id="" value="" v-model="merchandise.meCost"/>
									<span class="must"></span>
									<span class="va">售价按</span>
									<select style="width: 150px;height: 25px;" v-model="merchandise.reserved3">
										<option value="售价表">售价表</option>
										<option value="加价率">加价率</option>
									</select>
								</p>
								<p>
									<span class="must"></span>
									<span class="va">互换码</span>
									<input type="text" name="" id="" value="" style="width: 388px;" v-model="merchandise.meSwitch"/>
								</p>
								<p>
									<div class="price">
										<span class="must"></span>
										<span class="va">标准价</span>
										<input type="text" name="" id="" value="" v-model="merchandise.meNormalprice"/>
										
										<span class="va">会员价</span>
										<input type="text" name="" id="" value="" v-model="merchandise.meMemberprice"/>
										
										<span class="va">VIP价</span>
										<input type="text" name="" id="" value="" v-model="merchandise.meVipprice"/>
									</div>
								</p>
								<p>
									<div class="price">
										<span class="must"></span>
										<span class="va">协议价</span>
										<input type="text" name="" id="" value="" v-model="merchandise.meDetaprice"/>
										
										<span class="va">索赔价</span>
										<input type="text" name="" id="" value="" v-model="merchandise.meClaimprice"/>
										
										<span class="va">保险价</span>
										<input type="text" name="" id="" value="" v-model="merchandise.meSafetyprice"/>
									</div>
								</p>
								<br />
							</div>
				      </div>
				     
				    </div>
				  </div>
				</div>
				
				
				
				
				<!-- 修改商品 -->
				<div class="modal fade" id="updategoodsmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">
							<div class="row">
								<div class="col-sm-9">
									<span class="til">商品资料编辑</span>
								</div>
								<div class="col-sm-1">
									<button type="button" class="btn btn-success butt1" @click="updatemer">保存</button>
								</div>
							</div>
							
							
						</h4>
				      </div>
				      <div class="modal-body">
				        	<div style="background:#f7f7f7 ;">
								<br />
								<p>
									<span class="must">*</span>
									<span class="va">商品编码</span>
									<input type="text" name="" id="" value="" v-model="merchandise.meId" readonly="readonly" />
									<span class="must">*</span>
									<span class="va">商品名称</span>
									<input type="text" name="" id="" value="" v-model="merchandise.meName" />
								</p>
								<p>
									<span class="must"></span>
									<span class="va">商品品牌</span>
									<select style="width: 150px;height: 25px;" v-model="merchandise.meBrand">
										<option value="别克">别克</option>
										<option value="宝马">宝马</option>
										<option value="宝骏">宝骏</option>
										<option value="东风">东风</option>
									</select>
									<span class="must"></span>
									<span class="va">数量单位</span>
									<select style="width: 150px;height: 25px;" v-model="merchandise.meUnit">
										<option value="件">件</option>
										<option value="个">个</option>
										<option value="只">只</option>
										<option value="条">条</option>
										<option value="把">把</option>
									</select>
								</p>
								<p>
									<span class="must"></span>
									<span class="va">适用车型</span>
									<input type="text" name="" id="" value="" v-model="merchandise.meAdaptable" />
									<span class="must"></span>
									<span class="va">商品大类</span>
									<input type="text" name="" id="" value="" disabled="disabled" v-model="broad.menuName" />
									<a href="javascript:void(0)" style="margin-left: -10px;" @click="broadmo">
										<img class="broadid" src="../zenglianjun/img/三角形.PNG" width="35px" />
									</a>
								</p>
								
								<p>
									<span class="must"></span>
									<span class="va">收入分类</span>
									<select style="width: 150px;height: 25px;" v-model="merchandise.meIncome">
										<option value="工时费">工时费</option>
										<option value="燃油费">燃油费</option>
										<option value="代办费">代办费</option>
										<option value="其他">其他</option>
									</select>
									<span class="must"></span>
									<span class="va">原厂副厂</span>
									<select style="width: 150px;height: 25px;" v-model="merchandise.meMill">
										<option value="一号厂">一号厂</option>
										<option value="二号厂">二号厂</option>
										<option value="三号厂">三号厂</option>
									</select>
								</p>
								
								<p>
									<span class="must"></span>
									<span class="va">商品等级</span>
									<select style="width: 150px;height: 25px;" v-model="merchandise.meGrade">
										<option value="优">优</option>
										<option value="良">良</option>
										<option value="差">差</option>
									</select>
									<span class="must"></span>
									<span class="va">商品产地</span>
									<select style="width: 150px;height: 25px;" v-model="merchandise.mePlace">
										<option value="湖南">湖南</option>
										<option value="北京">北京</option>
										<option value="广东">广东</option>
									</select>
								</p>
								<p>
									<span class="must"></span>
									<span class="va">厂商名称</span>
									<select  style="width: 388px; height: 25px;" v-model="merchandise.pid">
										<option v-for="item in supplist" :value="item.pId">{{item.pName}}</option>
									</select>
								</p>
								<p>
									<span class="must"></span>
									<span class="va">原厂编码</span>
									<input type="text" name="" id="" value="" v-model="merchandise.meCoding"/>
									<span class="must"></span>
									<span class="va">条形码</span>
									<input type="text" name="" id="" value="" v-model="merchandise.meCode"/>
								</p>
								<p>
									<span class="must"></span>
									<span class="va">包装规格</span>
									<input type="text" name="" id="" value="" v-model="merchandise.meBack"/>
									<span class="must"></span>
									<span class="va">体积A</span>
									<input type="text" name="" id="" value="" v-model="merchandise.meBulk"/>
								</p>
								<p>
									<span class="must"></span>
									<span class="va">毛重</span>
									<input type="text" name="" id="" value="" v-model="merchandise.meGross"/>
									<span class="must"></span>
									<span class="va">净重</span>
									<input type="text" name="" id="" value="" v-model="merchandise.meSuttle"/>
								</p>
								<p>
									<span class="must"></span>
									<span class="va">进货价</span>
									<input type="text" name="" id="" value="" v-model="merchandise.meCost"/>
									<span class="must"></span>
									<span class="va">售价按</span>
									<select style="width: 150px;height: 25px;" v-model="merchandise.reserved3">
										<option value="售价表">售价表</option>
										<option value="加价率">加价率</option>
									</select>
								</p>
								<p>
									<span class="must"></span>
									<span class="va">互换码</span>
									<input type="text" name="" id="" value="" style="width: 388px;" v-model="merchandise.meSwitch"/>
								</p>
								<p>
									<div class="price">
										<span class="must"></span>
										<span class="va">标准价</span>
										<input type="text" name="" id="" value="" v-model="merchandise.meNormalprice"/>
										
										<span class="va">会员价</span>
										<input type="text" name="" id="" value="" v-model="merchandise.meMemberprice"/>
										
										<span class="va">VIP价</span>
										<input type="text" name="" id="" value="" v-model="merchandise.meVipprice"/>
									</div>
								</p>
								<p>
									<div class="price">
										<span class="must"></span>
										<span class="va">协议价</span>
										<input type="text" name="" id="" value="" v-model="merchandise.meDetaprice"/>
										
										<span class="va">索赔价</span>
										<input type="text" name="" id="" value="" v-model="merchandise.meClaimprice"/>
										
										<span class="va">保险价</span>
										<input type="text" name="" id="" value="" v-model="merchandise.meSafetyprice"/>
									</div>
								</p>
								<br />
							</div>
				      </div>
				     
				    </div>
				  </div>
				</div>
				
				
				<!-- 字段设置 -->
				<div class="modal fade" id="addfieldmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">
							<div class="row">
								<div class="col-sm-12">
									<span class="til">字段设置</span>
								</div>
							</div>
							<br />
							
							
						</h4>
				      </div>
				      <div class="modal-body">
				        	<div id="mfieldmodal" style="background:#f7f7f7; height: 500px;">
								
								<div class="row" style="height: 50px;">
									
									<div class="col-sm-8">
										<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<button type="button" class="btn btn-success">保存</button>
									</div>
									<div class="col-sm-4" style="margin-top: 5px;">
										<br />
										<button class="btn btn-warning btn-xs">全部选择</button>
										<button class="btn btn-warning btn-xs">全部取消</button>
									</div>
								</div>
								<br />
								<table id="ctable" class="table table-bordered table-striped table-hover" style="width: 551px;">
									<tr style="background: #39cede;">
										<td style="border: 1px solid #666; color: #FFFFFF; width: 50px;"></td>
										<td style="border: 1px solid #666; color: #FFFFFF;">显示</td>
										<td style="border: 1px solid #666; color: #FFFFFF;">字段</td>
										<td style="border: 1px solid #666; color: #FFFFFF;">字段名称</td>
										<td style="border: 1px solid #666; color: #FFFFFF;">序号</td>
										<td style="border: 1px solid #666; color: #FFFFFF;">显示宽度</td>
									</tr>
									
								</table>
								<div style="overflow: auto; width: 100%;height: 70%;margin-top: -20px;" >
									<table id="ctable" class="table table-bordered table-striped table-hover" style="width: nowrap" >
										
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>asdasd</td>
											<td>商品编码</td>
											<td>1</td>
											<td>165</td>
										</tr>
										<tr class="pint3r">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
										<tr class="pintr3">
											<td class="item"></td>
											<td style="text-align: center;"><input type="checkbox"/></td>
											<td>sdeffds</td>
											<td>商品名称</td>
											<td>2</td>
											<td>155</td>
										</tr>
									</table>
								</div>
								
							</div>
				      </div>
				     
				    </div>
				  </div>
				</div>
				
				
				
				
				
				<!-- 查询 -->
				<div class="modal fade" id="findgoodsmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">
							<div class="row">
								<div class="col-sm-9">
									<span class="til">商品查询</span>
								</div>
								<div class="col-sm-1">
									<button type="button" class="btn btn-success">确定</button>
								</div>
							</div>
							
							
						</h4>
				      </div>
				      <div class="modal-body">
				        	<div style="background:lightyellow ;">
								<br />
								<p>
									<span class="must"></span>
									<span class="va">商品编码</span>
									<input type="text" name="" id="" value="" />
									<span class="must"></span>
									<span class="va">商品名称</span>
									<input type="text" name="" id="" value="" />
								</p>
								<p>
									<span class="must"></span>
									<span class="va">商品品牌</span>
									<select style="width: 150px;height: 25px;">
										<option style='display: none'></option>
										<option>别克</option>
										<option>米其林</option>
									</select>
									<span class="must"></span>
									<span class="va">适用车型</span>
									<input type="text" name="" id="" value="" />
								</p>
								<p>
									<span class="must"></span>
									<span class="va">商品大类</span>
									<select style="width: 150px;height: 25px;">
										<option style='display: none'></option>
										<option>11</option>
										<option>22</option>
									</select>
									<span class="must"></span>
									<span class="va">商品中类</span>
									<input type="text" name="" id="" value="" />
								</p>
								
								<p>
									<span class="must"></span>
									<span class="va">商品小类</span>
									<input type="text" name="" id="" value="" />
									<span class="must"></span>
									<span class="va">收入分类</span>
									<select style="width: 150px;height: 25px;">
										<option style='display: none'></option>
										<option>机修</option>
										<option>钣喷</option>
										<option>燃油</option>
									</select>
								</p>
								
								<p>
									<span class="must"></span>
									<span class="va">原厂副厂</span>
									<select style="width: 150px;height: 25px;">
										<option style='display: none'></option>
										<option>一号厂</option>
										<option>二号厂</option>
										<option>三号厂</option>
									</select>
									<span class="must"></span>
									<span class="va">商品等级</span>
									<select style="width: 150px;height: 25px;">
										<option style='display: none'></option>
										<option>A级</option>
										<option>B级</option>
										<option>C级</option>
									</select>
								</p>
								
								<p>
									<span class="must"></span>
									<span class="va">商品产地</span>
									<select style="width: 150px;height: 25px;">
										<option style='display: none'></option>
										<option>湖南</option>
										<option>北京</option>
										<option>广东</option>
									</select>
									<span class="must"></span>
									<span class="va">厂商名称</span>
									<select style="width: 150px;">
										<option style='display: none'></option>
										<option>11</option>
										<option>22</option>
										<option>33</option>
									</select>
								</p>
								
								<p>
									<span class="must"></span>
									<span class="va">原厂编码</span>
									<input type="text" name="" id="" value="" />
									<span class="must"></span>
									<span class="va">条形码</span>
									<input type="text" name="" id="" value="" />
								</p>
								<p>
									<span class="must"></span>
									<span class="va">包装规格</span>
									<input type="text" name="" id="" value="" />
									<span class="must"></span>
									<span class="va">体积A</span>
									<input type="text" name="" id="" value="" />
								</p>
								<p>
									<span class="must"></span>
									<span class="va">毛重</span>
									<input type="text" name="" id="" value="" />
									<span class="must"></span>
									<span class="va">净重</span>
									<input type="text" name="" id="" value="" />
								</p>
								<p>
									<span class="must"></span>
									<span class="va">零部件</span>
									<select style="width: 150px;height: 25px;">
										
										<option>所有</option>
										<option>父件</option>
										<option>部件</option>
									</select>
								</p>
								<p>
									<span class="must"></span>
									<span class="va">品牌车型</span>
									<select style="width: 150px;height: 25px;width: 388px;">
										<option style='display: none'></option>
										<option>11</option>
										<option>22</option>
										<option>33</option>
									</select>
								</p>
								<br />
							</div>
				      </div>
				     
				    </div>
				  </div>
				</div>
				
				
			</div>
			
			
			<!-- 商品大类 -->
			<div class="modal fade" id="broadmo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">
						<div style="width: 100%;height: 5%;font-size: 12px; background: #00008B;color: #FFFFFF;line-height: 25px;">&nbsp;&nbsp;&nbsp;商品分类</div>
						<div style="height: 20px;">
							<br />
							<div class="row">
								<div class="col-sm-1"></div>
								<div class="col-sm-3"><span style="font-size: 20px;">分类管理</span> </div>
								<div class="col-sm-3"><span><button class="btn btn-success" @click="broadaff">选择</button></span> </div>
								<div class="col-lg-2"></div>
								<div class="col-lg-1"><button class="btn btn-danger">退出</button> </div>
							</div>
							<br />
						</div>
						
					</h4>
			      </div>
			      <div class="modal-body">
			        	<div id="mfieldmodal" style="">
							<div>
								<div class="lmenu lm2">
									<ul id="ul1" v-for="item4 in menumerlist">
										
										<li aid="1" v-for="item in item4.menuMerchandises">
											<span @click="broadck(item)">
												<em class="icoclose"></em>
													{{item.menuName}}
											</span>
											<ul style="display: none;">
												<li aid="8" v-for="item2 in item.menuMerchandises" >
													<span @click="broadck(item2)">
														<em class="icoclose2"></em>
															{{item2.menuName}}
													</span>
													<ul style="display: none;">
														<li aid="10" v-for="item3 in item2.menuMerchandises">
															<em class="iconleaf2"></em>
															<a class="a1" href="javascript:void(0)">
																<span style="height: 100%;" @click="broadck(item3)">
																	{{item3.menuName}}
																</span>
															</a>
														</li>
													</ul>
												</li>
												
											</ul>
										</li>
										
									</ul>
								</div>
							</div>
							
							
						</div>
			      </div>
			     
			    </div>
			  </div>
			</div>
			
			
		</div>
		
<script src="../js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/vue.js"></script>		
<script src="../js/vue-perms.js" type="text/javascript" charset="utf-8"></script>
<script>
	
	
	var BaseUrl="http://127.0.0.1:8080/";
	
	new Vue({
		el:"#ctn",
		data(){
			return{
				menumerlist:[],
				merlist:[],
				supplist:[],
				merinit:{},
				merdimtext:null,
				str:[],
				con1:"0",
				con2:"0",
				menuinit:{},
				broadshowhide:false,
				broadtemp:{},
				broad:{},
				merchandise:{},
			}
		},
		methods:{
			
			//显示商品大类选项
			broadmo(){
				$("#broadmo").modal("show");
			},
			
			broadck(item){
				this.broadtemp=item
				//console.log(this.broadtemp)
			},
			
			removemer(){
				if(this.merlist.length==0){
					alert("很抱歉，你暂未选择商品！")
					return
				}
				if(!confirm("确认删除吗？")){
					return
				}
				let that=this;
				$.ajax({
					url:BaseUrl+"merchandise/removemer/"+that.merinit.meId,
					success:function(result){
						if(result=="000000"){
							var tr=document.getElementsByClassName("pintr2");
							for(var i=0;i<tr.length;i++){
								tr[i].style.background='none';
							}
							tr[0].style.background='sandybrown';
							that.findmer(that.menuinit.menuId)
						}
					}
				})
			},
			
			//导出
			downloadExcel(){
				if(this.merlist.length==0){
					alert("很抱歉，没有商品无法导出数据！")
					return
				}
				if(this.menuinit.menuId==null){
					this.menuinit.menuId=0;
				}
				window.location.href="http://127.0.0.1:8080/fileshan/downloadExcel?menuid="+this.menuinit.menuId+"&con1="+this.con1+"&con2="+this.con2;
			},
			
			broadaff(){
				//console.log(this.broadtemp)
				if(this.broadtemp.menuMerchandises[0]){
					//console.log(this.broadtemp.menuMerchandises)
					alert("只能选择最底层目录！")
					
				}else{
					let formdata= JSON.parse(JSON.stringify(this.broadtemp))
					this.broad=formdata;
					$("#broadmo").modal("hide");
				}
			},
			
			merdim(){
				if(!this.merdimtext){
					return
				}
				if(this.merdimtext.indexOf("+")==-1){ //等于-1表示这个字符串中没有o这个字符
					this.con1=this.merdimtext;
				}else{
					let str=[];
					str=this.merdimtext.split("+");
					console.log(str);
					this.con1=str[0];
					this.con2=str[1];
				}
				this.findmer(this.menuinit.menuId);
			},
			
			findsupp(){
				let that=this;
				$.ajax({
					url:BaseUrl+"merchandise/findsupp",
					success:function(result){
						that.supplist=result
					}
				})
			},
			
			//无限递归方法
			findmenu(){
				let that=this;
				$.ajax({
					url:BaseUrl+"merchandise/di",
					success:function(result){
						that.menumerlist=result
						console.log(that.menumerlist[0])
					}
				})
			},
			
			
			
			findmerclick(item){
				this.con1="0"
				this.con2="0"
				this.menuinit=item;
				console.log(this.menuinit);
				this.findmer(item.menuId);
			},
			
			
			
			findmer(meId){
				if(!meId){
					meId=0;
				}
				if(!this.con2){
					this.con2="0"
				}
				if(!this.con1){
					this.con1="0"
				}
				let that=this;
				$.ajax({
					url:BaseUrl+"merchandise/findmer/"+meId+"/"+that.con1+"/"+that.con2,
					success:function(result){
						that.merlist=result
						that.merdimtext=null
						that.init();
					}
				})
			},
			
			
			merck(item){
				
				this.merinit=item
			},
			
			addgoodsmo(){
				this.broad={};
				this.merchandise={};
				$("#addgoodsmodal").modal("show");
			},
			addmer(){
				
				if(!this.merchandise.menuId){
					this.merchandise.menuId=this.broad.menuId
				}
				if(!this.merchandise.menuId||!this.merchandise.meName||!this.merchandise.meId){
					alert("商品名称与商品编码，商品大类不能为空！")
					return
				}

				let that=this;
				$.ajax({
					url:BaseUrl+"merchandise/addmer",
					type:"post",
					data:that.merchandise,
					success:function(result){
						if(result=="000001"){
							alert("编号不允许重复！")
						}else{
							var tr=document.getElementsByClassName("pintr2");
							for(var i=0;i<tr.length;i++){
								tr[i].style.background='none';
							}
							tr[0].style.background='sandybrown';
							$("#addgoodsmodal").modal("hide");
							that.findmer(that.menuinit.menuId)
						}
						
					}
					
				})
			},
			
			updategoodsmo(){
				if(this.merlist.length==0){
					alert("很抱歉，你暂未选择商品！")
					return
				}
				let formdata= JSON.parse(JSON.stringify(this.merinit))
				this.merchandise=formdata
				this.broad=this.merchandise.menuMerchandise
				$("#updategoodsmodal").modal("show");
			},
			
			updatemer(){
				this.merchandise.menuId=this.broad.menuId
				if(!this.merchandise.menuId||!this.merchandise.meName||!this.merchandise.meId){
					alert("商品名称与商品编码，商品大类不能为空！")
					return
				}
				this.merchandise.suppiler={};
				this.merchandise.menuMerchandise={};
				console.log(this.merchandise)
				let that=this;
				
				$.ajax({
					url:BaseUrl+"merchandise/updatemer",
					type:"post",
					data:that.merchandise,
					success:function(result){
						$("#updategoodsmodal").modal("hide");
						that.findmer(that.menuinit.menuId)
					}
					
				})
			},
			
			addfield(){
				$("#addfieldmodal").modal("show");
			},
			findgoodsmo(){
				$("#findgoodsmodal").modal("show");
			},
			
			//初始化
			init(){
				//this.findmer()
				this.merinit=this.merlist[0];
				
			},
		},
		created(){
			this.findmenu();
			this.findmer();
			this.findsupp();
			
		}
	});
	
	
	//新增修改商品大类遮罩层
	function showDiv(){
		document.getElementById('popDiv').style.display='block';
		document.getElementById('bg').style.display='block';
	}
	function closeDiv(){
		document.getElementById('popDiv').style.display='none';
		document.getElementById('bg').style.display='none';
	}
	
	
	
	//树形菜单
	$(function() {
			loadMenu(function (id){
				//window.location= '/index.php/index/baoku' + '/id/' + id + '.html';
			});
			//$('li[aid=]').css('background',"#F5F5F5");
	 
	 
		});
	 
	/*传入一个函数参数为 id 即li上的属性 aid*/
	function loadMenu (fun_clickAction) {
		/*事件回调函数*/
		clickAction = fun_clickAction;
		/*一级菜单的样式*/
		$(".lmenu > ul > li > span").prepend('<em class="icoclose"></em>');
		/*二级菜单的样式*/
		$(".lmenu > ul > li > ul > li").each(function(){
			/*检查是否有节点*/
			span = $(this).find("span"); 
			if ( span.length ){
				//有节点的话
				span.prepend('<em class="icoclose2"></em>');
			}else{
				//无节点的话,绑定事件
				$(this).prepend('<em class="iconleaf"></em>')
					   .click(function(){
							clickAction($(this).attr('aid'));
					   });
			}
		});
		/*三级菜单的样式*/
		$(".lmenu > ul > li > ul > li > ul > li")
			.prepend('<em class="iconleaf2"></em>')
			.click(function(){
				clickAction($(this).attr('aid'));
			});
			
	 
		$(document).on('click','.lmenu ul li span',function(){
			var ye = $(this).find('em');
			classNama = ye.attr("class");
			if( classNama == 'icoclose'){ye.attr('class','icoopen');}
			else if( classNama == 'icoopen' ){ye.attr('class','icoclose');}
			else if( classNama == 'icoclose2'){ye.attr('class','icoopen2');}
			else if( classNama == 'icoopen2' ){ye.attr('class','icoclose2');}
			$(this).siblings("ul").slideToggle("normal","swing");
		});
	}
	
	
	
	
	$(document).on('click','.broadid',function(){
		$(".lm2 span").css("color","#000000")
		$(".lm2 span").css("background","#ffffff")
		$("#ul1 ul").css("display","none")
	})
	
	$(document).on('click','.pintr2',function(){
		$(".pintr2").css("background","#ffffff")
		$(this).css("background","sandybrown")
	})
	
	$(document).on('click','.lm1 .span1',function(){
		$(".lm1 span").css("background","#ffffff")
		$(".lm1 span").css("color","#000000")
		$(this).css("background","#aaa")
		$(this).css("color","#ffffff")
		$(".pintr2").css("background","")
		$(".pintr2").eq(0).css("background","sandybrown")
	})
	
	$(document).on('click','.lm1 span',function(){
		$(".lm1 span").css("background","#ffffff")
		$(".lm1 span").css("color","#000000")
		$(this).css("background","#aaa")
		$(this).css("color","#ffffff")
	})
	
	
	$(document).on('click','.butt1',function(){
		$(".pintr2").css("background","")
		$(".pintr2").eq(0).css("background","sandybrown")
	})
	

	
	$(document).on('click','.lm2 span',function(){
		$(".lm2 span").css("background","#ffffff")
		$(".lm2 span").css("color","#000000")
		$(this).css("background","sandybrown")
		$(this).css("color","#ffffff")
	})
	
	$(".file1").mouseover(function(){
		$(this).css("background","#e7e7e7")
	}).mouseout(function(){
		$(this).css("background","")
	})
	
	$("#d1_body span").click(function(){
		$("#d1_body span").css("color","")
		$("#d1_body span").css("background","")
		$(this).css("background","#666")
		$(this).css("color","#ffffff")
	})
	
	$(document).ready(function(){
		$(".ul1 span").click(function(){
			$(".ul1 span").css("color","#000000")
			$(".ul1 span").css("background","")
			$(this).css("background","#666")
			$(this).css("color","#ffffff")
	});
});
	

	
</script>
	</body>
</html>
