<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	<link rel="stylesheet" href="../css/bootstrap.min.css" />
	</head>
		<style type="text/css">
			html,body{
				width: 100%;
				height: 100%;
			}
			#ctn{
				width: 99%;w
				height: 100%;
			}
			span{
				color: #31B0D5;
				font-size: 15px;
			}
			#find{
				width: 100%;
				margin-right: 20px;
				background: #f7f7f7;
			}
			input[type="text"]{
				color: #000000;	
				height: 20px;
				width: 150px;
			}
			
			tr{
				font-size: 12px;
			}
			
			#table{
				margin-left: 30px;
				width: 300px;
			}
			a{
				color: #000000;
			}
			img{
				vertical-align: middle;
			}
			
			
		</style>
	<body>
		<div id="ctn">
			<div class="row">
				<div class="col-sm-2">
					<h3>&nbsp;&nbsp;&nbsp;发动机品牌</h3>
				</div>
				<div class="col-sm-9"></div>
				<div class="col-sm-1">
					<br>
					<button class="btn btn-sm">关闭</button>
				</div>
			</div>
				
			<div id="find">
				<hr />
				<div>
					<div style="margin-left: 80%;">
						<span @click="toadd"><img src="../img/1.png" width="6%"><a href="javascript:void(0)" class="butt1">增加</a></span>
						<span><img src="../img/3.png" width="6%"><a href="javascript:void(0)" @click="remove">删除</a> </span>
						<span><img src="img/113.png" width="6%"><a href="javascript:void(0)" @click="carry">保存</a> </span>
						<span><img src="../img/6.png" width="6%"><a href="javascript:void(0)" @click="EngineExcel">导出</a> </span>
					</div>
					<br />
					<span class="a1" style="margin-left: 50px;" v-if="addtext">
						分类代码&nbsp;&nbsp;<input type="text" v-model="engine.eCoder" />
						&nbsp;&nbsp;&nbsp;
						分类名称&nbsp;&nbsp;<input type="text" v-model="engine.eName"/>
					</span>
					<span style="margin-left: 50px;" v-if="updatetext">
						分类代码&nbsp;&nbsp;<input type="text" v-model="application1.eCoder" />
						&nbsp;&nbsp;&nbsp;
						分类名称&nbsp;&nbsp;<input type="text" v-model="application1.eName"/>
					</span>
				</div>
				<br />
			</div>
			<div id="table">
				<table class="table table-bordered table-striped table-hover">
					<tr style="background: #39cede;">
						<td style="border: 1px solid #666; color: #FFFFFF;">发动机品牌编码</td>
						<td style="border: 1px solid #666; color: #FFFFFF;">发动机品牌名称</td>
					</tr>
					<tr class="pintr" v-for="item in list" @click="findbyengin(item)">
						<td>{{item.ecoder}}</td>
						<td>{{item.ename}}</td>
					</tr>
				</table>
			</div>
		</div>
<script src="../js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/vue.js"></script>		
<script>
		
	
	var BaseUrl="http://127.0.0.1:8080/";
	
	new Vue({
		el:"#ctn",
		data(){
			return{
				list:[],
				engine:{},
				application1:{
					eId:"",
					eCoder:"",
					eName:"",
				},
				addtext:true,
				updatetext:false,
			}
		},
		methods:{
			
			
			//导出
			EngineExcel(){
				window.location.href="http://127.0.0.1:8080/fileshan/EngineExcel";
			},
			
			//显示所有
			find(){
				let that=this;
				$.ajax({
					url:BaseUrl+"engine/findall",
					success:function(result){
						that.list=result;
						console.log(that.list)
					}
				})
			},
			
			toadd(){
				this.engine={};
				this.updatetext=false;
				this.addtext=true;
			},
			
			//添加
			add(){
				let that=this;
				$.ajax({
					url:BaseUrl+"engine/add",
					data:that.engine,
					dataType:"json",
					type:"post",
					success:function(result){
						console.log(result)
					},error:function(error){
						if(error.responseText=="新增成功"){
							alert(error.responseText)
						}
						if(error.responseText=="000001"){
							alert("编号不允许重复！")
						}
						that.engine={};
						that.find();
					}
				})
			},
			
			//删除
			remove(){
				let that=this;
				$.ajax({
					url:BaseUrl+"engine/remove/"+that.application1.eId,
					type:"get",
					success:function(result){
						that.application1={},
						that.addtext=false;
						that.updatetext=true;
						that.find()
					},error:function(error){
						that.addtext=false;
						that.updatetext=true;
						that.find();
					}
				})
			},
			
			//查询出选择qwe
			findbyengin(item){
				let that=this;
				$.ajax({
					url:BaseUrl+"engine/findbyid/"+item.eid,
					type:"get",
					success:function(result){
						console.log(result);
						that.$set(that.application1,"eId",result.eid);
						that.$set(that.application1,"eCoder",result.ecoder);
						that.$set(that.application1,"eName",result.ename);
// 						that.application1.eId=result.eid;
// 						that.application1.eCoder=result.ecoder;
// 						that.application1.eName=result.ename;
						that.addtext=false;
						that.updatetext=true;
						console.log(that.application1)
					}
				})
			},
			
			//修改
			update(){
				let that=this;
				$.ajax({
					url:BaseUrl+"engine/update",
					data:that.application1,
					dataType:"json",
					type:"post",
					success:function(result){
						console.log(result)
					},error:function(error){
						if(error.responseText=="修改成功"){
							alert(error.responseText)
						}
						that.find();
					}
				})
			},
				
			//执行新增修改
			carry(){
				if(this.addtext){
					this.add();
				};
				if(this.updatetext){
					this.update();
				}
			},
				
				
				
			
				
				
				
			
			
		},
		created() {
			this.find();
		}
		
	})
	
	$(document).on('click','.pintr',function(){
		$(".pintr").css("background","#ffffff")
		$(this).css("background","sandybrown")
	})
	
	$(document).on('click','.butt1',function(){
		$(".pintr").css("background","#ffffff")
	})
	
	
</script>
	</body>
</html>
