<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	<link rel="stylesheet" href="../css/bootstrap.min.css" />
	</head>
		<style type="text/css">
			html,body{
				width: 100%;
				height: 100%;
			}
			#ctn{
				width: 99%;
				height: 100%;
				
			}
				
			#find{
				width: 100%;
				margin-right: 20px;
				
			}
			input[type="text"]{
				height: 25px;
				width: 150px;
			}
			#table{
				width: 200px;
			}
			tr{
				font-size: 12px;
			}
			#theme{
				height: 88%;
				background: #f7f7f7;
			}
			
			.til{
				display: inline-block;
				padding-left: 10px;
				height: 25px;
				border-left: 4px solid sandybrown;
			}
			
			.must{
				display: inline-block;
				width: 5px;
				color: red;
			}
			
			.va{
				display: inline-block;
				color: #39cede;
				width: 70px;
			}
			
			.price input[type="text"]{
				width: 80px;
			}
			
			.item{
				width: 40px;
				background: #666;
			}
			.item td{
				border: 1px solid #666;
			}
			li{
				list-style: none;
			}
			a{
				color: #000000;
			}
			
			.pintr2:nth-of-type(2){
				background: sandybrown;
			}
			
		</style>
	<body>
		<div id="ctn">
			<div class="row">
				<div class="col-sm-2">
					<h3>&nbsp;&nbsp;&nbsp;维修项目</h3>
				</div>
				<div class="col-sm-6"></div>
				<div class="col-sm-3">
					<br />
					<input type="text" name="" placeholder="匹配编码/名称/名称简码" id="" value="" style="height: 30px;" v-model="maindimtext" />
					<button class="btn btn-warning btn-sm mainos" @click="maindim">搜索</button>
				</div>
				<div class="col-sm-1">
					<br>
					<button class="btn btn-sm" >关闭</button>
				</div>
			</div>
			<div id="theme">
				<div id="find">
					<hr />
				</div>
				
				<div class="row">
					<div class="col-sm-8">
						<div v-if="bott1">
							&nbsp;&nbsp;&nbsp;&nbsp;
							<img src="../img/1.png" width="2%"><a href="javascript:void(0)" @click="addservicemo">添加分类</a> 
							<img src="../img/2.png" width="2%"><a href="javascript:void(0)" @click="updateservicemo">修改分类</a> 
							<img src="../img/3.png" width="2%"><a href="javascript:void(0)" @click="removeservice">删除分类</a> 
						</div>
					</div>
					<div class="col-sm-3">
						<img src="../img/1.png" width="6%"><a href="javascript:void(0)" @click="addmainmo">增加</a> 
						<img src="../img/2.png" width="6%"><a href="javascript:void(0)" @click="updatemainmo">修改</a> 
						<img src="../img/3.png" width="6%"><a href="javascript:void(0)" @click="removemain" class="mainos">删除</a> &nbsp;
						<img src="../zenglianjun/img/tempsnip.png" width="4%"><a href="javascript:void(0)" @click="pricechangemo">调价</a> 
						<img src="img/QQ图片20210121164913.png" width="5%"><a href="javascript:void(0)">导出</a> 
					</div>
				</div>
				<br />
				
				<div style="width: 200px;height: 85%;margin-left: 0px; background: #ffffff;">
					<br />
					<div id="table" style="background: #ffffff;">
						<div id="d1">
						    <div id="d1_body">
						        <ul style="margin-left: -20px;" v-for="(item,index) in servicemenu">
						            <li>
										<img src="image/小房子.PNG" style="vertical-align: middle;" width="12%">
						                <span @click="doAction(index,item);"><a href="javascript:void(0)"><span class="servicename">{{item.serName}}</span></a></span>
						            </li>
						            <ul style="display:none;margin-left: -20px;font-size: 13px;"  :id="'u'+index">
						                <li v-for="item2 in item.services">
						               	<a href="#" @click="findmainlist([item2.serId],item2)">
						               		<img src="image/小房子2.PNG" style="vertical-align: middle;" width="12%">
						               		<span class="servicename servicenames">{{item2.serId}} <span style="font-size: 15px;">—</span> {{item2.serName}}</span>
						               	</a>
						               </li>
						            </ul>
						        </ul>
						    </div>
						</div>
					</div>
				</div>
				
				<div style="margin-left: 250px;margin-top: -550px; border: 0px solid #000000;background: #ffffff;height: 85%;">
					<table class="table table-bordered">
						<tr style="background: #39cede;">
							<td style="border: 1px solid #666; color: #FFFFFF;"></td>
							<td style="border: 1px solid #666; color: #FFFFFF;">项目类别</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">项目编码</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">项目名称</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">售价按</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">收入种类</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">标准价</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">会员价</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">VIP价</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">协议价</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">索赔价</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">保险价</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">备注</td>
						</tr>
						<tr class="pintr2" v-for="item in mainlist" @dblclick="danjiquzhi(item)" @click="mainclick(item)">
							<td class="item"></td>
							<td v-if="item.service">{{item.service.serName}}</td>
							<td>{{item.mid}}</td>
							<td>{{item.mname}}</td>
							<td v-if="item.service">{{item.service.service.serName}}</td>
							<td v-if="item.income">{{item.income.inName}}</td>
							<td>{{item.mnormalprice}}</td>
							<td>{{item.mmemberprice}}</td>
							<td>{{item.mvipprice}}</td>
							<td>{{item.mdetaprice}}</td>
							<td>{{item.mclaimprice}}</td>
							<td>{{item.msafetyprice}}</td>
							<td>{{item.mnote}}</td>
						</tr>
					</table>
				</div>
				
			</div>
			
			
			
			
			<!-- 模态框 -->
			
			<div id="modal">
				
				<!-- 新增服务项目 -->
				<div class="modal fade" id="addmainmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">
							<div class="row">
								<div class="col-sm-9">
									<span class="til">服务项目定义</span>
								</div>
								<div class="col-sm-1">
									<button type="button" class="btn btn-success" @click="addmain">保存</button>
								</div>
							</div>
							
							
						</h4>
				      </div>
				      <div class="modal-body">
				        	<div style="background:#f7f7f7 ;">
								<br />
								<p>
									<span class="must">*</span>
									<span class="va">项目编码</span>
									<input type="text" name="" id="" value="" v-model="main.mId" />
									<span class="must">*</span>
									<span class="va">项目名称</span>
									<input type="text" name="" id="" value="" v-model="main.mName"/>
								</p>
								<p>
									<span class="must">*</span>
									<span class="va">收入种类</span>
									<select style="width: 150px;height: 25px;" v-model="main.inId">
										<option v-for="item in gonglist" :value="item.inId">
											{{item.inName}}
										</option>
									</select>
									<span class="must">*</span>
									<span class="va">项目类别</span>
									<select style="width: 150px;height: 25px;" v-model="main.serId">
										<option v-for="item in type" :value="item.serId" >
											{{item.serName}}
										</option>
									</select>
								</p>
								<p>
									<span class="must"></span>
									<span class="va">备注</span>
									<input type="text" name="" id="" value="" style="width: 388px;" v-model="main.mNote" />
								</p>
								<p>
									<div class="price">
										<span class="must"></span>
										<span class="va">标准价</span>
										<input type="text" name="" id="" value="" v-model="main.mNormalprice" @input="price(main.mNormalprice)" />
										
										<span class="va">会员价</span>
										<input type="text" name="" id="" value="" v-model="main.mMemberprice" />
										
										<span class="va">VIP价</span>
										<input type="text" name="" id="" value="" v-model="main.mVipprice" />
									</div>
								</p>
								<p>
									<div class="price">
										<span class="must"></span>
										<span class="va">协议价</span>
										<input type="text" name="" id="" value="" v-model="main.mDetaprice" />
										
										<span class="va">索赔价</span>
										<input type="text" name="" id="" value="" v-model="main.mClaimprice" />
										
										<span class="va">保险价</span>
										<input type="text" name="" id="" value="" v-model="main.mSafetyprice" />
									</div>
								</p>
								<br />
							</div>
				      </div>
				     
				    </div>
				  </div>
				</div>
				
				
				
				
				<!-- 修改服务项目 -->
				<div class="modal fade" id="updatemainmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">
							<div class="row">
								<div class="col-sm-9">
									<span class="til">服务项目定义</span>
								</div>
								<div class="col-sm-1">
									<button type="button" class="btn btn-success" class="mainos" @click="updatemain">保存</button>
								</div>
							</div>
							
							
						</h4>
				      </div>
				      <div class="modal-body">
				        	<div style="background:#f7f7f7 ;">
								<br />
								<p>
									<span class="must">*</span>
									<span class="va">项目编码</span>
									<input type="text" name="" id="" v-model="main.mId" readonly="readonly"/>
									<span class="must">*</span>
									<span class="va">项目名称</span>
									<input type="text" name="" id="" value="" v-model="main.mName"/>
								</p>
								<p>
									<span class="must">*</span>
									<span class="va">收入种类</span>
									<select style="width: 150px;height: 25px;" v-model="main.inId">
										<option v-for="item in gonglist" :value="item.inId">
											{{item.inName}}
										</option>
									</select>
									<span class="must">*</span>
									<span class="va">项目类别</span>
									<select style="width: 150px;height: 25px;" v-model="main.serId">
										<option v-for="item in type" :value="item.serId" >
											{{item.serName}}
										</option>
									</select>
								</p>
								<p>
									<span class="must"></span>
									<span class="va">备注</span>
									<input type="text" name="" id="" value="" style="width: 388px;" v-model="main.mNote" />
								</p>
								<p>
									<div class="price">
										<span class="must"></span>
										<span class="va">标准价</span>
										<input type="text" name="" id="" value="" v-model="main.mNormalprice"  />
										
										<span class="va">会员价</span>
										<input type="text" name="" id="" value="" v-model="main.mMemberprice" />
										
										<span class="va">VIP价</span>
										<input type="text" name="" id="" value="" v-model="main.mVipprice" />
									</div>
								</p>
								<p>
									<div class="price">
										<span class="must"></span>
										<span class="va">协议价</span>
										<input type="text" name="" id="" value="" v-model="main.mDetaprice" />
										
										<span class="va">索赔价</span>
										<input type="text" name="" id="" value="" v-model="main.mClaimprice" />
										
										<span class="va">保险价</span>
										<input type="text" name="" id="" value="" v-model="main.mSafetyprice" />
									</div>
								</p>
								<br />
							</div>
				      </div>
				     
				    </div>
				  </div>
				</div>
				
				
				
				
				<!-- 添加分类 -->
				<div class="modal fade" id="addservicemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">
							<div class="row">
								<div class="col-sm-9">
									<span class="til">添加分类</span>
								</div>
								<div class="col-sm-1">
									<button type="button" class="btn btn-success" @click="addservice">保存</button>
								</div>
							</div>
							
							
						</h4>
				      </div>
				      <div class="modal-body">
				        	<div style="background:#f7f7f7;text-align: center;">
								<br />
								<p>
									<span class="must"></span>
									<span class="va">类别编码</span>
									<input type="text" name="" id="" value="" v-model="servicemax" />
								</p>
								<p>
									<span class="must"></span>
									<span class="va">类别名称</span>
									<input type="text" name="" id="" value="" v-model="service.serName" />
								</p>
								<br />
							</div>
				      </div>
				      <div class="modal-footer">
				        
				      </div>
				    </div>
				  </div>
				</div>
				
				
				<!-- 修改子类 -->
				<div class="modal fade" id="updateservicemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">
							<div class="row">
								<div class="col-sm-9">
									<span class="til">修改分类</span>
								</div>
								<div class="col-sm-1">
									<button type="button" class="btn btn-success" @click="updateservice">保存</button>
								</div>
							</div>
							
							
						</h4>
				      </div>
				      <div class="modal-body">
				        	<div style="background:#f7f7f7;text-align: center;">
								<br />
								<p>
									<span class="must"></span>
									<span class="va">类别编码</span>
									<input type="text" name="" id="" v-model="service.serId" readonly="readonly"/>
								</p>
								<p>
									<span class="must"></span>
									<span class="va">类别名称</span>
									<input type="text" name="" id="" v-model="service.serName" />
								</p>
								<br />
							</div>
				      </div>
				      <div class="modal-footer">
				        
				      </div>
				    </div>
				  </div>
				</div>
				
				
				<!-- 调价 -->
				<div class="modal fade" id="pricechangemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">
							<div class="row">
								<div class="col-sm-9">
									<span class="til">调价</span>
								</div>
								<div class="col-sm-1">
									<button type="button" class="btn btn-success" @click="priceclick">保存</button>
								</div>
							</div>
						</h4>
				      </div>
				      <div class="modal-body">
				        	<div style="background:#f7f7f7;">
								<br />
								<p>
									<p>
										<span class="must"></span>
										<span class="va"></span>
										<select style="width: 150px;height: 25px;" v-model="co">
											<option v-for="(item,index) in cost" :value="index">
												{{item.name}}
											</option>
										</select>
										<span class="must"></span>
										<span class="va">=  标准价 *</span>
										<input type="text" name="" id="" value="" v-model="mult" />
									</p>
								</p>
								<br />
							</div>
				      </div>
				      <div class="modal-footer">
				        
				      </div>
				    </div>
				  </div>
				</div>
				
				
				
			</div>
			
			
			
			
		</div>
		
<script src="../js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/vue.js"></script>		
<script>
	
// 	 function doAction(index){
// 	    var obj = document.getElementById('u' + index);
// 	    if(obj.style.display == 'none'){
// 	            obj.style.display = 'block';
// 	    }else{
// 	            obj.style.display = 'none';
// 	    }
// 	}
	
	
	
	
	
	
	var BaseUrl="http://127.0.0.1:8080/";
					var clickTimer = null;
	
	new Vue({
		el:"#ctn",
		data(){
			return{
				servicemenu:[],
				mainlist:[],
				//操作维修菜单按钮,默认隐藏
				bott1:false,
				//维修项目菜单初始化
				serviceinit:{},
				service:{},
				main:{},
				servicemax:null,
				temp1:true,
				//收费种类
				gonglist:[],
				//项目类别
				type:[],
				//临时刷新数据
				params:[],
				//维修进程初始化数据
				maininit:{},
				//调价
				cost:[
					{name:"自费",it:1},
					{name:"促销",it:1.2},
					{name:"三包",it:1.3},
					{name:"标准价",it:1.4},
					{name:"会员价",it:1.5},
					{name:"VIP价",it:1.6},
					{name:"协议价",it:1.7},
					{name:"索赔价",it:1.8},
					{name:"保险价",it:1.9}
				],
				mult:null,
				co:0,
				weixduixe1:{},
				maindimtext:null,
				data:{}
			}
		},
		methods:{
			open(){
				var url=window.location.search;
				this.data=this.getQueryString(url);
			},
			getQueryString(name) {
				var data = name.slice(1);
				data = data.split("&");
				var dataObj = {};
				data.forEach(item=>{
					var dataObj1 = item.split("=");
					for(var i = 0;i<dataObj1.length;i++){
						dataObj[dataObj1[i]] = decodeURIComponent(dataObj1[i+1]);
						break;
					}
				})
				return dataObj;
			},
			maindim(){
				if(this.maindimtext==null){
					this.maindimtext='975e65r45a4454a4d52s8a452d57';
				}
				var json = JSON.stringify(this.params);
				let that=this;
				$.ajax({
					url:BaseUrl+"maintenance/maindim/"+that.maindimtext,
					data:json,
					type:"post",
					contentType:"application/json;cahrset=utf-8",
					success:function(result){
						that.mainlist=result;
						that.maindimtext=null;
						if(that.mainlist!=null){
							that.mainclick(that.mainlist[0]);
						}
					},error:function(error){
						console.log(error)
					}
				})
			},
			
			priceclick(){
				this.cost[this.co].it=this.mult
				$("#pricechangemodal").modal("hide");
			},
			
			price(mNormalprice){
				this.main.mMemberprice=parseInt(mNormalprice*this.cost[4].it);
				this.main.mVipprice=parseInt(mNormalprice*this.cost[5].it);
				this.main.mDetaprice=parseInt(mNormalprice*this.cost[6].it);
				this.main.mClaimprice=parseInt(mNormalprice*this.cost[7].it);
				this.main.mSafetyprice=parseInt(mNormalprice*this.cost[8].it);
			},
			
			//维修项目菜单
			findmenu(){
				let that=this;
				$.ajax({
					url:BaseUrl+"maintenance/findmenu",
					success:function(result){
						that.servicemenu=result
						that.type=that.servicemenu[0].services;
					}
				})
			},
			
			//维修项目菜单效果
			doAction(index,item){
			    var obj = document.getElementById('u' + index);
					if(obj.style.display == 'none'){
			            obj.style.display = 'block';
						if(!this.bott1){	
							this.bott1=true;
						}
						var params = item.services.map(item=>item.serId);
						this.findmainlist(params,item);
						this.type=item.services;
					}else{
						obj.style.display = 'none';
					}
					this.serviceinit=item;
			},
			
			findmainlist(params,item){
				this.serviceinit=item;
				this.params=params;
				let that=this;
				var json = JSON.stringify(params);
				$.ajax({
					url:BaseUrl+"maintenance/findmain",
					data:json,
					type:"post",
					contentType:"application/json;cahrset=utf-8",
					success:function(result){
						that.mainlist=result;
						if(that.mainlist!=null){
							that.mainclick(that.mainlist[0]);
						}
					}
				})
			},
			
			addmainmo(){
				this.main={};
				if(this.main.serId==null&&this.type!=null){
					this.main.serId=this.type[0].serId
				}
				if(this.main.inId==null&&this.gonglist!=null){
					this.main.inId=this.gonglist[0].inId
				}
				$("#addmainmodal").modal("show");
				
			},
			
			//新增维修进程
			addmain(){
				let that=this;
				$.ajax({
					url:BaseUrl+"maintenance/addmain",
					type:"post",
					data:that.main,
					success:function(result){
						if(result=="000001"){
							alert("编号不允许重复！")
						}
						that.findmenu();
						that.findmainlist(that.params,[]);
						that.main={},
						$("#addmainmodal").modal("hide");
					}
				})
			},
			
			
			mainclick(item){
				this.maininit=item;
				if (clickTimer) {
					window.clearTimeout(clickTimer);
					clickTimer = null;
				}
				clickTimer = window.setTimeout(function() {
				}, 300);
			},
			danjiquzhi(item){
				if (clickTimer) {
					window.clearTimeout(clickTimer);
					clickTimer = null;
				}
				this.weixduixe1=item;
				console.log(this.weixduixe1)
				sessionStorage.setItem("wexjih",JSON.stringify(this.weixduixe1));
				location.href="http://127.0.0.1:8848/DeZhaoWen/zenglianjun/html/maintenance.html?"+this.data.action;
			},
			updatemainmo(){
				this.$set(this.main,"mId",this.maininit.mid);
				this.$set(this.main,"mName",this.maininit.mname);
				this.$set(this.main,"mNote",this.maininit.mnote);
				this.$set(this.main,"mNormalprice",this.maininit.mnormalprice);
				this.$set(this.main,"bId",this.maininit.bid);
 				this.$set(this.main,"serId",this.maininit.serId);
				this.$set(this.main,"inId",this.maininit.inId);
				this.$set(this.main,"mMemberprice",this.maininit.mmemberprice);
 				this.$set(this.main,"mVipprice",this.maininit.mvipprice);
 				this.$set(this.main,"mDetaprice",this.maininit.mdetaprice);
				this.$set(this.main,"mClaimprice",this.maininit.mclaimprice);
				this.$set(this.main,"mSafetyprice",this.maininit.msafetyprice);
				//this.$set(this.main,"",this.maininit.);
				$("#updatemainmodal").modal("show");
			},
			
			updatemain(){
				let that=this;
				$.ajax({
					url:BaseUrl+"maintenance/updatemain",
					data:that.main,
					type:"post",
					success:function(result){
						$("#updatemainmodal").modal("hide");
						that.findmenu();
						that.findmainlist(that.params,[]);
					}
				})
			},
			
			
			
			
			
			addservicemo(){
				if(this.serviceinit.serName=="车型"||this.serviceinit.serName=="发动机"){
					alert("只能定义车型，发动机外的分类！")
					return
				}
				this.findtemp1(this.serviceinit.serId,function(flag){
					if(flag==true){
						alert("只能定义车型，发动机外的分类！")
						return
					}
					$("#addservicemodal").modal("show");
				});
				
			},
			
			//添加维修项目菜单分类
			addservice(){
				this.service.serId=this.servicemax;
				this.service.serParent=this.serviceinit.serId;
				let that=this;
				$.ajax({
					url:BaseUrl+"maintenance/addservice",
					type:"post",
					data:that.service,
					success:function(result){
						if(result=="000001"){
							alert("编号不允许重复！")
						}
						that.findmenu();
						that.findmax();
						$("#addservicemodal").modal("hide");
					}
					
				})
			},
			
			updateservicemo(){
				if(this.serviceinit.serName=="车型"||this.serviceinit.serName=="发动机"){
					alert("只能定义车型，发动机外的分类！")
					return
				}
				this.findtemp1(this.serviceinit.serId,function(flag){
					if(flag==true){
						alert("只能定义车型，发动机外的分类！")
						return
					}
					$("#updateservicemodal").modal("show");
				});
				//解除双向绑定
				let formdata= JSON.parse(JSON.stringify(this.serviceinit))
				if(this.serviceinit.serName=="车型"||this.serviceinit.serName==="发动机"){
					alert("只能定义车型，发动机外的分类！")
					return
				}
				this.service=formdata;
			},
			
			updateservice(){
				this.service.services=[];
				this.service.service={};
				let that=this;
				console.log(that.service)
				$.ajax({
					url:BaseUrl+"maintenance/updateservice",
					data:that.service,
					type:"post",
					success:function(result){
						$("#updateservicemodal").modal("hide");
						that.findmenu();
						that.findmainlist(that.params,[]);
					}
				})
			},
			
			findmax(){
				let that=this;
				$.ajax({
					url:BaseUrl+"maintenance/findmax",
					success:function(result){
						that.servicemax=result+1;
					}
				})
			},
			
			findtemp1(serId,callback){
				let that=this;
				$.ajax({
					url:BaseUrl+"maintenance/findtemp1/"+serId,
					success:function(result){
						callback(result);
					}
				})
			},
			
			//收费标准
			findgong(){
				let that=this;
				$.ajax({
					url:BaseUrl+"maintenance/findgong",
					success:function(result){
						that.gonglist=result;
					}
				})
			},
			
			//项目类别
			findtype(serId){
				let that=this;
				$.ajax({
					url:BaseUrl+"maintenance/findtype/"+serId,
					success:function(result){
						that.type=result;
					}
				})
			},
			
			
			
			removeservice(){
				if(this.serviceinit.services){
					alert("删除只能选择子类")
					return
				}
				let that2=this;
				this.findtemp1(this.serviceinit.serId,function(flag){
					if(flag==true){
						alert("只能定义车型，发动机外的分类！")
						return
					}
					
					if(!confirm("删除项目类别时，连同下面的维修项目一起删除，是否确定？")){
						return
					}
					
					console.log(that2.serviceinit)
					let that=that2;
					$.ajax({
						url:BaseUrl+"maintenance/removeservice/"+that.serviceinit.serId,
						success:function(result){
							if(result=="000000"){
								window.location.reload();
							}
						}
					})
				});
			},
			
			removemain(){
				if(!confirm("删除此维修项目不可恢复，确认删除吗？")){
					return
				}
				let that=this;
				$.ajax({
					url:BaseUrl+"maintenance/removemain/"+that.maininit.mid,
					success:function(result){
						that.findmainlist(that.params,[]);
						that.maininit=that.mainlist[0];
					}
				})
			},
			
			
			
			pricechangemo(){
				$("#pricechangemodal").modal("show");
			}
			
		},
		created(){
			this.open();
			this.findgong();
			this.findmenu();
			this.findmainlist([],[]);
			this.findmax();

		},
		watch:{
			
		}
	});
	
	
	
	
	
	
	
	
	
	
	

	$(document).on('click','.pintr2',function(){
		$(".pintr2").css("background","#ffffff")
		$(this).css("background","sandybrown")
	})
	
	
	$(".file1").mouseover(function(){
		$(this).css("background","#e7e7e7")
	}).mouseout(function(){
		$(this).css("background","")
	})
	
	$("#d1_body span").click(function(){
		$("#d1_body span").css("color","")
		$("#d1_body span").css("background","")
		$(this).css("background","#666")
		$(this).css("color","#ffffff")
	})
	
	$(document).on('click','.servicename',function(){
		$(".servicename").css("background","#ffffff")
		$(".servicename").css("color","#000000")
		$(".pintr2").css("background","")
		$(".pintr2").eq(0).css("background","sandybrown")
		$(this).css("background","#666")
		$(this).css("color","#ffffff")
	})
	
	$(document).on('click','.mainos',function(){
		$(".pintr2").css("background","")
		$(".pintr2").eq(0).css("background","sandybrown")
	})
	
	
</script>
	</body>
</html>
