<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	<link rel="stylesheet" href="../css/bootstrap.min.css" />
	</head>
		<style type="text/css">
			html,body{
				width: 100%;
				height: 100%;
			}
			#ctn{
				width: 99%;
				height: 100%;
				
			}
				
			#find{
				width: 100%;
				margin-right: 20px;
				
			}
			input[type="text"]{
				height: 25px;
				width: 150px;
			}
			#table{
				width: 250px;
			}
			tr{
				font-size: 12px;
			}
			#theme{
				height: 88%;
				background: #f7f7f7;
			}
			.pintr{
				background: #ffffff;
			}
			.pintr2{
				background: #ffffff;
			}
			
			.va{
				display: inline-block;
				color: #39cede;
				width: 70px;
			}
			
			.til{
				display: inline-block;
				padding-left: 10px;
				height: 25px;
				border-left: 4px solid sandybrown;
			}
			
			.item{
				width: 40px;
				background: #666;
			}
			.item td{
				border: 1px solid #666;
			}
			
			.modal-body input[type="text"]{
				width: 120px;
				height: 30px;
			}
			
			.must{
				display: inline-block;
				width: 5px;
				color: red;
			}
			
			.fileinput-button {
				position: relative;
				display: inline-block;
				overflow: hidden;
			}

			.fileinput-button input{
				position:absolute;
				right: 0px;
				top: 0px;
				opacity: 0;
				-ms-filter: 'alpha(opacity=0)';
				font-size: 200px;
			}
			
			
			#div7{
				width: 20px;
				height: 340px;
				margin-left:490px;
				margin-top:-280px;
				border: 1px solid #19b5cc;
				background-color: #FFFFFF;
			}

			.span1{
				display: inline-block;
				margin-left: -7px;
				margin-top:110px;
				color: #19b5cc;
			}
			.span2{
				margin-left: -17px;
				display: inline-block;
				position: relative;
				top:90px;
				color: #19b5cc;
			}
			a{
				color: #000000;
			}
		
		
			.pintr:nth-of-type(2){
				background: sandybrown;
			}
			
			.pintr2:nth-of-type(2){
				background: sandybrown;
			}
		</style>
	<body>
		<div id="ctn">
			<div class="row">
				<div class="col-sm-2">
					<h3>&nbsp;&nbsp;&nbsp;品牌车型</h3>
				</div>
				<div class="col-sm-9"></div>
				<div class="col-sm-1">
					<br>
					<button class="btn btn-sm" >关闭</button>
				</div>
			</div>
			<div id="theme">
				<div id="find">
					<hr />
					<div class="row" style="margin-left: 20px;">
						<div class="col-sm-5" >
							<div>
								<img src="../img/1.png" width="3%"><a href="javascript:void(0)" @click="addbrandmo">增加品牌</a> 
								<img src="../img/2.png" width="3%"><a href="javascript:void(0)" @click="updatebrandmo">修改</a> 
								<img src="../img/3.png" width="3%"><a href="javascript:void(0)" @click="removebrand">删除</a> 
								
								<br /><br />
								<input type="text" placeholder="匹配 品牌编码/品牌名称/首字母" style="height: 30px;" v-model="branddimtext"/>
								<span><button class="btn btn-warning btn-sm" id="branddimbutton" @click="branddim" >搜索</button></span>
							</div>
						</div>
						<div class="col-sm-5" >
							<div>
								<img src="../img/1.png" width="3%"><a href="javascript:void(0)" @click="addcarmo">增加车型</a> 
								<img src="../img/2.png" width="3%"><a href="javascript:void(0)" @click="updatecarmo">修改</a> 
								<img src="../img/3.png" width="3%"><a href="javascript:void(0)" @click="carremove">删除</a> 
								<!-- <img src="img/111.PNG" width="3%"><a href="javascript:void(0)" @click="carimagemo">照片</a> -->
								<br /><br />
								<input type="text" placeholder="匹配 车型编码/车型名称" style="height: 30px;"  v-model="cardimtext"/>
								<span><button class="btn btn-warning btn-sm" id="cardimbutton" @click="cardim">搜索</button></span>
							</div>
						</div>
					</div>
					<br />
				</div>
				
				
				<div style="width: 300px;height: 75%;margin-left: 30px; background: #ffffff;">
					<div id="table" style="background: #ffffff;padding-bottom: 50px;">
						<table class="table table-bordered" id="pintable1">
							<tr style="background: #39cede;">
								<td style="border: 1px solid #666; color: #FFFFFF;"></td>
								<td style="border: 1px solid #666; color: #FFFFFF;">编码</td>
								<td style="border: 1px solid #666; color: #FFFFFF;">品牌名称</td>
								<td style="border: 1px solid #666; color: #FFFFFF;">首字母</td>
							</tr>
							<tr class="pintr" v-for="item,index in list" @click="pinclick(item)">
								<td class="item"></td>
								<td>{{item.bid}}</td>
								<td>{{item.bname}}</td>
								<td>{{item.binital}}</td>
							</tr>
						</table>
					</div>
				</div>
				<br /><br />
				<div style="margin-left: 400px;margin-top: -460px; border: 0px solid #000000;background: #ffffff;height: 80%;">
					<table class="table table-bordered table-striped" id="cartable">
						<tr style="background: #39cede;">
							<td style="border: 1px solid #666; color: #FFFFFF;"></td>
							<td style="border: 1px solid #666; color: #FFFFFF;">车型ID</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">车型名称</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">发动机品牌</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">参考价格</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">车辆年款</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">功率</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">燃油编号</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">载重</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">索赔厂商</td>
						</tr>
						<tr class="pintr2" v-for="item in carlist" @click="carclick(item)">
							<td class="item"></td>
							<td>{{item.ccoder}}</td>
							<td>{{item.reserved1}}</td>
							<td>{{item.engine.ename}}</td>
							<td>{{item.crefeprice}}</td>
							<td>{{item.cvehicle}}</td>
							<td>{{item.cpower}}</td>
							<td>{{item.cfuel}}</td>
							<td>{{item.cload}}kg</td>
							<td>{{item.suppiler.pName}}</td>
						</tr>
						
					</table>
				</div>
				
				
				<!-- 新增车型品牌模态框 -->
				<div class="modal fade" id="addenbrandmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">
							<span class="til">品牌定义</span>
						</h4>
				      </div>
				      <div class="modal-body">
				        	<div style="text-align: center;">
								<p>
									<span class="must">*</span>
									<span class="va">品牌编码</span>
									<input type="text" name="" id="" value="" v-model="brand.bId" />
								</p><br />
								<p>
									<span class="must">*</span>
									<span class="va">品牌名称</span>
									<input type="text" name="" id="" value="" v-model="brand.bName"/>
								</p><br />
								<p>
									<span class="must">*</span>
									<span class="va">首字母</span>
									<input type="text" name="" id="" value="" v-model="brand.bInital"/>
								</p><br />
							</div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-primary" @click="addbrand">保存</button>
				      </div>
				    </div>
				  </div>
				</div>
				
				
				<!-- 修改车型品牌模态框 -->
				<div class="modal fade" id="updateenbrandmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">
							<span class="til">品牌定义</span>
						</h4>
				      </div>
				      <div class="modal-body">
				        	<div style="text-align: center;">
								<p>
									<span class="must">*</span>
									<span class="va">品牌编码</span>
									<input type="text" name="" id="" v-model="brand.bId"  readonly="readonly"/>
								</p><br />
								<p>
									<span class="must">*</span>
									<span class="va">品牌名称</span>
									<input type="text" name="" id="" v-model="brand.bName" />
								</p><br />
								<p>
									<span class="must">*</span>
									<span class="va">首字母</span>
									<input type="text" name="" id="" v-model="brand.bInital" />
								</p><br />
							</div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-primary" @click="updatebrand">保存</button>
				      </div>
				    </div>
				  </div>
				</div>
				
				<!-- 新增车型模态框 -->
				<div class="modal fade" id="addcarmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">
							<span class="til">车型定义</span>
						</h4>
				      </div>
				      <div class="modal-body">
				        	<div style="width: 100%; background: #f7f7f7;padding-left: 15px;">
								<br />
								<p>
									<span class="must">*</span>
									<span class="va">车型品牌</span>
									<input disabled="disabled" style="width: 327px;" type="text" name="" id="" :value="brandapplocation.bname" />
								</p>
								<p>
									<span class="must">*</span>
									<span class="va">车型ID</span>
									<input type="text" name="" id="" value="" v-model="car.cCoder"/>
									<span class="must">*</span>
									<span class="va">车型名称</span>
									<input type="text" name="" id="" value="" v-model="car.reserved1" />
								</p>
								<p>
									
									<span class="must">*</span>
									<span class="va">进口国产</span>
									<select style="width: 120px;height: 30px;" v-model="car.dId">
										<option v-for="item in made" :value="item.did">{{item.dname}}</option>
									</select>
									
									<span class="must"></span>
									<span class="va">参考价格</span>
									<input type="text" name="" id="" value="" v-model="car.cRefeprice"/>
								</p>
								<p>
									<span class="must"></span>
									<span class="va">车辆年款</span>
									<input type="text" name="" id="" value="" v-model="car.cVehicle"/>
									<span class="must"></span>
									<span class="va">功率</span>
									<input type="text" name="" id="" value="" v-model="car.cPower"/>
								</p>
								<p>
									<span class="must"></span>
									<span class="va">燃油编号</span>
									<input type="text" name="" id="" value="" v-model="car.cFuel"/>
									<span class="must"></span>
									<span class="va">载重</span>
									<input type="text" name="" id="" value="" v-model="car.cLoad"/>
								</p>
								<p>
									<span class="must">*</span>
									<span class="va">索赔厂商</span>
									<select style="width: 150px;height: 30px;" v-model="car.pId">
										<option v-for="item in claim" :value="item.pId">{{item.pName}}</option>
									</select>
								</p>
								<p>
									<span class="must">*</span>
									<span class="va">发动机品牌</span>
									<select style="width: 327px;height: 30px;" v-model="car.eId">
										<option v-for="item in engine" :value="item.eid">{{item.ename}}</option>
									</select>
								</p>
								
								
								 <div align="center" id="div9" style="" v-if="false">
									<span class="btn btn-success fileinput-button" id="div7">
										<span class="span1">照</span>
										<span class="span2">片</span>
										<input type="file"  multiple name="file">
									</span>
								</div>
								
								
								<br />
							</div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-primary butt1" @click="addcar">保存</button>
				      </div>
				    </div>
				  </div>
				</div>
				
				
				
				
				<!-- 修改车型模态框 -->
				<div class="modal fade" id="updatecarmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">
							<span class="til">车型定义</span>
						</h4>
				      </div>
				      <div class="modal-body">
				        	<div style="width: 100%; background: #f7f7f7;padding-left: 15px;">
				        		<br />
				        		<p>
				        			<span class="must">*</span>
				        			<span class="va">车型品牌</span>
				        			<input disabled="disabled" style="width: 327px;" type="text" name="" id="" :value="brandapplocation.bname" />
				        		</p>
				        		<p>
				        			<span class="must">*</span>
				        			<span class="va">车型ID</span>
				        			<input type="text" name="" id="" value="" v-model="car.cCoder"/>
				        			<span class="must">*</span>
				        			<span class="va">车型名称</span>
				        			<input type="text" name="" id="" value="" v-model="car.reserved1" />
				        		</p>
				        		<p>
				        			
				        			<span class="must">*</span>
				        			<span class="va">进口国产</span>
				        			<select style="width: 120px;height: 30px;" v-model="car.dId">
				        				<option v-for="item in made" :value="item.did">{{item.dname}}</option>
				        			</select>
				        			
				        			<span class="must"></span>
				        			<span class="va">参考价格</span>
				        			<input type="text" name="" id="" value="" v-model="car.cRefeprice"/>
				        		</p>
				        		<p>
				        			<span class="must"></span>
				        			<span class="va">车辆年款</span>
				        			<input type="text" name="" id="" value="" v-model="car.cVehicle"/>
				        			<span class="must"></span>
				        			<span class="va">功率</span>
				        			<input type="text" name="" id="" value="" v-model="car.cPower"/>
				        		</p>
				        		<p>
				        			<span class="must"></span>
				        			<span class="va">燃油编号</span>
				        			<input type="text" name="" id="" value="" v-model="car.cFuel"/>
				        			<span class="must"></span>
				        			<span class="va">载重</span>
				        			<input type="text" name="" id="" value="" v-model="car.cLoad"/>
				        		</p>
				        		<p>
				        			<span class="must">*</span>
				        			<span class="va">索赔厂商</span>
				        			<select style="width: 150px;height: 30px;" v-model="car.pId">
				        				<option v-for="item in claim" :value="item.pId">{{item.pName}}</option>
				        			</select>
				        		</p>
				        		<p>
				        			<span class="must">*</span>
				        			<span class="va">发动机品牌</span>
				        			<select style="width: 327px;height: 30px;" v-model="car.eId">
				        				<option v-for="item in engine" :value="item.eid">{{item.ename}}</option>
				        			</select>
				        		</p>
				        		
				        		
				        		 <div align="center" id="div9" style="" v-if="false">
				        			<span class="btn btn-success fileinput-button" id="div7">
				        				<span class="span1">照</span>
				        				<span class="span2">片</span>
				        				<input type="file"  multiple name="file">
				        			</span>
				        		</div>
				        		
				        		
				        		<br />
				        	</div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-primary butt1" @click="updatecar">保存</button>
				      </div>
				    </div>
				  </div>
				</div>
				
				
				
				
				
				<!-- 照片模态框 -->
				<div class="modal fade" id="carimagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">
							<div class="row">
								<div class="col-sm-9">
									<span class="til">车型照片</span>
								</div>
								<div class="col-sm-1">
									<button type="button" class="btn btn-success">保存</button>
								</div>
							</div>
							
							
						</h4>
				      </div>
				      <div class="modal-body">
				        	<div style="background:#f7f7f7 ; height: 300px;">
								
							</div>
				      </div>
				      <div class="modal-footer">
				        
				      </div>
				    </div>
				  </div>
				</div>
				
				
			</div>
			
			
			
		</div>
		
<script src="../js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/vue.js"></script>		
<script>
	
	var BaseUrl="http://127.0.0.1:8080/";
	
	new Vue({
		el:"#ctn",
		data(){
			return{
				//品牌数据
				list:[],
				//车型数据
				carlist:[],
				//品牌对象
				brand:{},
				//车型对象
				car:{},
				//品牌初始化数据
				brandapplocation:{},
				//车型初始化数据
				carapplocation:{},
				//品牌模糊查询条件
				branddimtext:null,
				//车型模糊查询条件
				cardimtext:null,
				//进口国产
				made:[],
				//索赔商
				claim:[],
				//发动机品牌
				engine:[],
			}
		},
		methods:{
			//查出所有品牌
			findallpin(){
				let that=this;
				$.ajax({
					url:BaseUrl+"brand/findall",
					success:function(result){
						that.list=result;
						that.jud();
					}
				})
			},
			
			//查询出品牌下所有的车型
			findbyidcar(bid){
				let that=this;
				if(bid==null){
					bid=1
				}
				$.ajax({
					url:BaseUrl+"brand/findbyidcar/"+bid,
					type:"get",
					success:function(result){
						that.carlist=result;
						that.carjud();
					}
				})
			},
			
			//点击品牌刷新车型
			pinclick(item){
				this.findbyidcar(item.bid);
				this.brandapplocation=item;
			},
			
			//点击品牌刷新车型
			carclick(item){
				this.carapplocation=item;
			},
			
			//初始化未选择任何品牌,赋默认下标第一位的为选中
			jud(){
				if(this.brandapplocation.bid==null){
					this.brandapplocation=this.list[0];
				}
			},
			
			//初始化未选择任何车型,赋默认下标第一位的为选中
			carjud(){
				this.carapplocation=this.carlist[0];
			},
			
			
			
			//添加品牌模态框
			addbrandmo(){
				this.brand={},
				$("#addenbrandmodal").modal("show");
			},
			//添加品牌
			addbrand(){
				let that=this;
				$.ajax({
					url:BaseUrl+"brand/addbrand",
					type:"post",
					data:that.brand,
					dataType:"json",
					success:function(result){
						
					},
					error:function(error){
						if(error.responseText=="编号不能重复"){
							alert(error.responseText)
						}
						$("#addenbrandmodal").modal("hide");
						that.brand={};
						that.findallpin();
					}
				})
			},
			
			//删除品牌
			removebrand(){
				var hint=confirm("确认删除此品牌吗？删除此品牌会将该品牌下所有车系删除！")
				if(hint){
					let that=this;
					$.ajax({
						url:BaseUrl+"brand/removebrand/"+that.brandapplocation.bid,
						success:function(result){
							window.location.reload();
						}
					})
				}
			},
			
			//打开修改模态框
			updatebrandmo(){
				//解除双向绑定
				let formdata= JSON.parse(JSON.stringify(this.brandapplocation))
				this.brand={};
				this.brand.bId=formdata.bid;
				this.brand.bName=formdata.bname;
				this.brand.bInital=formdata.binital;
				$("#updateenbrandmodal").modal("show");
			},
			
			//执行修改
			updatebrand(){
				let that=this;
				$.ajax({
					url:BaseUrl+"brand/updatebrand",
					data:that.brand,
					type:"post",
					dataType:"json",
					success:function(result){
						console.log(result)
						$("#updateenbrandmodal").modal("hide");
						that.brandapplocation.bname=that.brand.bName;
						that.brandapplocation.binital=that.brand.bInital;
						that.findallpin();
					},error:function(errpr){
						console.log(errpr)
					}
				})
			},
			
			//进行品牌模糊查询
			branddim(){
				if(this.branddimtext==null){
					this.branddimtext='56d56f6e56d65e85ads8562ar52da96q57';
				}
				let that=this;
				$.ajax({
					url:BaseUrl+"brand/branddim/"+that.branddimtext,
					success:function(result){
						that.list=result;
						that.branddimtext=null;
					},error:function(error){
						console.log(error)
					}
				})
			},	
			
			//车型进行模糊查询
			cardim(){
				if(this.cardimtext==null){
					this.cardimtext='975e65r45a4454a4d52s8a452d57';
				}
				let that=this;
				$.ajax({
					url:BaseUrl+"brand/cardim/"+that.cardimtext+"/"+that.brandapplocation.bid,
					success:function(result){
						that.carlist=result;
						that.cardimtext=null;
					},error:function(error){
						console.log(error)
					}
				})
			},
			
			//删除车型
			carremove(){
				var hint=confirm("确认删除此车型吗？删除后不可恢复！")
				if(hint){
					let that=this;
					$.ajax({
						url:BaseUrl+"brand/removecar/"+that.carapplocation.cid,
						success:function(result){
							if(result=='000000'){
								that.findbyidcar(that.brandapplocation.bid);
								var tr=document.getElementsByClassName("pintr2");
								for(var i=0;i<tr.length;i++){
									tr[i].style.background='none';
								}
								tr[0].style.background='sandybrown';
							}
						}
					})
				}
			},
			
			
			//查询所有进口国产
			findmade(){
				let that=this;
				$.ajax({
					url:BaseUrl+"brand/findmade",
					success:function(result){
						that.made=result;
					}
				})
			},
			
			//查询所有索赔商
			findclaim(){
				let that=this;
				$.ajax({
					url:BaseUrl+"brand/findclaim",
					success:function(result){
						that.claim=result;
					}
				})
			},
			
			//查询所有发动机品牌
			findengine(){
				let that=this;
				$.ajax({
					url:BaseUrl+"brand/findengine",
					success:function(result){
						that.engine=result;
					}
				})
			},
			
			
			addcarmo(){
				this.car={};
				if(this.car.dId==null&this.made[0].did!=null){
					this.car.dId=this.made[0].did;
				};
				if(this.car.pId==null&this.claim[0].pid!=null){
					this.car.pId=this.claim[0].pid;
				};
				if(this.car.eId==null&this.engine[0].eid!=null){
					this.car.eId=this.engine[0].eid;
				};
				this.car.bId=this.brandapplocation.bid;
				$("#addcarmodal").modal("show");
			},

			addcar(){
				let that=this;
				$.ajax({
					url:BaseUrl+"brand/addcar",
					type:"post",
					data:that.car,
					dataType:"json",
					success:function(result){
						$("#addcarmodal").modal("hide");
						that.findbyidcar(that.brandapplocation.bid);
						that.car={};
					},
					error:function(error){
						console.log(error)
						if(error.responseText=="车型ID不能重复"){
							alert(error.responseText)
						}
						$("#addcarmodal").modal("hide");
						that.findbyidcar(that.brandapplocation.bid);
						that.car={};
						//that.findbyidcar();
					}
				})
			},
			updatecarmo(){
				//解除双向绑定
				let formdata= JSON.parse(JSON.stringify(this.carapplocation));
 				this.car={};
 				this.car.cId=formdata.cid;
				this.car.cCoder=formdata.ccoder;
				this.car.cRefeprice=formdata.crefeprice;
				this.car.cVehicle=formdata.cvehicle;
				this.car.cPower=formdata.cpower;
				this.car.cFuel=formdata.cfuel;
				this.car.cLoad=formdata.cload;
				this.car.eId=formdata.eid;
				this.car.dId=formdata.did;
				this.car.bId=formdata.bid;
				this.car.pId=formdata.pid;
				this.car.reserved1=formdata.reserved1;
				$("#updatecarmodal").modal("show");
			},
			
			updatecar(){
				let that=this;
				$.ajax({
					url:BaseUrl+"brand/updatecar",
					data:that.car,
					type:"post",
					dataType:"json",
					success:function(result){
						$("#updatecarmodal").modal("hide");
						that.findbyidcar(that.brandapplocation.bid);
					},error:function(error){
						if(error.responseText=="000001"){
							alert("车型ID不允许重复");
						}
						$("#updatecarmodal").modal("hide");
						that.findbyidcar(that.brandapplocation.bid);
					}
				})
			},
			
			
			
			
			carimagemo(){
				$("#carimagemodal").modal("show");
			},
			
			
		},
		created(){
			this.findallpin();
			this.findbyidcar(1);
			this.findmade();
			this.findclaim();
			this.findengine();
		}
	});
	
	
// 	var a=function(){
// 		var cartable2=document.getElementById("cartable").rows[1];
// 		cartable2.style.cssText = "background:sandybrown";
// 	}
	
	$(document).on('click','.pintr',function(){
		$(".pintr").css("background","#ffffff")
		$(this).css("background","sandybrown")
		$(".pintr2").css("background","#ffffff")
		$(".pintr2").eq(0).css("background","sandybrown");
	})
	$(document).on('click','.pintr2',function(){
		$(".pintr2").css("background","#ffffff")
		$(this).css("background","sandybrown")
	})
	
	$(document).on('click','#branddimbutton',function(){
		$(".pintr").css("background","#ffffff")
		$(".pintr").eq(0).css("background","sandybrown");
		
	})
	
	$(document).on('click','#cardimbutton',function(){
		$(".pintr2").css("background","#ffffff")
		$(".pintr2").eq(0).css("background","sandybrown");
		
	})
	
	$(document).on('click','.butt1',function(){
		$(".pintr2").css("background","#ffffff")	
			$(".pintr2").eq(0).css("background","sandybrown");
	})
	
</script>
	</body>
</html>
